/** 
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) 
 * http://cssreset.com 
 * Adapted for the idean-styleguide namespace
 */

#idean-styleguide [class*="idean-styleguide"] {
	margin: 0;	
	padding: 0;	
	border: 0;	
	font-size: 100%;	
	font: inherit;	
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	color: #3d423d;
	line-height: 1.4;
	float: none;
	text-align: left;
}

/* HTML5 display-role reset for older browsers */
#idean-styleguide {	
	line-height: 1;
	background: white;
}
article[class*="idean-styleguide"], aside[class*="idean-styleguide"], details[class*="idean-styleguide"], figcaption[class*="idean-styleguide"], figure[class*="idean-styleguide"], footer[class*="idean-styleguide"], header[class*="idean-styleguide"], hgroup[class*="idean-styleguide"], menu[class*="idean-styleguide"], nav[class*="idean-styleguide"], section[class*="idean-styleguide"] {	
	display: block;
}
ol[class*="idean-styleguide"], ul[class*="idean-styleguide"] {	
	list-style: none;
}
blockquote[class*="idean-styleguide"], q[class*="idean-styleguide"] {	
	quotes: none;
}
blockquote[class*="idean-styleguide"]:before, blockquote[class*="idean-styleguide"]:after,q[class*="idean-styleguide"]:before, q[class*="idean-styleguide"]:after {	
	content: '';	
	content: none;
}
table[class*="idean-styleguide"] {	
	border-collapse: collapse;	border-spacing: 0;
}
#idean-styleguide .idean-styleguide-link{
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}
#idean-styleguide .idean-styleguide-link:hover{
	text-decoration: underline;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.clearfix{
    *zoom: 1;
}

/* HEADER */
#idean-styleguide .idean-styleguide-header{
	height: 60px;
	background: #f1f2f0;
}
#idean-styleguide .idean-styleguide-title{
	color: #75c03a;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	font-weight:bold;
}

/* TITLES */
#idean-styleguide .idean-styleguide-section-title{
	color: #75c03a;
	text-align: center;
	font-size: 27px;
	line-height: 40px;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 10px 0;
	border-bottom: 2px solid #f1f2f0;
	text-transform: none;
}
#idean-styleguide .idean-styleguide-section-heading{
	font-size: 20px;
	margin: 30px 0 10px;
	font-weight: bold;
	text-transform: uppercase;
}

#idean-styleguide .idean-styleguide-description{
	margin:10px 0 30px;
}

#idean-styleguide .idean-styleguide-collapse{
	color: #75c03a;
	display: block;
	text-align: right;
	font-family: Georgia, serif;
	font-style: italic;
	padding:5px 10px;
}

/* COLOUR SELECTOR */
#idean-styleguide .idean-styleguide-colors-grid-sample {
	position: relative;
	float: left;
	height: 0;
	width: 24%;
	padding-bottom: 24%;
	margin: 0.5%;
}

#idean-styleguide .idean-styleguide-colors-grid-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#idean-styleguide .idean-styleguide-colors-list-sample {
	margin: 5px 0px;
	padding: 15px;
	text-align: center;
}

/* PAGE RESPONSIVENESS */
#idean-styleguide .idean-styleguide-responsive-section,
#idean-styleguide .idean-styleguide-section{
	width: 980px;
	margin: 0 auto 50px;
	padding: 20px 0;
}
@media (min-width: 1200px) {
	#idean-styleguide .idean-styleguide-responsive-section{
		width: 1170px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#idean-styleguide .idean-styleguide-responsive-section{
		width: 724px;
	}
	#idean-styleguide .idean-styleguide-colors-grid-sample {
		width: 32%;
		padding-bottom: 32%;
	}
}
@media (max-width: 767px) {
	#idean-styleguide .idean-styleguide-responsive-section{
		width: auto;
	}
	#idean-styleguide .idean-styleguide-colors-grid-sample {
		width: 49%;
		padding-bottom: 49%;
	}
}

/* FOOTER */
#idean-styleguide .idean-styleguide-footer{
	background-color: #2b2b2b;
	padding: 20px;
}
#idean-styleguide .idean-styleguide-branding{
	display: block;
	text-align: center;
	color: #fff;
}

/* MENU */
#idean-styleguide .idean-styleguide-menu{
	position: fixed;
	top:10px;
	bottom:10px;
	left:-300px;
	display: block;
	background: #75c03a;
	padding: 20px 0 20px 0px;
	width:300px;
	box-sizing:border-box;
	z-index: 10;

	-webkit-box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.2);

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#idean-styleguide .idean-styleguide-menu-container{
	height: 100%;
	width: 100%;
	overflow: auto;
	padding-right: 20px;
}
#idean-styleguide .idean-styleguide-menu.open{
	left:0;
}

#idean-styleguide .idean-styleguide-menu-button{
	position: absolute;
	right: -50px;
	top:0;
	background: #75c03a;
}


/** ===================================================
  * Animated menu icon
  * Tweeked from CSS Animated menus: http://sarasoueidan.com/blog/navicon-transformicons/;
  * ===================================================*/
#idean-styleguide .idean-styleguide-menu-button{
    display: inline-block;
    padding: 13px 8px 19px 7px;
    transition: .3s;
    cursor: pointer;
    border-radius: 0 7px 7px 0;
}
#idean-styleguide .idean-styleguide-menu-button:hover{ opacity: 1; }

#idean-styleguide .idean-styleguide-menu-button .lines{ 
    display: inline-block;
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 2.5px;
    position: relative;
    transition: background .3s .4s ease;
}
#idean-styleguide .idean-styleguide-menu-button .lines:before, 
#idean-styleguide .idean-styleguide-menu-button .lines:after{
	display: inline-block;
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 2.5px;
    position: absolute;
    left:0;
    content: '';
    transform-origin: 50% 50%;
    transition: top .3s .4s ease, transform .3s ease;
}
#idean-styleguide .idean-styleguide-menu-button .lines:before{ top: 8.75px; }
#idean-styleguide .idean-styleguide-menu-button .lines:after{ top: -8.75px; }

#idean-styleguide .idean-styleguide-menu-button:hover .lines:before{ top: 10px; }
#idean-styleguide .idean-styleguide-menu-button:hover .lines:after{ top: -10px; }


#idean-styleguide .idean-styleguide-menu-button.close .lines{ 
	transition: background .3s 0s ease;
	background: transparent;
}
#idean-styleguide .idean-styleguide-menu-button.close .lines:before,
#idean-styleguide .idean-styleguide-menu-button.close .lines:after{
	transition: top .3s ease, transform .3s .5s ease;      
	top:0;
	width: 35px;
}
#idean-styleguide .idean-styleguide-menu-button.close .lines:before{ transform: rotate3d(0,0,1,45deg); } 
#idean-styleguide .idean-styleguide-menu-button.close .lines:after{ transform: rotate3d(0,0,1,-45deg); } 



#idean-styleguide .idean-styleguide-menu ul{
	padding: 0;
	margin: 0;
}
#idean-styleguide .idean-styleguide-menu li{
	margin: 0px;
	list-style: none;
	color: #fff;
}
#idean-styleguide .idean-styleguide-menu .idean-styleguide-link{
	color: #f1f2f0;
	display: block;
	padding: 5px 10px;
}
#idean-styleguide .idean-styleguide-menu .idean-styleguide-link:hover{
	background: #f1f2f0;
	color: #75c03a;
	text-decoration: none;
}
#idean-styleguide .idean-styleguide-menu .idean-styleguide-link.active{
	color: #fff;
	font-family: Georgia, serif;
	font-style: italic;
}
#idean-styleguide .idean-styleguide-menu .idean-styleguide-link.active:hover{
	color: #75c03a;
}

#idean-styleguide .idean-styleguide-menu ul ul{
	background: #6cb336;
	-webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);
}
#idean-styleguide .idean-styleguide-menu ul ul ul{ background: #64a632; }
#idean-styleguide .idean-styleguide-menu ul ul ul ul{ background: #5c992e; }
#idean-styleguide .idean-styleguide-menu ul ul ul ul ul { background: #558c2a; }
#idean-styleguide .idean-styleguide-menu ul ul ul ul ul ul{ background: #4d8026; }


#idean-styleguide .idean-styleguide-menu ul ul .idean-styleguide-link{ padding-left: 15px; }
#idean-styleguide .idean-styleguide-menu ul ul ul .idean-styleguide-link{ padding-left: 20px; }
#idean-styleguide .idean-styleguide-menu ul ul ul ul .idean-styleguide-link{ padding-left: 25px; }
#idean-styleguide .idean-styleguide-menu ul ul ul ul ul .idean-styleguide-link{ padding-left: 30px; }
#idean-styleguide .idean-styleguide-menu ul ul ul ul ul ul .idean-styleguide-link{ padding-left: 35px; }

#idean-styleguide .idean-styleguide-demo-block{
	padding: 0px 0px 30px 0px;
	position: relative;
	border-radius: 3px;
}
#idean-styleguide .idean-styleguide-fullscreen{
	position: absolute;
	bottom: 0;
	right:0;
	color: #75c03a;
	display: block;
	text-align: right;
	font-family: Georgia, serif;
	font-style: italic;
	padding: 5px 10px;
}

#idean-styleguide .idean-styleguide-popup{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100;
	background:rgba(255,255,255,0.9);
}
#idean-styleguide .idean-styleguide-popup-code{
	width: 100%;
	max-height: 100%;
}

#idean-styleguide .idean-styleguide-popup-close{
	display: block;
	background: #75c03a;
	color: white;
	display: block;
	text-align:center;
	font-family: Georgia, serif;
	font-style: italic;
	padding: 5px 10px;
}

#idean-styleguide-clipboard-container{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	z-index: 100;
	opacity: 0;
	display: none;
}
#idean-styleguide-clipboard-container.open{
	display: block;
}
#idean-styleguide-clipboard-text{
	width: 1px;
	height: 1px;
	padding: 0px;
}



/* http://prismjs.com/download.html?themes=prism&languages=markup */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

#idean-styleguide code[class*="language-"],
#idean-styleguide pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

#idean-styleguide pre[class*="language-"]::-moz-selection, #idean-styleguide pre[class*="language-"] ::-moz-selection,
#idean-styleguide code[class*="language-"]::-moz-selection, #idean-styleguide code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

#idean-styleguide pre[class*="language-"]::selection, #idean-styleguide pre[class*="language-"] ::selection,
#idean-styleguide code[class*="language-"]::selection, #idean-styleguide code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	#idean-styleguide code[class*="language-"],
	#idean-styleguide pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
#idean-styleguide pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

#idean-styleguide .idean-styleguide-code{
	margin:20px 0;
}

#idean-styleguide .idean-styleguide-selected-message{
	display: none;
	background: #75c03a;
	color: white;
	text-align:center;
	font-family: Georgia, serif;
	font-style: italic;
	padding: 5px 10px;
}

#idean-styleguide .idean-styleguide-code{
	background: #f1f2f0;
}
#idean-styleguide .idean-styleguide-code.selected{
	background: #ededed;
}
#idean-styleguide .idean-styleguide-code.selected .idean-styleguide-selected-message{
	display: block;
}

#idean-styleguide .token.comment,
#idean-styleguide .token.prolog,
#idean-styleguide .token.doctype,
#idean-styleguide .token.cdata {
	color: slategray;
}

#idean-styleguide .token.punctuation {
	color: #999;
}

#idean-styleguide .namespace {
	opacity: .7;
}

#idean-styleguide .token.property,
#idean-styleguide .token.tag,
#idean-styleguide .token.boolean,
#idean-styleguide .token.number,
#idean-styleguide .token.constant,
#idean-styleguide .token.symbol,
#idean-styleguide .token.deleted {
	color: #905;
}

#idean-styleguide .token.selector,
#idean-styleguide .token.attr-name,
#idean-styleguide .token.string,
#idean-styleguide .token.char,
#idean-styleguide .token.builtin,
#idean-styleguide .token.inserted {
	color: #690;
}

#idean-styleguide .token.operator,
#idean-styleguide .token.entity,
#idean-styleguide .token.url,
#idean-styleguide .language-css .token.string,
#idean-styleguide .style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

#idean-styleguide .token.atrule,
#idean-styleguide .token.attr-value,
#idean-styleguide .token.keyword {
	color: #07a;
}

#idean-styleguide .token.function {
	color: #DD4A68;
}

#idean-styleguide .token.regex,
#idean-styleguide .token.important,
#idean-styleguide .token.variable {
	color: #e90;
}

#idean-styleguide .token.important,
#idean-styleguide .token.bold {
	font-weight: bold;
}
#idean-styleguide .token.italic {
	font-style: italic;
}

#idean-styleguide .token.entity {
	cursor: help;
}

