%is-hidden,
.is-hidden {
  display: none !important; 
}

.is-center {
  text-align: center;
}

.is-center-mobile {
  text-align: center;

  @include breakpoint($small) {
    text-align: left;
  }
}

.is-text {
  img {
    display: none;
  }
}

.is-toggleable-mobile {
  &:after {
    @include icon($icon-plus);
    @include font-size(12px);
    color: $blue;
    margin-left: 0.75em;
    vertical-align: middle;
  }

  &.is-active:after {
    @include icon($icon-minus);
  }

  @include breakpoint($small) {
    &:after {
      display: none;
    }
  }
}

.is-overflown {
  overflow: visible;
}

.is-overflow-expandable {
  position: relative;
}

.is-hidden--mobile {
  display: none;

  @include breakpoint($small) {
    display: block;
  }
}

.is-tel {
  @include breakpoint($small) {
    color: $black;
  }
}

.is-unpublished {
  &:before {
    background: $red;
    content: "Unpublished";
    color: $white;
    padding: 1px 5px;
    z-index: 1000;
  }
}
