
/*
	section: 1
	title:Buttons
 */

@colour:#fff;
@colour2:#ccc;

/*
	section: 1.1
	title:Basic Buttons
	description:Basic buttons for the website
 */
/*
	section: 1.1.1
	template:button_1
	title:Button 1
	description:Button 1 is red, huge and attention grabbing, must be used for call to actions
 */
.button1{

}

/*
	section: 1.1.2
	template:button_2
	title:Button 2
	description:Button 2 is a highlight of blue instead of red, has a hover state of yellow: and should be used to make people happy
 */
.button2{

}

/*
	section: 2.1.2
	template:test_2
	title:Block 2
	description:Block 2 is defined before 1 in the CSS
 */
.test1{

}
/*
	section: 2.1.1
	template:test_1
	title:Block demo 1
	description:Block 1 is first on the page, despite the fact that...
 */
.test2{

}
/*
section: 3.1
title: Base Colors
color-list: grid
*/