
$icon-add-to-todo-list: "\EA01";

$icon-arrow: "\EA03";

$icon-avatar-group: "\EA04";

$icon-avatar: "\EA05";

$icon-bachelor: "\EA06";

$icon-camera: "\EA07";

$icon-chat: "\EA08";

$icon-date: "\EA09";

$icon-discover: "\EA0A";

$icon-done: "\EA0B";

$icon-download: "\EA0C";

$icon-drag: "\EA0D";

$icon-drop-down: "\EA0E";

$icon-edit-event: "\EA0F";

$icon-edit: "\EA10";

$icon-events: "\EA11";

$icon-facebook: "\EA12";

$icon-favorites: "\EA13";

$icon-grid: "\EA14";

$icon-hamburger: "\EA15";

$icon-home: "\EA16";

$icon-hy-logo: "\EA17";

$icon-info-stroke: "\EA18";

$icon-info: "\EA19";

$icon-link-arrow-offsite: "\EA1A";

$icon-link-arrow: "\EA1B";

$icon-linkedin: "\EA1C";

$icon-list: "\EA1D";

$icon-location: "\EA1E";

$icon-log: "\EA1F";

$icon-logout: "\EA20";

$icon-magnify-minus: "\EA21";

$icon-magnify-plus: "\EA22";

$icon-master: "\EA23";

$icon-minus: "\EA24";

$icon-modify: "\EA25";

$icon-navi-triangle: "\EA26";

$icon-new-group: "\EA27";

$icon-new-person: "\EA28";

$icon-notification: "\EA29";

$icon-opinder-logo-new: "\EA2A";

$icon-pdf: "\EA2B";

$icon-people: "\EA2C";

$icon-person-outline: "\EA2D";

$icon-person: "\EA2E";

$icon-plus: "\EA2F";

$icon-profile: "\EA30";

$icon-question: "\EA31";

$icon-remove: "\EA32";

$icon-rotate-left: "\EA33";

$icon-rotate-right: "\EA34";

$icon-search: "\EA35";

$icon-time: "\EA36";

$icon-todo-list: "\EA37";

$icon-tour: "\EA38";

$icon-twitter: "\EA39";

$icon-units-and-faculties: "\EA3A";

$icon-video: "\EA3B";

$icon-warning: "\EA3C";

$icon-id-number: "\EA3E";

$icon-mail: "\EA3F";

$icon-mobile: "\EA40";

$icon-opinder-logo: "\EA41";

$icon-permission-all: "\EA42";

$icon-permission-group: "\EA43";

$icon-permission-private: "\EA44";

$icon-phone: "\EA45";

$icon-preview: "\EA46";

$icon-url: "\EA47";

$icon-instagram: "\EA48";

$icon-login: "\EA49";

$icon-spinner: "\EA4A";

$icon-bullet-list: "\EA4C";

$icon-contentlink: "\EA4D";

$icon-customlink: "\EA4E";

$icon-dragbutton: "\EA4F";

$icon-embed: "\EA51";

$icon-feed: "\EA52";

$icon-file-text: "\EA53";

$icon-helsinginyliopisto: "\EA54";

$icon-horizontal-resize: "\EA55";

$icon-image-gallery: "\EA56";

$icon-images: "\EA57";

$icon-leiki-list: "\EA58";

$icon-listoflinks: "\EA59";

$icon-play: "\EA5A";

$icon-wrench: "\EA5B";

$icon-youtube: "\EA5D";

$icon-link-arrow-down: "\EA5E";

$icon-link-arrow-left: "\EA5F";

$icon-link-arrow-up: "\EA60";

$icon-code-fork: "\EA61";

$icon-cogs: "\EA62";

$icon-external-link: "\EA63";

$icon-globe: "\EA64";

$icon-image: "\EA65";

$icon-arrow-down: "\EA66";

$icon-arrow-left: "\EA67";

$icon-arrow-right: "\EA68";

$icon-arrow-up: "\EA69";

$icon-arrow-offsite: "\EA6C";

$icon-caret-down: "\EA6D";

$icon-caret-left: "\EA6E";

$icon-caret-up: "\EA70";

$icon-caret-right: "\EA71";

$icon-list-as-blocks: "\EA72";

$icon-social-media: "\EA73";

$icon-dot: "\EA74";

$icon-google-plus: "\EA75";

$icon-share: "\EA76";

$icon-heart: "\EA77";

$icon-retweet: "\EA78";

$icon-square-checked: "\EA79";

$icon-square: "\EA7A";

$icon-eye-slash: "\EA7B";

$icon-full-screen: "\EA7C";
