/*
 section: 4
 title: Forms
 description: Description about forms.
*/

/*
 section: 4.1
 title: Forms, Basic
 description: Basic form elements.
*/

/*
 section: 4.1.1
 title: Forms, Select
 template: 4_1_1_forms-select
 description: Select form element.
*/

//Moved to common elements

/*
 section: 4.1.2
 title: Forms, Checkbox
 template: 4_1_2_forms-checkbox
 description: Checkbox form element.
*/
.form-type-checkbox { //TODO: Refactor
  input {
    display: none;
  }

  input[type=checkbox]:checked + label:before {
    @include font-weight-medium;
    @include font-size(16px);
    color: $blue;
    content: "x";
    line-height: 11px;
    text-align: center;
  }

  label {
    @include font-size(13px);
    @include font-weight-medium;
    color: $gray;
    cursor: pointer;
    display: inline-block;
    line-height: 19px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-left: 25px;
    position: relative;
  }

  label:before {
    border: 1px solid $blue;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    top: 2px;
    width: 16px;
  }

  @include breakpoint($small) {
    // @include reset-columns;
    clear: both;
  }
}

/*
 section: 4.1.3
 title: Forms, Radio
 template: 4_1_3_forms-radio
 description: Radio form element.
*/
.form-type-radio { //TODO: Refactor
  clear: right;
  &:last-child {
    margin-bottom: 1em;
  }
  input {
    display: none;
  }

  input[type=radio]:checked + label:before {
    @include font-size(30px);
    color: $blue;
    content: "\2022";
    line-height: 14px;
    text-align: center;
  }

  label {
    @include font-size(13px);
    @include font-weight-medium;
    color: $gray;
    cursor: pointer;
    display: inline-block;
    line-height: 19px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 25px;
    position: relative;
  }

  label:before {
    border: 1px solid $blue;
    border-radius: 8px;
    content: "";
    display: inline-block;
    height: 16px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    top: 2px;
    width: 16px;
  }
}

/*
 section: 4.1.4
 title: Forms, Input
 template: 4_1_4_forms-input
 description: input form element.
*/
.form-type-text { //TODO: Refactor
  input {
    @include font-size(16px);
    @include font-weight-medium;
    border: 1px solid darken($lightsilver, 20%);
    color: $gray;
    padding: 10px;
    width: 100%;

    &.form-submit {
      background-color: $blue;
      color: $white;
      padding: 10px 30px;
      width: auto;
    }

    &.error {
      border: 1px solid $brown;
    }
  }

  @include breakpoint($small) {
    //@include grid-span(8);

    &:nth-child(even) {
      // Todo: what's omega?
      //@include grid-span(8, omega);
    }
  }

  label {
    @include subtitle-thin;

    .form-required {
      @include subtitle;
      color: $blue;
    }
  }

  .description {
    @include font-size(12px);
    @include font-weight-medium;
    color: $gray;
    margin-top: 5px;
  }
}

/*
 section: 4.1.5
 title: Forms, Textarea
 template: 4_1_5_forms-textarea
 description: Textarea form element.
*/
//Moved to common elements

/*
 section: 4.1.6
 title: Forms, Submit
 template: 4_1_6_forms-submit
 description: Submit form element.
*/
//Moved to common elements
