/*
 section: 4.2
 title: Search form
 template: 4_2_search-form
 description: The search form for normal and mobile browsers.
*/

.form-type-search { //TODO: Refactor
  position: relative;

  @include breakpoint($mobile-only) {
    background-color: $black;
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 14px 52px;
    width: 100%;

    form {
      position: relative;
    }
  }

  @include breakpoint($small) {
    position: relative;
  }
}

.form-type-search input[type="text"] {
  background: $darkgray;
  border: none;
  color: $white;
  line-height: 34px;
  margin-bottom: 0;
  max-width: 100%;
  min-height: 34px;
  padding-left: 12px;
  padding-right: 34px;
  width: 100%;

  &:focus {
    outline-color: $blue;
  }

  @include breakpoint($small) {
    @include font-size(12px);
  }
}

.form-type-search input[type="submit"] {
  @extend %button;
  @include icon();
  background-color: transparent;
  height: 36px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;

  .search-form__input:focus + & {
    color : $blue;

    &:hover {
      color: $white;
    }
  }
}

