html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/*
  section: 3
  title: Common elements
  description: Description about common elements.
*/

html {
  @include font-family-main;
}

body {
  color: $gray;
}

img {
  vertical-align: bottom;
}

/*
  section: 3.1
  title: Headings
  template: 3_1_headings
  description: Description about headings.
*/

h1, h2, h3, h4, h5, h6 {
  @include font-family-main;
  color: $darkgray;
  letter-spacing: -0.05em;
  line-height: 1.2em;
  margin: 0;
  padding-bottom: 0.2em;
  text-transform: uppercase;
  word-wrap: break-word;

  a {
    // TODO: Color inherit
    color: $darkgray;
    text-decoration: none;

    &:hover {
      color: $darkgray;
      cursor: pointer;
    }
  }
}

h1 {
  @include font-size(36px);
  letter-spacing: -2px;
  line-height: 1.15em;

  @include breakpoint($small) {
    @include font-size(44px);
  }
}

h2 {
  @include font-size(25px);

  @include breakpoint($medium) {
    @include font-size(35px);
  }
}

h3 {
  @include font-size(28px);
}

h4 {
  @include font-size(19.2px);
}

/*
  section: 3.2
  title: Paragraph
  template: 3_2_paragraphs
  description: Description about paragraph.
*/

p {
  @include text-paragraph;
}

/*
  section: 3.3
  title: Links
  template: 3_3_links
  description:
*/

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $darkblue;
  }
}

/*
  section: 3.4
  title: Blockquote
  description:
*/

/*
  section: 3.4.1
  title: Blockquote
  template: 3_4_1_blockquote
  description:
*/
blockquote {
  @include font-size(20px);
  @include font-weight-book;
  border-left: 10px solid $silver;
  color: $silver;
  line-height: 1.1em;
  margin: 20px 10px;
  padding: 10px 25px;
}

/*
  section: 3.4.2
  title: Blockquote paragraph
  template: 3_4_2_blockquote-paragraph
  description: Blockquote with a p-element inside.
*/
blockquote p {
  @include font-size(22px);
  @include font-weight-book;
  color: $silver;
  display: inline;
  line-height: 1.1em;
}

/*
  section: 3.5
  title: Form elements
  template: 3_5_form-elements
  description: Basic form elements
*/

button, input, select, textarea {
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

label {
  @include font-size(18px);
  color: $gray;
  font-weight: 300;
  line-height: 2.4em;
  padding: 0;
  margin: 0;

  &.theme-small {
    @include font-size(14px);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: .5em;
  }

  .is-required {
    color: $blue;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2em;
  }
}

input[type="submit"] {
  @extend %button;
  font-weight: 600;
  padding: 10px 30px;
}

input[type="email"],
input[type="text"],
textarea {
  @include font-size(16px);
  border: 1px solid $silver;
  color: $gray;
  padding: 10px;
  transition-duration: 0.2s;
  transition-property: border-color;
  width: 100%;

  &:focus {
    border-color: $black;
    outline: none;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;

  + label {
    @include font-size(13px);
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    line-height: normal;
  }
}

input[type="radio"] {
  + label {
    &:before {
      @include font-size(16px);
      border: 1px solid $blue;
      border-radius: 100%;
      color: $blue;
      content: "";
      display: inline-block;
      flex-shrink: 0;
      height: 0.9em;
      margin-right: 10px;
      text-align: center;
      transition-duration: 0.1s;
      transition-property: all;
      width: 0.9em;
    }
  }

  &:checked {
    + label {
      &:before {
        background-color: $blue;
        box-shadow: inset 0 0 0 3px #FFF;
      }
    }
  }
}

input[type="checkbox"] {
  + label {
    &:before {
      @include icon($icon-square);
      color: $blue;
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  &:checked {
    + label {
      &:before {
        @include icon($icon-square-checked);
        opacity: 1;
      }
    }
  }
}

select {
  background: transparent;
  border: 1px solid $silver;
  border-radius: 0;
  padding: 10px 5px;
  width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  @extend h4;
  font-weight: 800;
}

/*
  title: Tables
*/

table {
  width: 100%;
}

tbody {}

th {
  background: none;
  padding: 0;
}

tr {}

td {}

dl, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
