/*
  section: 3
  title: Common elements
  description: Description about common elements.
*/

html {
  @include font-family-main;
}

body {
  color: $gray;
}

img {
  vertical-align: bottom;
}

/*
  section: 3.1
  title: Headings
  template: 3_1_headings
  description: Description about headings.
*/

h1, h2, h3, h4, h5, h6 {
  @include font-family-main;
  color: $darkgray;
  letter-spacing: -0.05em;
  line-height: 1.2em;
  margin: 0;
  padding-bottom: 0.2em;
  text-transform: uppercase;
  word-wrap: break-word;

  a {
    // TODO: Color inherit
    color: $darkgray;
    text-decoration: none;

    &:hover {
      color: $darkgray;
      cursor: pointer;
    }
  }
}

h1 {
  @include font-size(36px);
  letter-spacing: -2px;
  line-height: 1.15em;

  @include breakpoint($small) {
    @include font-size(44px);
  }
}

h2 {
  @include font-size(25px);

  @include breakpoint($medium) {
    @include font-size(35px);
  }
}

h3 {
  @include font-size(28px);
}

h4 {
  @include font-size(19.2px);
}

/*
  section: 3.2
  title: Paragraph
  template: 3_2_paragraphs
  description: Description about paragraph.
*/

p {
  @include text-paragraph; //TODO: Needs a section
}

/*
  section: 3.3
  title: Links
  template: 3_3_links
  description:
*/

a {
  color: $blue;
  outline: 0;
  text-decoration: none;

  &:hover {
    color: $darkblue;
  }
}

a:hover, a:active, a:focus {
  outline: 0;
}

/*
  section: 3.4
  title: Blockquote
  description:
*/

/*
  section: 3.4.1
  title: Blockquote
  template: 3_4_1_blockquote
  description:
*/
blockquote {
  @include font-size(20px);
  @include font-weight-book;
  border-left: 10px solid $silver;
  color: $silver;
  line-height: 1.1em;
  margin: 20px 10px;
  padding: 10px 25px;
}

/*
  section: 3.4.2
  title: Blockquote paragraph
  template: 3_4_2_blockquote-paragraph
  description: Blockquote with a p-element inside.
*/
blockquote p {
  @include font-size(22px);
  @include font-weight-book;
  color: $silver;
  display: inline;
  line-height: 1.1em;
}

/*
  section: 3.4.3
  title: Form components
  description:
*/

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

input {
  -webkit-appearance: none;
}

select {
  background: transparent;
  border: 1px solid darken($lightsilver, 20%);
  padding: 10px 5px;
  width: 100%;
}

textarea {
  @include font-size(16px);
  @include font-weight-medium;
  border: 1px solid darken($lightsilver, 20%);
  color: $gray;
  opacity: 1;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  @extend %button;
}

table {
  width: 100%;
}

tbody {}

th {
  background: none;
  padding: 0;
}

tr {}

td {}

dl, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
