/*
 section: 3
 title: Common elements
 description: Description about common elements.
*/
html {
	@include font-family-main;
}

body {
	color: $gray;
}


p {
	@include text-paragraph;
}

/*
 section: 3.1
 title: Links
 template: 3_1_links
 description:
*/
a {
	color: $blue;
	outline: 0;
	text-decoration: none;

	&:hover {
		color: $darkblue;
	}
}

a:hover, a:active, a:focus {
	outline: 0;
}

/*
 section: 3.2
 title: Fieldset
 template: 3_2_fieldset
 description:
*/
fieldset {
	border-top: 0 none;
	border-bottom: 1px solid #EBEBEB;
	border-left: 0 none;
	border-right: 0 none;
	margin: 0 0 1.5em;
	padding: 0.5em 0 1em;
	width: 100%;
	&:last-of-type {
		border-bottom: 0 none;
		margin: 0;
		padding-bottom: 0;
	}

	legend {
		@include subtitle;
	}
}

/*
 section: 3.3
 title: Lists
 description:
*/

/*
 section: 3.3.1
 title: Unordered list
 template: 3_3_1_unordered-list
 description:
*/

/*
 section: 3.3.2
 title: Ordered list
 template: 3_3_2_ordered-list
 description:
*/

/*
 section: 3.3.3
 title: Definition list
 template: 3_3_3_definition-list
 description:
*/
dl, ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*
 section: 3.4
 title: Blockquote
 description:
*/

/*
 section: 3.4.1
 title: Blockquote
 template: 3_4_1_blockquote
 description:
*/
blockquote {
	@include font-size(20px);
	@include font-weight-book;
	border-left: 10px solid $silver;
	margin: 20px 10px;
	padding: 10px 25px;
	color: $silver;
	line-height: 1.1em;
}

/*
 section: 3.4.2
 title: Blockquote paragraph
 template: 3_4_2_blockquote-paragraph
 description: Blockquote with a p-element inside.
*/
blockquote p {
	@include font-size(22px);
	@include font-weight-book;
	display: inline;
	color: $silver;
	line-height: 1.1em;
}