/*
 section: 3.5
 title: Buttons
 description:
*/

/*
 section: 3.5.1
 title: Button
 template: 3_5_1-button
 description:
*/
%button,
.button {
  @include button;
  @include font-family-main;

  &.theme-transparent {
    background-color: transparent;
    color: $blue;

    &:hover {
      background-color: $blue;
    }

    a:hover,
    &:hover {
      color: $white;
    }
  }
}

/*
 section: 3.5.2
 title: Button accordion
  template: 3_5_2-button--accordion
 description:
*/
%button--accordion,
.button--accordion {
  @extend %button;
  border: 2px solid $blue;
  display: block;
  line-height: normal;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 0;
  position: relative;

  &:before {
    @include icon($icon-link-arrow);
    @include transform(translateY(-50%) rotate(270deg));
    transition-duration: 0.1s;
    @include vertically-center;
    left: 1em;
    position: absolute;
  }

  &.is-active {
    background-color: $blue;
    color: $white;

    &:before {
      @include transform(translateY(-50%) rotate(90deg));
      color: $white;
    }
  }

  a:hover &:before,
  &:hover:before {
    color: $white;
  }
}

/*
 section: 3.5.3
 title: Button action
  template: 3_5_3-button--action
 description:
*/
%button--action,
.button--action {
  @extend %button;
  display: block;
  font-weight: 600;
  padding-left: 1em;
  padding-right: 4em;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
  }

  // Icon background
  &:before {
    background-color: $blue--active;
    content: "";
    height: 100%;
  }

  // Icon
  &:after {
    @include vertically-center;
    color: $white;
    right: -2px;
    text-align: center;
  }

  &:hover {
    &:before {
      background: $darkblue--active;
    }
  }

  &.theme-transparent {
    align-items: center;
    display: flex;
    padding-left: 0;
    padding-right: 0;

    &:before {
      display: none;
    }

    &:after {
      color: $blue;
      margin-left: 15px;
      line-height: 0;
      position: static;
      width: auto;
    }

    &:hover,
    &:before {
      background-color: transparent;
    }

    a:hover,
    &:hover,
    &:hover:after {
      color: $darkblue;
    }
  }
}

/*
 section: 3.5.4
 title: Button action before
  template: 3_5_4-button--action-before
 description:
*/
%button--action-before,
.button--action-before {
  @extend %button--action;
  padding-left: 4em;
  padding-right: 1em;

  &:before,
  &:after {
    left: 0;
    right: auto;
  }

  &.theme-transparent {
    display: block;
    padding-left: 2em;

    &:before {
      display: none;
    }

    &:after {
      margin: 0;
      position: absolute;
      text-align: left;
      transform: none;
    }
  }
}

/*
 section: 3.5.5
 title: Button anchor
 template: 3_5_5-button--anchor
 description:
*/
.button--anchor {
  @extend %button;
  @include font-size(13px);
  @include font-weight-medium;
  display: inline-block;
  height: 60px;
  line-height: 1.2em;
  min-width: 60px;
  padding-top: 30px;
  position: relative;
  text-align: center;

  &:after {
    @include font-size(15px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 1em;
    width: 100%;
  }
}

.button--expand {
  @extend %button;

  .is-overflow-expandable & {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

/*
 section: 3.5.6
 title: Button icon
 template: 3_5_6-button--icon
 description:
*/
.button--icon {
  @extend %button;
  @include font-size(28px);
  @include font-weight-medium;
  color: $white;
  display: inline-block;
  line-height: 0.8em;
  padding: 0.5em 0.4em;
  text-align: center;

  &:after {
    @include font-size(28px);
    padding-left: 3px;
    vertical-align: baseline
  }

  &.icon--facebook {
    @include background-color(#547bb9);
  }

  &.icon--twitter {
    @include background-color(#5ea9dd);
  }

  &.icon--youtube {
    @include background-color(#e6644a);
  }

  &.icon--linkedin {
    @include background-color(#1483c4);
  }

  &.icon--instagram {
    @include background-color(#125688);
  }
}

/*
 section: 3.5.7
 title: Button group
 template: 3_5_7-button-group
 description:
*/
%button-group,
.button-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  > .button {
    display: inline-block;
    margin-bottom: 0.3em;
    position: relative;
  }
}

/*
 section: 3.5.8
 title: Button group small
 template: 3_5_8-button-group--small
 description:
*/
.button-group--small {
  @extend %button-group;
  > .button {
    @include font-size(15px);
    padding: 0.3em 0.7em;
  }
}
