.label {
  @include label;
  display: inline-block;

  @at-root a#{&} {
    transition: background-color 0.1s;

    &:hover {
      background-color: $darkblue;
      color: $white;
    }
  }

  &.theme-alert {
    background-color: red;
    border-color: red;
  }
}
