/*
 section: 2
 title: Typography
 description: Description about typography.
*/
 
/*
 section: 2.1
 title: Fonts
 description: Helsingin yliopisto - Julkiset uses "Open sans" for most of the typography, the other font used is "Georgia".
*/


/*
 section: 2.2
 title: Icons
 template: 2_2_icons
 description: HY icons can be found here: <a href="https://github.com/UH-StudentServices/Styleguide-icons">https://github.com/UH-StudentServices/Styleguide-icons</a>
*/
