@font-face {
  font-family: '<%= fontName %>';
  src: url('<%= fontPath %><%= fontFileName %>.eot');
  src: url('<%= fontPath %><%= fontFileName %>.eot?#iefix') format('eot'), url('<%= fontPath %><%= fontFileName %>.woff') format('woff'), url('<%= fontPath %><%= fontFileName %>.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin <%= className %>($unicode : "") {
  display: inline-block;
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  @if ($unicode) {
    content: $unicode;
  }
}

.<%= className %>-rotate-90:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.<%= className %>-rotate-180:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.<%= className %>-rotate-270:after {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

@-webkit-keyframes <%= className %>-spin {
  from   { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes <%= className %>-spin {
  from   { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-o-keyframes <%= className %>-spin {
  from   { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); }
}
@keyframes <%= className %>-spin {
  from   { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.<%= className %>-spin:after {
  -webkit-animation: <%= className %>-spin 2s infinite linear;
  -moz-animation: <%= className %>-spin 2s infinite linear;
  -ms-animation: <%= className %>-spin 2s infinite linear;
  animation: <%= className %>-spin 2s infinite linear;
}

.<%= className %>:before {
  box-sizing: border-box;
}

.<%= className %>-2x { font-size: 2em; }
.<%= className %>-3x { font-size: 3em; }
.<%= className %>-4x { font-size: 4em; }
.<%= className %>-5x { font-size: 5em; }

<% _.each(glyphs, function(glyph) { %>.<%= className %>--<%= glyph.name %>:after { @include <%= className %>("\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>"); }
<% }); %>
