@font-face {
	font-family: 'hy-icons';
	src:url('fonts/hy-icons.eot?egw0l4');
	src:url('fonts/hy-icons.eot?egw0l4#iefix') format('embedded-opentype'),
		url('fonts/hy-icons.ttf?egw0l4') format('truetype'),
		url('fonts/hy-icons.woff?egw0l4') format('woff'),
		url('fonts/hy-icons.svg?egw0l4#hy-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'hy-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-to-todo-list:before {
	content: "\e900";
}
.icon-arrow-up:before {
	content: "\e901";
}
.icon-arrow:before {
	content: "\e902";
}
.icon-avatar-group:before {
	content: "\e903";
}
.icon-avatar:before {
	content: "\e904";
}
.icon-bachelor:before {
	content: "\e905";
}
.icon-camera:before {
	content: "\e906";
}
.icon-chat:before {
	content: "\e907";
}
.icon-date:before {
	content: "\e908";
}
.icon-discover:before {
	content: "\e909";
}
.icon-done:before {
	content: "\e90a";
}
.icon-download:before {
	content: "\e90b";
}
.icon-drag:before {
	content: "\e90c";
}
.icon-drop-down:before {
	content: "\e90d";
}
.icon-edit-event:before {
	content: "\e90e";
}
.icon-edit:before {
	content: "\e90f";
}
.icon-events:before {
	content: "\e910";
}
.icon-facebook:before {
	content: "\e911";
}
.icon-favorites:before {
	content: "\e912";
}
.icon-grid:before {
	content: "\e913";
}
.icon-hamburger:before {
	content: "\e914";
}
.icon-home:before {
	content: "\e915";
}
.icon-hy-logo:before {
	content: "\e916";
}
.icon-id-number:before {
	content: "\e917";
}
.icon-info-stroke:before {
	content: "\e918";
}
.icon-info:before {
	content: "\e919";
}
.icon-link-arrow-offsite:before {
	content: "\e91a";
}
.icon-link-arrow:before {
	content: "\e91b";
}
.icon-linkedin:before {
	content: "\e91c";
}
.icon-list:before {
	content: "\e91d";
}
.icon-location:before {
	content: "\e91e";
}
.icon-log:before {
	content: "\e91f";
}
.icon-logout:before {
	content: "\e920";
}
.icon-magnify-minus:before {
	content: "\e921";
}
.icon-magnify-plus:before {
	content: "\e922";
}
.icon-mail:before {
	content: "\e923";
}
.icon-master .path1:before {
	content: "\e924";
	color: rgb(191, 191, 191);
}
.icon-master .path2:before {
	content: "\e925";
	margin-left: -1em;
	color: rgb(98, 98, 98);
}
.icon-master .path3:before {
	content: "\e926";
	margin-left: -1em;
	color: rgb(98, 98, 98);
}
.icon-master .path4:before {
	content: "\e927";
	margin-left: -1em;
	color: rgba(255, 255, 255, 0.3);
}
.icon-master .path5:before {
	content: "\e928";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-master .path6:before {
	content: "\e929";
	margin-left: -1em;
	color: rgb(191, 191, 191);
}
.icon-minus:before {
	content: "\e92a";
}
.icon-mobile:before {
	content: "\e92b";
}
.icon-modify:before {
	content: "\e92c";
}
.icon-navi-triangle:before {
	content: "\e92d";
}
.icon-new-group:before {
	content: "\e92e";
}
.icon-new-person:before {
	content: "\e92f";
}
.icon-notification:before {
	content: "\e930";
}
.icon-opinder-logo-new:before {
	content: "\e931";
}
.icon-opinder-logo:before {
	content: "\e932";
}
.icon-pdf:before {
	content: "\e933";
}
.icon-people:before {
	content: "\e934";
}
.icon-permission-all:before {
	content: "\e935";
}
.icon-permission-group:before {
	content: "\e936";
}
.icon-permission-private:before {
	content: "\e937";
}
.icon-person-outline:before {
	content: "\e938";
}
.icon-person:before {
	content: "\e939";
}
.icon-phone:before {
	content: "\e93a";
}
.icon-plus:before {
	content: "\e93b";
}
.icon-preview:before {
	content: "\e93c";
}
.icon-profile:before {
	content: "\e93d";
}
.icon-question:before {
	content: "\e93e";
}
.icon-remove:before {
	content: "\e93f";
}
.icon-rotate-left:before {
	content: "\e940";
}
.icon-rotate-right:before {
	content: "\e941";
}
.icon-search:before {
	content: "\e942";
}
.icon-time:before {
	content: "\e943";
}
.icon-todo-list:before {
	content: "\e944";
}
.icon-tour:before {
	content: "\e945";
}
.icon-twitter:before {
	content: "\e946";
}
.icon-units-and-faculties:before {
	content: "\e947";
}
.icon-url:before {
	content: "\e948";
}
.icon-video:before {
	content: "\e949";
}
.icon-warning:before {
	content: "\e94a";
}
.icon-you-tube:before {
	content: "\e94b";
}

