$icon-add-to-todo-list: "\e900";
$icon-arrow-up: "\e901";
$icon-arrow: "\e902";
$icon-avatar-group: "\e903";
$icon-avatar: "\e904";
$icon-bachelor: "\e905";
$icon-camera: "\e906";
$icon-chat: "\e907";
$icon-date: "\e908";
$icon-discover: "\e909";
$icon-done: "\e90a";
$icon-download: "\e90b";
$icon-drag: "\e90c";
$icon-drop-down: "\e90d";
$icon-edit-event: "\e90e";
$icon-edit: "\e90f";
$icon-events: "\e910";
$icon-facebook: "\e911";
$icon-favorites: "\e912";
$icon-grid: "\e913";
$icon-hamburger: "\e914";
$icon-home: "\e915";
$icon-hy-logo: "\e916";
$icon-id-number: "\e917";
$icon-info-stroke: "\e918";
$icon-info: "\e919";
$icon-link-arrow-offsite: "\e91a";
$icon-link-arrow: "\e91b";
$icon-linkedin: "\e91c";
$icon-list: "\e91d";
$icon-location: "\e91e";
$icon-log: "\e91f";
$icon-logout: "\e920";
$icon-magnify-minus: "\e921";
$icon-magnify-plus: "\e922";
$icon-mail: "\e923";
$icon-master-path1: "\e924";
$icon-master-path2: "\e925";
$icon-master-path3: "\e926";
$icon-master-path4: "\e927";
$icon-master-path5: "\e928";
$icon-master-path6: "\e929";
$icon-minus: "\e92a";
$icon-mobile: "\e92b";
$icon-modify: "\e92c";
$icon-navi-triangle: "\e92d";
$icon-new-group: "\e92e";
$icon-new-person: "\e92f";
$icon-notification: "\e930";
$icon-opinder-logo-new: "\e931";
$icon-opinder-logo: "\e932";
$icon-pdf: "\e933";
$icon-people: "\e934";
$icon-permission-all: "\e935";
$icon-permission-group: "\e936";
$icon-permission-private: "\e937";
$icon-person-outline: "\e938";
$icon-person: "\e939";
$icon-phone: "\e93a";
$icon-plus: "\e93b";
$icon-preview: "\e93c";
$icon-profile: "\e93d";
$icon-question: "\e93e";
$icon-remove: "\e93f";
$icon-rotate-left: "\e940";
$icon-rotate-right: "\e941";
$icon-search: "\e942";
$icon-time: "\e943";
$icon-todo-list: "\e944";
$icon-tour: "\e945";
$icon-twitter: "\e946";
$icon-units-and-faculties: "\e947";
$icon-url: "\e948";
$icon-video: "\e949";
$icon-warning: "\e94a";
$icon-you-tube: "\e94b";
