/*
 section: 6.3
 title: Accordion
 description:
*/


/*
 section: 6.3.1
 title: Accordion
 template: 6_3_1_accordion
 description:
*/
ul%accordion,
ul.accordion {
  &:focus {
    outline: none;
  }
  > li {
    margin-bottom: ($vert-spacing-unit)/2;

    &.is-active {
      color: $white;
    }
  }
}

.accordion__title {
  @include font-weight-medium;
  @include font-size(14px);
  text-transform: uppercase;
}

.accordion__content {
  padding-top: 2em;
  padding-left: 1em;

  > p {
    padding-left: 1em;
    padding-right: 2em;
    @include font-family-bodytext();
  }
}

/*
 section: 6.3.2
 title: Accordion (with transparent buttons)
 template: 6_3_2_accordion-transparent
 description:
*/

/*
 section: 6.3.3
 title: Accordion (nested)
 template: 6_3_3_accordion-nested
 description:
*/

/*
 section: 6.3.4
 title: Accordion (nested with transparent buttons)
 template: 6_3_4_accordion-nested-transparent
 description:
*/
