/*
 section: 6.3
 title: Accordion
 description:
*/


/*
 section: 6.3.1
 title: Accordion normal
 template: 6_3_1_accordion-normal
 description:
*/
.accordion {
	:focus {
		outline: none;
	}
}

.accordion__item {
	margin-bottom: ($vert-spacing-unit)/2;
}

.accordion__title {
	@include button-accordion;
	@include font-weight-medium;
	@include font-size(14px);
	text-transform: uppercase;
}

.accordion__content {
	> .accordion {
		padding: 20px 0px 0px 20px;

		@include breakpoint($small) {
			padding: 20px 0px 0px 20px;
		}
	}
	> .textarea {
		padding: 20px 10px;

		@include breakpoint($small) {
			padding: 20px 40px;
		}
	}
	
	> .textarea + .accordion {
		padding-top: 0px;
	}
}

/*
 section: 6.3.2
 title: Accordion (dark)
 template: 6_3_2_accordion-dark
 description:
*/
.accordion--dark {
	.accordion__title {
		@include button-accordion-dark;
		/*
		@include button;
		padding: 0;
		height: auto;
		line-height: 100%;*/

		&.ui-state-active {
			background-color: $blue--active;
		}
	}
}

/*
 section: 6.3.3
 title: Accordion multiple levels
 template: 6_3_3_accordion-multiple-levels
 description:
*/
