/*
 section: 6.4
 title: Author
 template: 6_4_author
 description:
*/
.author {
  @include text-author;
  margin-bottom: 0.4em;
  margin-top: 0.7em;

  .author__label {
    &:after {
      content: ':';
    }
  }
}
