/*
 section: 7.1
 title: Carousel
 description:
*/

/*
 section: 7.1.1
 title: Carousel
 template: 7_1_1-carousel
 description:
*/
.carousel {
  @include border-bottom;
  margin-bottom: $vert-spacing-unit;
}

.carousel__slide {
  background: $black;
  color: $white;
  margin-bottom: $vert-spacing-unit*1.5;
  overflow: hidden;
}

.carousel__active-slide {
  float: left;
  position: relative;
}

%carousel__title,
.carousel__title {
  @include font-size(40px);
  @include text-shadow-outline-bold;
  color: $white;
  line-height: 105%;
  margin-bottom: 0;
  word-wrap: break-word;

  @include breakpoint($small) {
    @include font-size(48px);
  }

  @include breakpoint($medium) {
    @include font-size(60px);
  }
}

.carousel__alt-title {
  @include font-size(20px);
  @include text-shadow-outline-bold;
  color: $white;
  letter-spacing: normal;
  line-height: 105%;
  margin-bottom: 0;
  text-transform: none;
  word-wrap: break-word;

  @include breakpoint($small) {
    @include font-size(24px);
  }

  @include breakpoint($medium) {
    @include font-size(30px);
  }
}

.carousel__image {
  @include breakpoint($small) {
    @include float-span(12, 1, $gutter: 0);
  }

  img {
    vertical-align: bottom;
    width: 100%;
  }
}

.carousel__content {
  padding: 10px 7px 10px 15px;

  @include breakpoint($small) {
    @include float-span(4, 13);
    @include font-size(12px);
  }
  @include breakpoint($medium) {
    @include font-size(16px);
  }
}

.carousel__credits {
  @include text-author;
  @include text-shadow-outline;
  color: $white;
  margin-left: 0.3em;
  line-height: normal;
  position: absolute;
  top: 0;

  @include breakpoint($small) {
    @include text-shadow(none);
    color: $silver;
    bottom: 0;
    height: $vert-spacing-unit*1.5;
    line-height: $vert-spacing-unit*1.5;
    margin-bottom: 0;
    top: auto;
  }
}

/* Control Nav */
.carousel__control-nav {
  bottom: 0;
  position: absolute;
  right: 0;
  height: $vert-spacing-unit*1.5;
  line-height: $vert-spacing-unit*1.5;
  width: 100%;

  @include breakpoint($small) {
    @include float-span(4, 13, $gutter: 0);
  }

  li {
    text-align: center;

    a {
      @include text-author;
      @include font-size(12px);
      display: none;
      margin: 0;

      &.carousel__active {
        display: block;
      }
    }
  }
}

.carousel__direction-nav {
  bottom: 0;
  height: $vert-spacing-unit*1.5;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 100%;

  @include breakpoint($small) {
    @include float-span(4, 13, $gutter: 0);
  }

  li {
    float: left;
    width: 50%;

    &:last-child {
      float: right;
    }
  }

  a {
    @include font-size(16px);
    display: block;
    height: $vert-spacing-unit*1.5;
    line-height: $vert-spacing-unit*1.5;
    width: 100%;

    &.carousel__prev:before {
      @include icon("\f060");
    }

    &.carousel__next {
      text-align: right;

      &:before {
        @include icon("\f061");
      }
    }
  }
}

.carousel__trigger {
  @include transition-scale(1.1);
  left: initial;
  position: absolute;
  right: 10px;
  top: 5px;

  @include breakpoint($small) {
    left: 5px;
    right: auto;
  }

  > a {
    @include font-size(28px);
    @include text-shadow-default;
    color: $white;

    &:after {
      @include icon("\f00e");
    }

    &:hover {
      color: darken($white, 10%);
    }
  }
}


/*
 section: 7.1.2
 title: Carousel unwrapped
 template: 7_1_2-carousel-unwrapped
 description:
*/
%carousel-unwrapped,
.carousel-unwrapped {
  background-color: $black;
  overflow: hidden;
  position: relative;

  li > article {
    @include breakpoint($large) {
      &:before {
        @include background-image(linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 50%));
        content: '';
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 1;
      }
    }
  }
}

.carousel-unwrapped__content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  // TODO: implement this in some other way than this generic layout class.
  .l-subregion-wrapper {
    @include vertically-center;
    background: none;
    border: none;
    position: relative;
    z-index: 5;
  }

  .l-subregion {
    padding: 0 10%;

    @include breakpoint($large) {
      padding: 0 1em;
    }
  }

  @include breakpoint($small) {
    &:before {
      @include background-image(linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 50%), linear-gradient(right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 50%));
      content: '';
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: 1;
    }
  }
}

.carousel-unwrapped__direction-nav {
  a {
    @include font-size(50px);
    @include font-weight-bold;
    @include text-shadow-default;
    @include transition-scale(1.15);
    @include transition-property('all');
    color: $white;
    display: block;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 10%;
    z-index: 10;

    &:active {
      color: $silver;
    }

    &:before {
      @include vertically-center;
      display: block;
      position: relative;
    }

    @include breakpoint($large) {
      width: 5%;
    }

    &.carousel-unwrapped__prev {
      @include background-image(linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0,0,0,0) 100%));
      left: 0;

      &:before {
        @include icon("\f104");
      }
    }

    &.carousel-unwrapped__next {
      @include background-image(linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0,0,0,0) 100%));
      right: 0;

      &:before {
        @include icon("\f105");
      }
    }
  }
}

.carousel-unwrapped__image {
  @include transform(translate3d(0,0,0));
  left: 70%;
  max-height: 350px;
  min-width: $bp-small;
  opacity: 0.5;
  position: relative;
  width: 100%;

  @include breakpoint($small) {
    left: 50%;
  }

  @include breakpoint($medium) {
    min-width: $bp-large;
  }

  @include breakpoint($large) {
    min-width: 1750px;
    opacity: 0.9;
  }

  img {
    display: block;
    margin-left: -70%;
    width: 100%;

    @include breakpoint($small) {
      margin-left: -50%;
    }
  }
}

/*
 section: 7.1.3
 title: Carousel unwrapped teaser
 template: 7_1_3-carousel-unwrapped--teaser
 description:
*/
.carousel-unwrapped--teaser {
  @extend %carousel-unwrapped;
  background-color: $black;
  overflow: hidden;
  position: relative;

  .carousel-unwrapped__title {
    @extend %carousel__title;
    @include font-size(26px);
    padding-bottom: 0;

    @include breakpoint($small) {
      @include font-size(36px);
    }
  }

  .carousel-unwrapped__image {
    height: 90px;

    @include breakpoint($small) {
      opacity: 0.9;
      min-width: 1750px;
    }

    img {
      @include filter(blur(10px));
      @include transform(scale(1.15));
    }
  }
}
