/*
 section: 6
 title: Components
 description: Description about components.
*/

@import '_table';
@import '_list-of-links';
@import '_accordion';
@import '_author';
@import '_breadcrumbs';
@import '_carousel';