/*
 section: 6
 title: Components
 description: Description about components.
*/

// Components
@import '_table';
@import '_list-of-links';
@import '_accordion';
@import '_author';
@import '_breadcrumbs';
@import '_horizontal-tabs';
@import '_pager';
@import '_tags';
@import 'box/_box';
@import '_messages';
@import '_ui-component';
@import '_metadata';
@import '_material-block';
