/*
 section: 6.11
 title: Favorites
 description: 
*/

/*
 section: 6.11.1
 title: Favorites add
 description:
*/

/*
 section: 6.11.1.1
 title: Favorites add
 template: 6_11_1_1_favorites-add
 description: Add new item block
*/

/*
 section: 6.11.1.2
 title: Favorites add menu
 template: 6_11_1_2_favorites-add-menu
 description:  Add new item block with menu (the inline style is added by javascript and should be implemented as such)
*/

/*
 section: 6.11.2
 title: Favorites single
 template: 6_11_2_favorites-single
 description: Single large item.
*/

/*
 section: 6.11.3
 title: Favorites multiple
 template: 6_11_3_favorites-multiple
 description: Item block with multiple items inside.
*/


//
// Favorites
// --------------------------------------------------

$favorite-size-small : 240px;
$favorite-size-medium : 300px;
$favorite-size-large : 340px;

.favorites-container {
	@include clearfix;
}


.favorites-list__item {
	position: relative;
}

.favorites-list__remove {
	display: block;
	@include border;
	position: absolute;
	top: -1px;
	right: -1px;
	background-color: $white;
	padding: 0 2px;
}


/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.favorites-container ul[dnd-list],
.favorites-container ul[dnd-list] > li {
	position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.favorites-container .dropzone ul[dnd-list] {
		min-height: 42px;
		margin: 0px;
		padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.favorites-container .dropzone li {
		display: block;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.favorites-container .dropzone .dndDragging {
		opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.favorites-container .dropzone .dndDraggingSource {
		display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.favorites-container .dropzone .dndPlaceholder {
	background-color: #ddd !important;
	display: block;
	position: relative;

	@include breakpoint($medium) {
		height: 300px;
	}

	@include breakpoint($large) {
		height: 340px;
	}
}

/***************************** Element type specific styles *****************************/

.favorites-container .dropzone .itemlist {
		min-height: 120px !important;
}

@mixin favorites-in-three-columns() {
	float: left;
	width: 33%;
	margin: 0;

	> * {
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
		display: block;
		margin-bottom: 1em;
	}
}

@mixin favorite-size($size) {
	> * {
		height: $size;
		width: $size;
	}
}

.favorites-container .dropzone .itemlist > li {

	margin-bottom: 1em;

	@include breakpoint($small) {
		@include favorites-in-three-columns();
		@include favorite-size($favorite-size-small);
	}

	@include breakpoint($medium) {
		@include favorite-size($favorite-size-medium);
	}

	@include breakpoint($large) {
		@include favorite-size($favorite-size-large);
	}

	.rss-feed, .add-new   {
		@include border;
	}
}

.favorites-container .dropzone .container-element {
		margin: 10px;
}

.loading-container {
	text-align: center;
	padding: 15px;
}

.favorite-img {
	max-height: 150px;
}

// _add-favorites.scss

.favorites-list__item.add-new {
	@include breakpoint($mobile-only) {
		height: 100px;
	}
}

.add-favorite-container {
	@include border;
	@include tab-shadow;
	background-color: $white;
	position: relative;
	top: -35px;
	@include breakpoint($small) {
		top: -$favorite-size-small / 2 + 15;
	}
	@include breakpoint($medium) {
		top: -$favorite-size-medium / 2 + 15;
	}
	@include breakpoint($large) {
		top: -$favorite-size-large / 2 + 15;
	}
}

.add-favorite-arrow {
	@include triangle(10px);
	position: relative;
	left: -5px;
	display: block;
	width: 0;
	height: 0;
	margin-left: auto;
	margin-right: auto;
}

.add-favorite {
	overflow: hidden;
	width: 250px;
	height: 250px;
	@include breakpoint($small) {
		width: 280px;
		height: 280px;
	}
	@include breakpoint($medium) {
		width: 320px;
		height: 320px;
	}
	@include breakpoint($large) {
		width: 350px;
		height: 350px;
	}
}

.add-favorite-step {
	width: 100%;
	ul {
		padding: 0.5em;
	}
	li.bar {
		padding: 0.5em 0;
		font-size: 0.9em;
	}
}

.add-favorite-button {
	height: 100%;
	display: block;
}

.add-favorite-button__plus {
	font-weight: bold;
	font-size: 6rem;
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translate(-50%, -50%));
}

.add-favorite-button__title {
	font-size: 2rem;
}