/*
 section: 11.1.1
 title: File
 description: Component for a downloadable file link.
 template: 11_1_1-file
*/

.file {
  margin-bottom: 1em;
}

.file__link {
  @include font-family-main;
  align-items: center;
  background-color: $lightsilver;
  border: 1px solid $lightsilver;
  display: flex;
  padding: 10px 15px 10px 10px;
}

.file__icon {
  @include font-size(30px);
  margin-right: 10px;
}
