/*
 section: 16.1.1
 title: Hero
 template: 16_1_1-hero
 description:
*/
.hero {
  background-color: $blue;
  overflow: hidden;
  position: relative;
}

.hero__content {
  @include container;
  padding: 1.5em 1em;
}

.hero__title {
  @include font-size(20px);
  color: $white;
  margin: 0;
  letter-spacing: -0.5px;
  padding-bottom: 0.25em;
}

.hero__alt-title {
  @include font-size(14px);
  color: $white;
  line-height: 130%;
  margin: 0;
  padding: 0;
  text-transform: none;
}

/*
 section: 16.1.2
 title: Hero big
 template: 16_1_2-hero-big
 description:
*/
.hero-big {
  align-items: flex-end;
  background-position-x: 50%;
  background-size: cover;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;

  @include breakpoint($medium) {
    height: 800px;
  }

  &:after {
    background: black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    z-index: 1;
  }

  @include breakpoint($small) {
    &:after {
      opacity: 0.2;
    }

    &:hover:after {
      opacity: 0.3;
    }
  }
}

.hero-big__top {
  margin: 0 auto;
  max-width: 75em;
  padding: 1em;
  position: relative;
  z-index: 10;
  width: 100%;

  @include breakpoint($small) {
    margin-bottom: 9em;
  }
}

.hero-big__content {
  max-width: 40em;
}

.hero-big__title {
  @include font-size(42px);
  color: $white;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 10px;
  padding: 0;

  @include breakpoint($small) {
    @include font-size(80px);
    margin-bottom: 30px;
  }
}

.hero-big__ingress {
  @include font-size(18px);
  @include font-weight-medium;
  color: $white;
  margin-bottom: 10px;

  @include breakpoint($small) {
    margin-bottom: 30px;
  }
}

.hero-big__content-bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  @include breakpoint($small) {
    align-items: center;
    flex-direction: row;
  }
}

.hero-big__link {
  @include font-weight-bold;
  margin-bottom: 10px;
  text-transform: uppercase;

  @include breakpoint($small) {
    margin-bottom: 0;
    margin-right: 4em;
  }
}

.hero-big__play {
  @include font-weight-bold;
  align-items: center;
  color: $white;
  display: flex;
  text-transform: uppercase;

  &:before {
    @include icon($icon-video);
    @include font-size(58px);
    margin-right: 10px;
  }
}

.hero-big__video {
  bottom: 0;
  display: none;
  left: 50%;
  min-width: 178vh;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 0;

  @include breakpoint($small) {
    display: block;
  }

  @include breakpoint($medium) {
    min-width: 89em;
  }

  video {
    display: block;
    margin-left: -50%;
    width: 100%;
  }
}

/*
 section: 16.1.3
 title: Hero big centered
 template: 16_1_3-hero-big-centered
 description:
*/

.hero-big--centered {
  position: relative;
  padding-top: 80px;

  .hero-big__content {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 80%;
    padding: 1em;
    position: relative;
    z-index: 10;

    @include breakpoint($medium) {
      max-width: 50em;
    }
  }

  .hero-big__title {
    @include font-size(36px);
    margin: 0;
    padding: 0;

    @include breakpoint($small) {
      @include font-size(70px);
    }
  }

  .hero-big__content-bottom {
    align-items: center;
    margin: 20px 0 0 0;
    justify-content: center;

    @include breakpoint($small) {
      margin-top: 40px;
    }
  }

  .hero-big__link {
    @include font-size(18px);
    border: 2px solid $white;
    color: $white;
    display: inline-block;
    margin: 0;
    padding: 10px 25px;
    transition: background-color, color, 0.2s, 0.2s;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  .hero-big__play {
    transition: color 0.2s;

    &:hover {
      color: $silver;
    }

    @include breakpoint($small) {
      margin-left: 40px;
    }
  }

  .hero-big__corners {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    top: 96px;
    background-color: transparent;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    @include breakpoint($small) {
      bottom: 32px;
      left: 32px;
      right: 32px;
      top: 112px;
    }
  }

  .hero-big__corners:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;

    @include breakpoint($small) {
      border-width: 40px;
    }
  }

  .hero-big__corners:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-left: 20px solid #fff;
    border-top: 20px solid #fff;

    @include breakpoint($small) {
      border-width: 40px;
    }
  }
}

/*
 section: 16.1.4
 title: Hero medium
 template: 16_1_4-hero-medium
 description:
*/
.hero-medium {
  align-items: flex-end;
  background-position-x: 50%;
  background-size: cover;
  display: flex;
  height: 464px;
  overflow: hidden;
  position: relative;

  &:after {
    background: black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.hero-medium__top {
  margin: 0 auto;
  max-width: 75em;
  padding: 1em;
  position: relative;
  z-index: 10;
  width: 100%;
}

.hero-medium__content {
  margin-bottom: 5rem;
}

.hero-medium__breadcrumbs {
  margin-bottom: 0.5em;
}

.hero-medium__title {
  @include font-size(50px);
  @include font-weight-bold;
  color: $white;
  line-height: 1em;
  margin-bottom: 10px;
  padding: 0;
}

.hero-medium__ingress {
  @include font-size(30px, 24px);
  @include font-weight-bold;
  color: $white;
  line-height: 1.1em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
