/*
 section: 19.1
 title: Highlight
 template: 19_1_highlight
 description: Highlight.
*/

.highlight {
  align-items: center;
  background-color: #000;
  display: flex;
  height: 100vh;
  padding-bottom: 50px;
  padding-top: 30px;
  position: relative;

  &:after {
    background: black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    z-index: 1;
  }

  &:hover:after {
    opacity: 0.2;
  }

  @include breakpoint($small) {
    max-height: 480px;
    min-height: 480px;
  }
}

.highlight__content {
  margin: 0 auto;
  max-width: 75em;
  padding: 1em;
  position: relative;
  width: 100%;
  z-index: 10;
}

.highlight__title {
  @include font-size(80px, 48px);
  color: $white;
  font-weight: 700;
  line-height: 1;
  max-width: 720px;

  @include breakpoint($small) {
    margin-bottom: 20px;
  }
}

.highlight__ingress {
  @include font-size(18px);
  color: $white;
  max-width: 720px;
}

.highlight__bgoverlay {
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position-x: 50%;
  background-size: cover;

  @include breakpoint($small) {
    opacity: 0.8;
  }
}
