/*
 section: 6.7
 title: Horizontal tabs
 template: 6_7_horizontal-tabs
 description:
*/
// NOTE: this is not smacss because the field group horizontal-tabs.js produces shitty markup
.horizontal-tabs {
  margin-bottom: $vert-spacing-unit;

  .horizontal-tabs-list {
    box-shadow: 0 -1px 0 0 $mediumsilver inset;
    margin-bottom: $vert-spacing-unit * 2;

    @include breakpoint($small) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 $vert-spacing-unit;
    }
  }

  .horizontal-tabs-pane {
    legend {
      display: none;
    }
  }

  .horizontal-tab-button {
    margin-bottom: 2px;
    outline: none;

    > a {
      @extend %button;
      @include link-heading;
      display: block;
    }

    &.selected {
      > a {
        background-color: $darkblue;
        color: $white;
      }
    }
  }

  @include breakpoint($small) {
    .horizontal-tab-button {
      @include link-heading;
      background: none;
      border-bottom: none;
      border-right: 1px solid $mediumsilver;
      border-top: 1px solid $mediumsilver;
      color: $white;
      flex-grow: 1;
      margin: 0;
      text-align: center;

      > a {
        background: none;
        color: $blue;
        display: block;
        padding: 1em 3em;
      }

      &.selected a,
      &:hover > a {
        transition-property: all;
        background-color: rgba(255, 255, 255, 1);
        color: $darkblue;
      }

      &:not(.selected) {
        &:first-child {
          box-shadow: none;
        }
      }

      &:first-child {
        border-left: 1px solid $mediumsilver;
      }
    }
  }
}
