/*
 section: 9.1
 title: Index
*/

/*
 section: 9.1.1
 title: Index
 template: 9_1_1-index
 description: Index of content
*/
%index,
.index {
  display: block;
  padding: 2em 0;

  @include breakpoint($small) {
    columns: 2;
  }
}

.index__label {
  @include text-label;
  margin-bottom: 1em;

  @include breakpoint($small) {
    column-span: all;
  }
}

.index__row {
  margin: 0 0 0.6em 0;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.index__link {
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
}

/*
 section: 9.1.2
 title: Index alphabetical
 template: 9_1_2-index-alpha
 description: Alphabetical index of content
*/
.index-alpha {
  display: block;
  padding: 2em 0;
}

.index-alpha__group {
  border-top: 1px solid $lightsilver;
  clear: both;
  overflow: hidden;
  padding: 1em 0;

  &:last-child {
    border-bottom: 1px solid $lightsilver;
  }

  @include breakpoint($small) {
    padding: 2em 0;
  }
}

.index-alpha__initial {
  @include font-family-bodytext;
  @include font-size(40px);
  @include font-weight-bold;
  margin-bottom: 0.2em;

  @include breakpoint($small) {
    @include font-size(80px);
    float: left;
    line-height: 70px;
    margin-bottom: 0;
    text-align: center;
    width: 20%;
  }
}

.index-alpha__row {
  margin-bottom: 1em;

  @include breakpoint($small) {
    margin-left: 20%;
  }
}

.index-alpha__title {
  margin-bottom: 0.5em;

  @include breakpoint($small) {
    margin-bottom: 0;
  }

  & > a {
    @include font-size(15px);
    @include font-weight-bold;
  }
}

.index-alpha__subtitle {
  @include font-family-bodytext;
}

/*
 section: 9.1.3
 title: Index topical
 template: 9_1_3-index-topical
 description: Topical index of content
*/

.index-topical {
  display: block;
  margin-bottom: 1.5em;
  position: relative;

  &.theme-prominent {
    border-bottom: 2px solid $lightsilver;
    margin-bottom: 1em;
    padding-bottom: 1em;

    .index-topical__title {
      @include font-size(26px);
      @include font-weight-medium;
      margin: 0;
    }

    .index-topical__content {
      margin: 0;
    }

    .index-topical__field {
      @include font-size(12px);
      @include font-weight-medium;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      &:after {
        border: none;
        content: "|";
        margin-left: 3px;
        position: static;
      }
    }
  }
}

.index-topical__title {
  @include font-size(15px);
  @include font-weight-bold;
  margin-bottom: 0.25em;
}

.index-topical__field {
  @include font-size(14px);
  @include tb-ball("after");
  color: $silver;
  font-weight: 600;
}

.index-topical__content {
  margin-bottom: 0.5em;
}

.index-topical__description {
  @include font-family-bodytext;
}
