/*
 section: 9.1
 title: Index
*/

/*
 section: 9.1.1
 title: Index
 template: 9_1_1-index
 description: Index of content
*/
%index,
.index {
  display: block;
  padding: 2em 0;

  @include breakpoint($small) {
    @include columns(2);
  }
}

.index__label {
  @include text-label;
  margin-bottom: 1em;

  @include breakpoint($small) {
    column-span: all;
    -moz-columns: all;
    -ms-columns: all;
    -o-columns: all;
    -webkit-columns: all;
  }
}

.index__row {
  margin: 0.6em 0;

  @include breakpoint($small) {
    padding-right: 8%;
  }
}

.index__link {
  display: inline-block;
  overflow: visible;
}

/*
 section: 9.1.2
 title: Index alphabetical
 template: 9_1_2-index-alpha
 description: Alphabetical index of content
*/
.index-alpha {
  display: block;
  padding: 2em 0;
}

.index-alpha__group {
  border-top: 1px solid $lightsilver;
  clear: both;
  overflow: hidden;
  padding: 1em 0;

  &:last-child {
    border-bottom: 1px solid $lightsilver;
  }

  @include breakpoint($small) {
    padding: 2em 0;
  }
}

.index-alpha__initial {
  @include font-family-bodytext;
  @include font-size(40px);
  @include font-weight-bold;
  margin-bottom: 0.2em;

  @include breakpoint($small) {
    @include font-size(80px);
    float: left;
    line-height: 70px;
    margin-bottom: 0;
    text-align: center;
    width: 20%;
  }
}

.index-alpha__row {
  margin-bottom: 1em;

  @include breakpoint($small) {
    margin-left: 20%;
  }
}

.index-alpha__title {
  margin-bottom: 0.5em;

  @include breakpoint($small) {
    margin-bottom: 0;
  }

  & > a {
    @include font-size(15px);
    @include font-weight-bold;
  }
}

.index-alpha__subtitle {
  @include font-family-bodytext;
}

/*
 section: 9.1.3
 title: Index
 template: 9_1_3-index-topical
 description: Topical index of content
*/

.index-topical {
  display: block;
  margin-bottom: 1.5em;
  position: relative;
}

.index-topical__title {
  margin-bottom: 0.25em;

  > a {
    @include font-size(15px);
    @include font-weight-bold;
  }
}

.index-topical__field {
  @include tb-ball("after");
  @include font-family-bodytext;
}
