/*
 section: 18.3
 title: Liftup mosaic
 template: 18_3_liftup-mosaic
 description: Mosaic of five liftups.
*/

.liftup-mosaic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 105em;

  @include breakpoint($small) {
    flex-direction: row;
  }
}

.liftup-mosaic__item {
  align-items: flex-end;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 320px;
  padding: 2rem;
  position: relative;

  &:before {
    background-color: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0,0,0);
    z-index: 1;
  }

  &:hover {
    .liftup-mosaic__title {
      text-decoration: underline;
    }
  }

  @include breakpoint($small) {
    height: 36vw;
    margin: 1px;
    max-height: 480px;
    width: calc(33.33% - 2px);

    &:nth-of-type(2) {
      width: calc(66.66% - 2px);

      .liftup-mosaic__title {
        @include font-size(28px);
      }
    }
  }

  &.theme-video {
    &:after {
      @include icon($icon-video);
      color: $white;
      font-size: 2em;
      line-height: normal;
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 1;

      @include breakpoint($medium) {
        font-size: 36px;
        right: 16px;
        top: 16px;
      }
    }
  }

  &.theme-plain {
    background-color: $pitchblack;

    &:before {
      opacity: 0;
    }
  }
}

.liftup-mosaic__label {
  left: 0;
  position: absolute;
  top: 1em;
  z-index: 10;
}

.liftup-mosaic__title {
  color: $white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0;
  position: relative;
  z-index: 2;
}
