/*
 section: 18.1
 title: Liftup grid
 template: 18_1_liftup-grid
 description: Grid of three liftups.
*/

.liftup-grid {
  display: flex;
  flex-direction: column;

  @include breakpoint($small) {
    flex-direction: row;
  }
}

.liftup-grid__item {
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vw;
  max-height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 3em;
  position: relative;

  @include breakpoint($small) {
    flex-basis: 34%;
    height: 33vw;
    max-height: 480px;
    padding: 3vw;
    width: 34%;
  }

  &.theme-small {
    background-color: $black !important;
    height: auto;

    .liftup-grid__content {
      display: flex;
      flex-direction: column;
    }

    .liftup-grid__button {
      align-self: flex-start;
      margin: 0 auto;
      padding-right: 6em;
    }
  }
}

a.liftup-grid__item:hover {
  .liftup-grid__title {
    text-decoration: underline;
  }
}

.liftup-grid__content {
  position: relative;
  width: 100%;
  z-index: 2;
}

.liftup-grid__title {
  @include font-size(30px);
  @include text-shadow-overlay;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($small) {
    @include font-size(20px);
  }

  @include breakpoint($medium) {
    @include font-size(30px);
  }
}

.liftup-grid__ingress {
  @include font-size(18px);
  @include text-shadow-overlay;
  color: $white;
  text-align: center;

  @include breakpoint($small) {
    @include font-size(14px);
  }

  @include breakpoint($medium) {
    @include font-size(18px);
  }
}

.liftup-grid__image {
  background-color: #000;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  &:after {
    background-color: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }

  img {
    min-height: 100%;
    min-width: 100%;
  }
}
