/*
 section: 15.3
 title: Links
 template: 15_3_links
 description: Links compontent is used in the top bar.
*/

.links {
  display: flex;
  flex-direction: row;
  position: relative;

  @include breakpoint($small) {
    flex-direction: column;
    text-align: right;
  }

  @include breakpoint($large) {
    flex-direction: row;
  }

  &.theme-plain {
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .links__link {
      @include font-size(11px);
      color: $mediumsilver;
      margin-left: 5px;
      padding: 16px 5px 16px 10px;

      &:hover {
        color: $white;
      }

      @include breakpoint($medium) {
        padding: 5px 6px;
      }

      &.theme-button {
        color: $white;
        padding: 10px 25px;
      }
    }

    span.links__link.theme-language {
      color: $lightgray;
    }
  }
}

.links__link {
  @include font-weight-medium;
  @include font-size(12px);
  color: $black;
  display: inline-block;
  padding: 16px 5px 16px 10px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $black;
  }

  @include breakpoint($small) {
    color: $mediumsilver;
    padding: 5px 6px;

    &:hover {
      color: $white;
    }
  }
}

// Language selection.
.links__link.theme-language {
  &.active {
    display: none;
  }

  abbr[title] {
    border: none;
    text-decoration: none;
  }

  @include breakpoint($medium) {
    abbr[title] {
      font-size: 0;

      &:after {
        @include font-size(12px);
        content: attr(title);
      }
    }
  }
}

span.links__link.theme-language {
  color: $mediumsilver;

  @include breakpoint($small) {
    color: $lightgray;
  }
}
