/*
 section: 6.2
 title: List of links
 description:
*/

%list-of-links,
.list-of-links {
  display: block;
  margin-bottom: $vert-spacing-unit;
}

.list-of-links__title {
  margin-bottom: 0.5em;
}

.list-of-links__subtitle {
  @include font-size(11px);
  @include font-weight-medium;
  color: $darksilver;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.list-of-links__link {
  @include font-weight-medium;
  margin-bottom: 2px;
  padding-left: 10px;

  &:hover {
    &:after {
      color: $white;
    }
  }

  &:after {
    height: auto;
  }
  .theme-dark & {
    @include button-next;
  }

  // Theme info footer
  .theme-footer &,
  .theme-info-footer & {
    @include border-side(bottom);
    border-bottom-color: lighten($gray, 40%);
    color: lighten($darkgray, 10%);

    &:before,
    &:after {
      color: $gray;
      margin-top: -0.5em;
      position: absolute;
      right: 0;
      top: 50%;
    }

    &:hover {
      color: $black;

      &:before,
      &:after {
        color: $black;
      }
    }
  }

  // Theme footer
  .theme-footer & {
    border-bottom-color: darken($black, 20%);
    color: $white;
    display: block;

    &:before,
    &:after {
      color: $white;
    }

    &:hover {
      color: darken($white, 20%);

      &:before,
      &:after {
        color: darken($white, 20%);
      }
    }
  }
}

/*
 section: 6.2.1
 title: List of links
 template: 6_2_1_list-of-links
 description:
*/

/*
 section: 6.2.2
 title: List of links (with transparent buttons)
 template: 6_2_2_list-of-links-transparent
 description:
*/

/*
 section: 6.2.3
 title: List of links condensed
 template: 6_2_2_list-of-links-condensed
 description:
*/

.list-of-links--condensed {
  @extend %list-of-links;
  margin-bottom: 1em;

  .list-of-links__link {
    @include font-weight-book;
    @include font-size(14px);
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    padding-left: 10px;
  }
}
