/*
 section: 6.12
 title: Messages
 description:
*/


$messages: (
	'status': (
		'color': $black,
		'color-alt': #81b43b,
		'bg-color': #b2e576,
		'bg-color-alt': #f2f7eb,
		'icon': '\EA19',
	),
	'warning': (
		'color': $white,
		'color-alt': $black,
		'bg-color': #52c6af,
		'bg-color-alt': #f8f8f8,
		'icon': '\EA3C',
	),
	'error': (
		'color': $white,
		'color-alt': #964822,
		'bg-color': #964822,
		'bg-color-alt': #f4ece8,
		'icon': '\EA3C',
	)
);


/*
 section: 6.12.1
 title: Status message
 template: 6_12_1-message-status
 description: Used for displaying informational messages to the user.
*/

/*
 section: 6.12.2
 title: Warning message
 template: 6_12_2-message-warning
 description: Used for displaying warning messages to the user.
*/

/*
 section: 6.12.3
 title: Error message
 template: 6_12_3-message-error
 description: Used for displaying error messages to the user.
*/
.messages {
	@include font-weight-medium;
	@include font-size(12px);
	text-align: center;
	padding: 1.3em 0;
	p {
		@include font-family-main;
		margin: 0;
		padding: 0;
		font-size: inherit;
	}
	a {
		@include font-weight-bold;
		&:after {
			@include hy-icon('\EA1B');
			margin-left: 0.5em;
		}
	}
	@each $name, $type in $messages {
		&.#{$name} {
			background-color: map-get(map-get($messages, $name), "bg-color");
			color: map-get(map-get($messages, $name), "color");
			* {
				color: map-get(map-get($messages, $name), "color");
			}
			&.alternative {
				background-color: map-get(map-get($messages, $name), "bg-color-alt");
				color: map-get(map-get($messages, $name), "color-alt");
				* {
					color: map-get(map-get($messages, $name), "color-alt");
				}
			}
			p:before,
			li:before {
				@include hy-icon(map-get(map-get($messages, $name), "icon"));
				font-size: 1.3em;
				margin-right: 0.7em;
			}
		}
	}
}