/*
 section: 6.8
 title: Pagination
 template: 6_8_pagination
 description:
*/
%pager,
.pager {
	margin-top: $vert-spacing-unit;
}

.pager--centered {
	text-align: center;
}

.pager__item {
	padding: 0;
}

.pager__item--current,
.pager__item a {
	@include button;
	@include font-weight-book;
	padding: 1em 1.4em;
	text-transform: none;
}

.pager__item,
.pager__item--current {
	display: inline-block;
	margin: 5px 5px;
}

.pager__item--current,
.pager__item--current a {
	background-color: $darkblue;
}

.pager__item--previous,
.pager__item--next {
	position: relative;

	a:before {
		transition-property: background-color;
		transition-duration: 0.1s;
		background-color: $blue--active;
		display: inline-block;
		height: 100%;
		top: 0;
		padding: 1em;
		position: absolute;
		text-decoration: inherit;
	}

	&:hover {
		a:before {
			background-color: $darkblue--active;
		}
	}
}

.pager__item--previous {
	a {
		padding-left: 4em;

		&:before {
			@include font-awesome("\f060");
			left: 0;
		}
	}
}

.pager__item--next {
	a {
		padding-right: 4em;

		&:before {
			@include font-awesome("\f061");
			right: 0;
		}
	}
}

.pager__item--first,
.pager__item--last {
	display: none;
}

