/*
 section: 6.8
 title: Pagination
 template: 6_8_pagination
 description:
*/
.pager {
  text-align: center;
  margin-top: $vert-spacing-unit;

  li {
    display: inline-block;
    margin: 5px 5px;
  }

  li > a {
    @include button;
    @include font-weight-book;
    text-transform: none;
    padding-top: 1em;
    padding-bottom: 1em;

    &.active {
      background-color: $darkblue;
    }
  }

  li.pager-page a {
    padding: 1em 1.4em;
  }

  .pager-last,
  .pager-next,
  .pager-previous,
  .pager-first {
    position: relative;

    a:before {
      transition-property: background-color;
      transition-duration: 0.1s;
      background-color: $blue--active;
      display: inline-block;
      height: 100%;
      top: 0;
      padding: 1em;
      position: absolute;
      text-decoration: inherit;
    }

    &:hover {
      a:before {
        background-color: $darkblue--active;
      }
    }
  }
  .pager-first a,
  .pager-previous a {
    padding-left: 4em;
    &:before {
      left: 0;
    }
  }

  .pager-first a {
    &:before {
      @include font-awesome("\f060");
    }
  }

  .pager-previous a {
    &:before {
      @include font-awesome("\f053");
    }
  }

  .pager-next a,
  .pager-last a {
    padding-right: 4em;

    &:before {
      right: 0;
    }
  }

  .pager-next a {
    &:before {
      @include font-awesome("\f054");
    }
  }

  .pager-last a {
    &:before {
      @include font-awesome("\f061");
    }
  }
}