/*
 section: 11.1
 title: Panel
 template: 11_1_panel
 description:
*/
%panel,
.panel {
  @include clearfix;
  position: relative;

  // Drupal workaround
  > .more-link {
    @extend %panel__more-link;
  }
}

%panel__more-link,
.panel__more-link {
  a {
    @include button-next-transparent;
    @include text-bold;
    border-bottom: 0 none;
  }
}
