/*
 section: 4.2
 title: Search form
 description:
*/

/*
 section: 4.2.1
 title: Search form
 template: 4_2_1_search-form
 description:
*/

/*
 section: 4.2.2
 title: Search form dark
 template: 4_2_2_search-form-dark
 description:
*/
.search-form {
  max-width: 50em;
  position: relative;
}

.search-form__label {
}

input[type="text"].search-form__input {
  height: 3rem;
}

input[type="submit"].search-form__submit {
  @include icon(); // Unicode is provided by the form
  background-color: transparent;
  border-radius: 0;
  bottom: 0;
  color: $blue;
  height: 3rem;
  padding: 0;
  position: absolute;
  right: 0;
  width: 3rem;

  &:hover,
  .search-form__input:focus + & {
    background-color: $blue;
    color: $white;
  }

  .search-form__input:focus + &:hover {
    background-color: $darkblue;
  }
}

// TODO: do this with a theme-class
.search-form--dark {
  max-width: 50em;
  position: relative;
}

input[type="text"].search-form--dark__input {
  background: $black;
  border: none;
  color: $white;
  height: 3rem;
  margin-bottom: 0;
  max-width: 100%;
  min-height: 34px;
  padding-left: 1em;
  padding-right: 3em;
  width: 100%;

  &:focus {
    outline-color: $blue;
  }
}

input[type="submit"].search-form--dark__submit {
  @include icon(); // Unicode is provided by the form
  background-color: transparent;
  bottom: 0;
  height: 3rem;
  padding: 0;
  position: absolute;
  right: 0;
  width: 3rem;

  .search-form--dark__input:focus + & {
    color: $white;

    &:hover {
      color: $blue;
    }
  }
}

.search-form-large {
  @include border-bottom;
  @include clearfix;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.search-form-large__label {
  @include text-label;
  display: block;
  padding-bottom: 0.5em;
}

input[type="text"].search-form-large__input {
  @include font-size(15px);
  border: 2px solid $lightsilver;
  color: $silver;
  display: block;
  line-height: 1.7em;
  margin-bottom: $vert-spacing-unit;
  max-width: 50em;
  padding: 0.3em 0.5em;
  width: 100%;
}
