.some-links {
  margin-top: 1em;

  .icon {
    &:before {
      color: $blue;
    }

    &:hover {
      &:before {
        color: $darkblue;
      }
    }
  }
}

.some-links__link {
  @include font-family-main;
  @include font-size(13px);
  @include font-weight-medium;
  display: block;
  margin-bottom: 0.5em;
}
