.some-links {
  margin-top: 1em;
}

.some-links__link {
  @include font-family-main;
  @include font-size(13px);
  @include font-weight-medium;
  display: block;
  margin-bottom: 0.5em;

  &.theme-colored {
    float: left;
  }
}
