//
// Tags
// --------------------------------------------------

/*
 section: 6.9
 title: Tags
 description:
*/

/*
 section: 6.9.1
 title: Tag
 template: 6_9_1-tag
 description:
*/

%tag,
.tag {
  @include arrow($direction: 'left', $ball: true);
  @include border;
  @include font-size(11px);
  @include font-weight-medium;
  border-left: none;
  color: $darksilver;
  display: inline-block;
  line-height: 27px;
  list-style: none;
  margin-left: 12px;
  padding: 0 1em 0 1.5em;
  position: relative;
  text-transform: uppercase;

  &:hover {
    color: $darkblue;
  }
}

/*
 section: 6.9.2
 title: Tag group
 template: 6_9_2-tag-group
 description:
*/

ul.tag-group {
  > li {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
