/*
 section: 6.14
 title: Todo items
 template: 6_14-todo-items
 description: Todo items list component.
*/

.todo-items {
	margin-top: 10px;
	color: #fff;

	ul {

		height: 196px;
		background-color: rgba(0, 0, 0, 0.5);
		color: #ffffff;
		margin: 1em;
		padding: 10px 20px 30px 20px;

		@include breakpoint($small) {
			margin: 0;
		}
		overflow: auto;
		border: 0 transparent;

		li {
			position: relative;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			padding: 10px 60px 10px 0px;
			word-wrap: break-word;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);

			.todo-action {
				@extend .vertically-centered;
			}

			.todo-action {
				cursor: pointer;
				&.fa-check {
					right: 35px;
				}
				&.fa-close {
					right: 10px;
				}
			}

			&.done {
				color: $gray;
				.todo-action {
					color: $black;
					&.fa-close {
						color: $white;
					}
				}
			}

			.vertically-centered {
				position: absolute;
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
	}

	.new-todo-item {
		position: relative;
		margin: 0 1em;

		@include breakpoint($small) {
			padding: 0;
			margin: 10px 0 0 0;
			height: 4em;
			line-height: 4em;
		}

		.input-container {
			overflow: hidden;
			margin-right: 4em;
			input {
				width: 100%;
				height: 4em;
				border: none;
				padding: 0 20px;
				color: $gray;
				background-color: rgba(255, 255, 255, 0.8);
				&:focus {
					background: #ffffff;
				}
				@include input-placeholder {
					color: rgb(151, 151, 151);
				}
			}
		}

		.add-icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 4em;
			height: 4em;
			text-align: center;
			background-color: $blue;
			.fa-plus {
				color: #ffffff;
			}
		}
	}
}