/*
 section:  6.10.7
 title: Box subtitle
 template: 6_10_7-box-subtitle
 description: Provides supplementary text information below a title
*/

%box-subtitle,
.box-subtitle {
  display: block;
}

.box-subtitle__title {
  @include label-rule(bottom);
  @include text-label;
}

.box-subtitle__content {
  @include font-weight-medium;

  @include breakpoint($small) {
    height: 3em;
  }
}

.box-subtitle__ingress {
  @include text-liftup;
  margin-bottom: $vert-spacing-unit;
}
