/*
 section:  6.10.6
 title: Box subsection
 template: 6_10_6-box-subsection
 description: Provides peripheral information of main content eg. contact info
*/

%box-subsection,
.box-subsection {
  @include border;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
}

.box-subsection__title {
  @include text-label;
}

.box-subsection__content {
  @include text-informative;
  margin: 1em 0 0;

  &.theme-plain {
    @include font-size(16px);
  }
}

.box-subsection__row {
  padding-bottom: 1em;
  word-wrap: break-word;

  a {
    @include font-weight-medium;

    &.is-tel {
      @include breakpoint($small) {
        @include font-weight-book;
        color: $lightgray;
      }
    }
  }
}
