/*
 section: 6.10.8
 title: Box card
 template: 6_10_8_box-card
 description: Displays contact card type information.
*/
%box-card,
.box-card {
  @include font-size(14px);
  transition-duration: 0.3s;
  transition-property: all;
  border: none;
  color: $black;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  line-height: 19px;

  &.theme-plain {
    border: none;
    display: block;

    .box-card__item {
      @include breakpoint($medium) {
        flex-direction: row;
      }

      &:last-of-type {
        border: none;
      }
    }

    .box-card__section {
      border: none;
      margin: 0;
      padding: 0;

      @include breakpoint($medium) {
        width: 60%;

        &.theme-secondary {
          width: 40%;
        }
      }
    }
  }
}

.box-card__header {
  @include border-bottom;
  @include font-size(16px);
  background-color: $black;
  border: none;
  color: $white;
  font-weight: 400;
  height: auto;
  line-height: 19px;
  padding: 0.6em 1em 0.6em 1.8em;
  transition-duration: 0.1s;
  transition-property: background-color;

  &:hover {
    background-color: $darkgray;
    color: $white;
  }

  &:after {
    @include icon($icon-arrow-right);
    float: right;
  }
}

.box-card__content {
  background-color: $lightsilver;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  line-height: 19px;
  padding: 0.75em 1.25em;
}

.box-card__item {
  border: none;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @include breakpoint($medium) {
    flex-direction: row;
  }

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
  }
}

.box-card__section {
  @include breakpoint($medium) {
    border-right: 1px solid $lightsilver;
    width: 35%;

    &.theme-secondary {
      border-right: 1px solid $lightsilver;
      padding-left: 2em;
      width: 30%;
    }

    &:last-of-type {
      border: none;
      padding-left: 2em;
    }
  }
}

.box-card__field {
  margin-bottom: 1em;
  padding: 0 2em;
  position: relative;
  word-wrap: break-word;

  &.theme-small {
    margin-bottom: 0.5em;
  }

  &.icon--units-and-faculties {
    @include font-weight-bold;
    text-transform: capitalize;
  }

  // Icons
  &:after {
    left: 0;
    position: absolute;
    top: 1px;
  }
}

.box-card__fieldset {
  @extend .box-card__field;

  a {
    display: block;
    margin-bottom: 0.5em;
    padding-left: 1em;
    position: relative;

    &:before {
      color: $silver;
      content: 'L';
      left: 0;
      position: absolute;
      transform: translateY(-25%);
    }

    &:first-of-type {
      padding: 0;

      &:before {
        display: none;
      }
    }
  }
}
