/*
 section: 6.10.5
 title: Box story
 description: Displays content as a liftup in e.g. gridder-fields and news listings
*/

/*
 section: 6.10.5.1
 title: Box story
 template: 6_10_5_1-box-story
 description: Displays content as a liftup in e.g. gridder-fields and news listings
*/
%box-story,
.box-story {
	display: block;
	height: 100%;
	overflow: hidden;
}

.box-story__image {
	margin-bottom: 0.5em;

  @include breakpoint($medium) {
    .gridder-box-width-3:not(.gridder-parent) &,
    .gridder-box-width-4:not(.gridder-parent) & {
      border-right: 1em solid #FFFFFF;
      float: left;
    }
  }

	img {
    @include border;
		width: 100%;
	}
}

.box-story__video {
	display: inline-block;
	margin-bottom: 0.5em;
	position: relative;
	width: 100%;

	&:after {
		content: '';
		display: block;
		padding-top: 56.25%; // Aspect ratio of 16:9
	}

	> * {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}

	img {
		width: 100%;
	}

	iframe, object, embed, video {
		width: 100%;
		height: 100%;
	}
}

.box-story__topical {
	@include border;
	@include font-size(12px);
	@include font-weight-medium;
  background-color: $white;
	margin-bottom: 1em;
	overflow: hidden;
}

.box-story__date {
	color: $silver;
	display: inline-block;
	padding: 5px 1em;
}

.box-story__tag {
	@include tag-label;
	border: none;
	display: inline-block;
	text-transform: uppercase;
}

.box-story__title {
	@include transition-property(color);
	@include transition-duration(0.1s);
	overflow: hidden;

	.box-story:active &,
	.box-story:hover & {
		color: $darkblue;
	}
}

.box-story__content {
	@include font-family-bodytext;
	color: $gray;
	line-height: 1.5em;
	margin-bottom: 0.4em;
	overflow: hidden;

	a {
		@include link-concealed;
	}
}

.box-story__link {
	@include button-next-transparent;
	@include font-weight-medium;
	@include transition-duration(0.1s);
	@include transition-property(color);
	color: $darkgray;

	.box-story:active &,
	.box-story:hover & {
		color: $darkblue;
	}
}

.box-story__embed {
  clear: both;
  padding-top: 1em;
}

/*
 section: 6.10.5.2
 title: Box story liftup
 template: 6_10_5_2-box-story-liftup
 description: box-story--liftup is a more prominent display of content
*/
%box-story-liftup,
.box-story-liftup {
	@extend %box-story;
}

.box-story__image {
	.box-storyliftup & {
		@include breakpoint($small) {
			float: left;
			margin-right: 2em;
			max-width: 270px;
		}
	}
}

.box-story__title {
	.box-story-liftup & {
		@include font-size(30px);
		height: auto;
	}

	.box-story-liftup:active &,
	.box-story-liftup:hover & {
		color: $darkblue;
	}
}

.box-story__content {
	.box-story-liftup & {
		@include font-family-main;
		@include text-liftup;
		overflow: visible;
		color: $lightgray;

		@include breakpoint($medium) {
			overflow: hidden;
		}
	}
}

.box-story__link {
	.box-story-liftup:active &,
	.box-story-liftup:hover & {
		color: $darkblue;
	}
}

/*
 section: 6.10.5.3
 title: Box story constrained
 template: 6_10_5_3-box-story-constrained
 description: Constrained story has content that is not full width
*/
.box-story--constrained {
  @extend %box-story;
  @include border-bottom;
  padding: 1em 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border: 0;
  }
}

.box-story__title {
  .box-story--constrained & {
    float: left;
    height: auto;
    margin-right: 2em;
  }
}

.box-story__topical {
  .box-story--constrained & {
    display: inline-block;
    margin: 0;
  }
}

.box-story__content {
  .box-story--constrained & {
    .more-link {
      display: inline;
      float: none;
      margin-left: 1em;
      text-align: left;
    }
  }
}
