/*
 section:  6.10.7
 title: Box subtitle
 template: 6_10_7-box-subtitle
 description: Provides supplementary text information below a title
*/

%box-subtitle,
.box-subtitle {
  display: block;

  &.gridder-box {
    margin: 0 0 15px 0;
  }
}

.box-subtitle__title {
  @include text-label;
  @include font-size(16px);
  margin-bottom: 0.2em;
}

.box-subtitle__link {
  @include breakpoint($small) {
    float: right;
  }

  a {
    @include text-bold;
  }
}

.box-subtitle__content {
  @include text-bold;
}
