/*
 section: 6.10.2
 title: Box data
 template: 6_10_2_box-data
 description: Data is story-like component, but mainly with data insertions e.g. event list.
*/

%box-data,
.box-data {
  display: flex;
  padding: 0 0 15px 0;

  @include breakpoint($small) {
    width: 100%;
  }
}

.box-data__title {
  @include text-informative;
  @include font-family-main;
  @include font-weight-medium;
}

.box-data__date {
  display: flex;
  @extend .box-data__title;
  align-items: center;
  background-color: $gray;
  color: $white;
  flex-shrink: 0;
  height: 55px;
  line-height: 1em;
  margin: 0 20px 0px 0;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 55px;

  @include breakpoint($small) {
    margin: 0 15px 0 0;
  }
}

.box-data__content {
  @include text-informative;
  @include font-family-main;
}
