/*
 section: 6.10.1
 title: Box application
 template: 6_10_1_box-application
 description: A box used to display application type content. For different colors, see 1.1.3. Use theme-[faculty color name] class to choose element theme color
*/

.box-application {
  @include clearfix;
  @include font-size(14px);
  @include shadow-under;
  display: block;
  position: relative;
}

.box-application-wrapper-link {
	&:hover {
		border-color: $blue--active;

		&:after {
			color: $blue--active;
		}

		.box-application__content {
			border-color: $blue--active;
		}

		.box-application__title {
			background-color: $blue--active;
		}
	}

	&:after {
		transition: color, 0.1s;
		@include arrow-internal;
		bottom: 1em;
		height: 1em;
		position: absolute;
		right: 1em;
	}

	// Generate theme colors via array selectors declared in _colors.scss
	@for $i from 1 through length($faculty_colors) {
		$color_name : nth($faculty_color_names, $i);
		$color : nth($faculty_colors, $i);

		.theme-#{$color_name} & {
			.box-application-content {
				border-left-color: $color;
			}

			&:hover {
				border-color: $color;

				.box-application-content {
					border-color: $color;
				}

				.box-application-title {
					background-color: $color;
				}

				&:after {
					color: $color;
				}
			}
		}
	}
}

.box-application-title {
	transition: all, 0.1s;
	background-color: $blue;
	color: $white;
	padding: 1em;
	text-align: center;
	overflow: hidden;

	@include breakpoint($small) {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 6.2em;
	}

	@include breakpoint($medium) {
		height: 5.6em;
	}

	.inverted:hover & {
		color: $black;
	}
}

.box-application-content {
	transition: border-color, 0.1s;
	@include border-side('bottom');
	@include border-side('left');
	@include border-side('right');
	border-left: 4px solid $blue;
	color: $silver;
	overflow: hidden;
	padding: 1em 1.5em;

	&.theme-big {
		min-height: 12em;
	}
}
