/*
 section: 6.10.5
 title: Box story
*/

/*
 section: 6.10.5.1
 title: Box story
 template: 6_10_5_1-box-story
 description: Displays content as a liftup in e.g. gridder-fields. ".theme-plain-alt" modifier is for pictureless stories. ".theme-black" is also possible.
*/
.box-story {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  transition-duration: 0.1s;
  transition-property: background-color;

  &.theme-plain-alt {
    background-color: $mediumsilver;

    .box-story__link-wrapper {
      padding: 1em;

      &:after {
        @include icon($icon-arrow-right);
        color: $black;
        float: right;
      }

      &:hover {
        .box-story__title {
          color: $black;
        }
      }
    }

    * {
      color: $black;
    }

    .box-story__meta {
      height: auto;
    }

    .box-story__label {
      background: $white;
      color: $blue--active;
    }

    .box-story__link {
      bottom: 0.5em;
      position: absolute;
      right: 1.5em;
    }

    &:hover {
      background-color: $silver;
    }

    @include breakpoint($small) {
      .box-story__title {
        font-size: 170%;
      }

      .box-story__link-wrapper {
        padding: 1.5em 1.5em 3.5em 1.5em;

        &:after {
          bottom: 1em;
          margin: 0;
          position: absolute;
          right: 1.5em;
        }
      }
    }
  }

  &.theme-black {
    @include breakpoint($small) {
      background: #000;
      display: flex;

      .box-story__link-wrapper {
        width: 100%;

        &:after {
          @include icon($icon-arrow-right);
          bottom: 1em;
          color: $white;
          position: absolute;
          right: 1.5em;
        }

        &:hover {
          .box-story__title {
            color: $white;
          }
        }
      }

      .box-story__image {
        border: none;
        float: left;
        margin-bottom: 0;
        margin-right: 10px;
        padding-right: 20px;
        width: 33.3333%;

        img {
          border: 0;
          margin: 0;
        }
      }

      .box-story__content {
        color: $white;
        padding-right: 20px;
      }

      .box-story__title {
        @include font-size(30px);
        color: $white;
        padding-right: 20px;
        padding-top: 20px;
      }
    }
  }
}

.box-story__label {
  @include font-size(11.2px);
  @include label;
  left: 1px;
  position: absolute;
  top: 1em;
  z-index: 10;

  .theme-thin {
    font-weight: 200;
    margin-left: 0.3em;
  }

  &.theme-yliopisto-lehti {
    background-color: $orange;
  }
}

.box-story__image {
  margin-bottom: 0.5em;
  position: relative;

  img {
    @include border;
    margin-bottom: 2px;
    width: 100%;
  }

  .box-story__overlay {
    background: $black;
    bottom: 1em;
    color: $white;
    font-size: 0.8em;
    padding: 0 3px;
    position: absolute;
    right: 1em;
    text-align: right;

    &.theme-bold {
      text-shadow: 1px 1px 1px #222, 0px 0px 1px rgba(0, 0, 0, 0.6);
      background: none;
      font-size: 1.05em;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 1em;
      text-transform: uppercase;
    }
  }
}

.box-story__meta {
  @include font-size(12px);
  @include font-weight-medium;
  margin-bottom: 0.6em;
  overflow: hidden;

  @include breakpoint($small) {
    height: 2.7em;
  }

  @include breakpoint($medium) {
    height: auto;
  }
}

.box-story__date,
.box-story__tag {
  @include font-size(11.2px);
  @include text-tag;
  @include tb-ball('after');
}

.box-story__title {
  display: flex;
  transition-property: color;
  transition-duration: 0.1s;
  align-items: center;
  overflow: hidden;

  .box-story__link-wrapper:active &,
  .box-story__link-wrapper:hover & {
    color: $darkblue;
  }
}

.box-story__content {
  @include font-family-bodytext;
  @include font-size(14px);
  color: $lightgray;
  line-height: 1.5em;
  margin-bottom: 0.4em;
  overflow: hidden;

  &:not(.textarea) a {
    @include link-concealed;
  }
}

.box-story__link-wrapper {
  display: block;
  flex-grow: 1;
}

.box-story__link {
  @include font-weight-medium;
  transition-duration: 0.1s;
  transition-property: color;
  color: $black;
}

.box-story__embed {
  clear: both;
  padding-top: 1em;
}

.box-story__video {
  display: inline-block;
  margin-bottom: 0.5em;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
    padding-top: 56.25%; // Aspect ratio for our gridder
  }

  > * {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  img {
    width: 100%;
  }

  iframe, object, embed, video {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &.theme-full {
    &:after {
      padding-top: 56.25%;
    }
  }
}

.box-story__creator {
  color: $lightgray;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.box-story__info {
  color: $lightgray;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

/*
 section: 6.10.5.2
 title: Box story topical
 template: 6_10_5_2-box-story--topical
 description: Box story variant for topical items like news stories. ".theme-plain" modifier is for pictureless topical stories.
*/
.box-story--topical {
  &.theme-plain {
    background-color: $blue--active;
    padding: 3.5em 1.5em;

    .box-story__link-wrapper {
      &:after {
        @include icon($icon-arrow-right);
        color: $white;
        bottom: 1em;
        margin: 0;
        position: absolute;
        right: 1.5em;
      }

      &:hover {
        .box-story__title {
          color: $white;
        }
      }
    }

    * {
      color: $white;
    }

    .box-story__meta {
      height: auto;
    }

    .box-story__label {
      background: $white;
      color: $blue;
    }

    .box-story__link {
      bottom: 0.5em;
      position: absolute;
      right: 1.5em;
    }

    &:hover {
      background-color: $darkblue;
    }
  }
}

/*
 section: 6.10.5.3
 title: Box story liftup
 template: 6_10_5_3-box-story--liftup
 description: box-story--liftup is a more prominent display of content
*/
.box-story--liftup {
  clear: both;
  display: block;
  overflow: visible;

  .box-story__image {
    float: right;
    margin-left: 0.5em;
    max-width: 100px;
    text-align: center;

    @include breakpoint($small) {
      margin-bottom: 0;
      max-width: 270px;
    }

    img {
      vertical-align: middle;
      width: auto;
    }
  }

  .box-story__title {
    height: auto;
  }

  .box-story__content {
    overflow: visible;

    @include breakpoint($medium) {
      overflow: hidden;
    }
  }
}

/*
 section: 6.10.5.4
 title: Box story constrained
 template: 6_10_5_4-box-story--constrained
 description: Constrained story has content that is not full width
*/
.box-story--constrained {
  @include border-bottom;
  padding: 1em 0 0.5em;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border: 0;
  }

  .box-story__title {
    display: inline-block;
    height: auto;
    margin-right: 2em;
    padding-bottom: 0;
  }

  .box-story__meta {
    display: inline-block;
    height: auto;
    margin: 0;
  }

  .box-story__content {
    .more-link {
      display: inline;
      float: none;
      margin-left: 1em;
      text-align: left;
    }
  }
}



/*
 section: 6.10.5.5
 title: Box story related
 template: 6_10_5_5-box-story--related
 description: ...
*/
.box-story--related {
  margin-bottom: $vert-spacing-unit;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($small) {
    margin-left: 0;
    margin-right: 0;
    max-width: 369px;
  }

  .box-story__image {
    margin-bottom: 0;

    img {
      border: none;
      margin-bottom: 0;
    }
  }

  .box-story__content-wrapper {
    background-color: $lightsilver;
    padding: 1.5em;
  }

  .box-story__content {
    @include font-family-main;
    @include font-size(14px);

    p {
      @include font-size(14px);
    }
  }
}
