/*
 section: 6.10.3
 title: Box hero
 template: 6_10_3_box-hero
 description: Box-hero is the main story (for example, front page carousel content)
*/

%box-hero,
.box-hero {
  margin: 0 auto;
  text-align: center;

  @include breakpoint($large) {
    text-align: left;

    &:before {
      background: rgba(0, 0, 0, 0.2);
      bottom: 0;
      content: '';
      position: absolute;
      top: 0;
    }
  }

  @include breakpoint($large) {
    @include grid-span(7, 1);
    margin: 0;
  }

  &.theme-prominent {
    clear: none;
    float: none;
    padding: 0;
    text-align: left;
    width: auto;

    .box-hero__title {
      margin-bottom: 0;
      padding-bottom: 0.4em;

      @include breakpoint($medium) {
        @include font-size(60px);
      }
    }

    .box-hero__link > a {
      margin-top: 21px;
    }
  }

  &.theme-small {
    clear: none;
    float: none;
    text-align: center;
    width: auto;

    @include breakpoint($small) {
      @include display-flex;
      align-items: center;
      -webkit-align-items: center;
      flex-direction: row;
      -webkit-flex-direction: row;
      padding: 0 1em;
      text-align: left;
    }

    .box-hero__title {
      @include font-size(26px);
      margin: 0;
      padding-bottom: 0.25em;

      @include breakpoint($small) {
        @include font-size(36px);
        margin-right: 1em;
        padding: 0;
      }
    }

    .box-hero__alt-title {
      @include font-size(16px);
      padding: 0;

      @include breakpoint($small) {
        width: 30%;
      }
    }
  }
}

.box-hero__shadow {
  background: rgba($black, 0.3);
  background: $raster-stripe;
  background-position: -1px 100%;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  display: inline;
  line-height: 150%;
  padding: 0 0.5rem;
}

.box-hero__title {
  @include font-size(40px);
  color: $white;
  line-height: 105%;
  margin-bottom: $vert-spacing-unit * 0.5;
  // 0.7 = 21px, 0.3 = 9px
  padding: 0;
  word-wrap: break-word;

  @include breakpoint($small) {
    @include font-size(48px);
  }

  &:only-child {
    margin: 0;
  }
}

.box-hero__alt-title {
  @include font-size(20px);
  color: $white;
  letter-spacing: normal;
  line-height: 105%;
  text-transform: none;
  word-wrap: break-word;

  @include breakpoint($small) {
    @include font-size(24px);
  }

  @include breakpoint($medium) {
    @include font-size(30px);
  }
}

.box-hero__content {
  @include font-family-main;
  @include text-liftup;
  @include font-size(20px);
  color: $white;
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: $vert-spacing-unit * 0.7;
}

a.box-hero__link,
.box-hero__link > a {
  @include button-next;
  @include font-weight-medium;
  display: inline-block;
  padding-right: 6em;
  text-align: left;
}

.box-hero__link.is-videolink {
  a:after {
    @include icon('\f01d');
    @include font-size(30px);
    @include font-weight-light;
    line-height: 45px;
    padding: 0 0.35em;
  }
}

.box-hero-plain {
  @include vertically-center;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;

  .box-hero__link {
    @include font-weight-medium;
    display: none;
    padding-right: 6em;
    text-align: left;

    @include breakpoint($small) {
      display: inline-block;
    }

    .carousel-unwrapped__cell:first-of-type & {
      display: inline-block;
    }
  }
}
