// Breakpoint variables, gutters and spacings
$vert-spacing-unit: 30px;
$horz-spacing-unit: 30px;

$bp-small: 48em;
$bp-medium: 62.5em;
$bp-large: 75em;

$mobile-only: max-width $bp-small;
$small: $bp-small, "no-query" ".lt-ie9";
$small-only: (min-width $bp-small) (max-width $bp-medium);
$medium: $bp-medium, "no-query" ".lt-ie9";
$large: $bp-large;

$gutters: $horz-spacing-unit;
