/*
	section: 1.1
	title: Colors
	description: The colors used through out the theme.
 */
 
 /*
	section: 1.1.1
	title: Text colors
	description: Main text colors for Helsingin yliopisto - Julkiset
	color-list: grid
	colors: $white, $black
 */
$white: #FFF;
$black: #222;

 /*
	section: 1.1.2
	title: Other colors
	description: The colors used through out the theme.
	color-list: list
	colors: $blue, $blue--active, $darkblue, $darkblue--active, $lightsilver, $silver, $darksilver, $lightgray, $gray, $darkgray, $green, $brown
 */
$blue: #0098d0;
$blue--active: #0882B3;
$darkblue: #005479;
$darkblue--active: darken($darkblue, 10%);

$lightsilver: #EBEBEB;
$silver: #979797;
$darksilver: #888888;
$lightgray: #777777;
$gray: #666;
$darkgray: #424242;

$green: #4FB151;
$brown: #974822;