@mixin arrow($direction, $ball) {
	&:before, &:after {
		@include border;
		@if $direction == left {
			border-bottom-color: transparent;
			border-left-color: transparent;
			border-top-color: transparent;
		}
		border-width: 14px 10px;
		content: " ";
		height: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 0;
	}

	&:before {
		left: -20px;
	}

	&:after {
		left: -19px;
		@if $direction == left {
			border-right-color: $white;
		}
	}

	@if $ball {
		> *:before {
			@include border;
			border-color: darken($lightsilver, 10%);
			border-radius: 50%;
			content: " ";
			height: 6px;
			left: 0;
			margin-top: -3px;
			pointer-events: none;
			position: absolute;
			top: 50%;
			width: 6px;
			z-index: 10;
		}
	}
}

@mixin arrow-internal {
	@include font-awesome("\f061");
	color: $blue;
}

@mixin alternative-arrow($color: $white, $size:10px, $direction:'down') {
	width: 0;
	height: 0;
	content: '';

	@if $direction == 'up' {
		border-right: $size solid transparent;
		border-left: $size solid transparent;
		border-bottom: $size solid $color;
	}

	@if $direction == 'down' {
		border-right: $size solid transparent;
		border-left: $size solid transparent;
		border-top: $size solid $color;
	}

	@if $direction == 'right' {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	}

	@if $direction == 'left' {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	}
}
