@mixin button {
  transition-duration: 0.1s;
  transition-property: all;
  @include font-size(15px);
  background-color: $blue;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 0.8em 1em;

  &:hover {
    background-color: $darkblue;
    color: $white;
  }

  &:before, &:after {
    transition-duration: 0.1s;
    transition-property: all;
  }
}

@mixin button-accordion {
  @include button;
  background-color: $white;
  border: 2px solid $blue;
  color: $blue;
  display: block;
  line-height: normal;
  overflow: hidden;
  padding-bottom: 0.8em;
  padding-left: 3em;
  padding-right: 0;
  padding-top: 0.8em;
  position: relative;

  &:before {
    @include icon($icon-arrow);
    @include vertically-center;
    color: $blue;
    left: 1em;
    position: absolute;
    transition-duration: 0.1s;
  }

  &.is-active {
    background-color: $blue;
    color: $white;

    &:before {
      color: $white;
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &:hover {
    background-color: $blue;
  }

  a:hover &:before,
  &:hover:before {
    color: $white;
  }
}

@mixin button-next-transparent {
  @include font-family-main;
  @include font-size(15px);
  display: block;
  line-height: normal;
  overflow: hidden;
  padding-bottom: 0.8em;
  padding-left: 0;
  padding-top: 0.8em;
  position: relative;

  &:after {
    @include icon($icon-link-arrow);
    color: inherit;
    font-weight: 200;
    height: 100%;
    margin-left: 1em;
  }

  a:hover &:after,
  &:hover:after {
    color: $darkblue;
  }
}

@mixin button-next {
  transition-duration: 0.2s;
  transition-property: color background-color;
  @include button-next-transparent;
  background: $blue;
  color: $white;
  overflow: visible;
  padding-left: 1em;
  padding-right: 4em;

  &:after {
    transition-duration: 0.2s;
    transition-property: color background-color;
    background-color: $blue--active;
    color: $white;
    line-height: 2.8em;
    margin-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background-color: $darkblue;
    color: $white;

    a:hover &:after,
    &:after {

      background: $darkblue--active;
      color: $white;
    }
  }

  a:hover & {
    background-color: $darkblue;
    color: $white;

    &:after {
      background: $darkblue--active;
      color: $white;
    }
  }
}

@mixin button-previous-transparent {
  @include button-next-transparent;

  &:after {
    @include icon($icon-link-arrow-left);
    left: 0;
    margin-left: 0;
    margin-right: 1em;
    right: auto;
  }
}

@mixin button-previous {
  @include button-next;
  padding-left: 4em;
  padding-right: 1em;

  &:after {
    @include icon($icon-link-arrow-left);
    left: 0;
    margin-left: 0;
    margin-right: 1em;
    right: auto;
  }
}

@mixin button-anchor {
  @include font-size(15px);
  @include font-weight-bold;
  display: block;
  overflow: hidden;
  padding-left: 1.5em;
  position: relative;

  &:before {
    @include icon($icon-link-arrow-offsite);
    @include font-size(12px);
    color: $blue;
    height: 100%;
    left: 0;
    line-height: 1.9em;
    position: absolute;
    top: 0;
  }

  a:hover &:before,
  &:hover:before {
    color: $darkblue;
  }
}

@mixin button-anchor--up {
  @include font-size(13px);
  @include font-weight-medium;
  background: $blue;
  color: $white;
  display: inline-block;
  height: 60px;
  line-height: 1.2em;
  padding-top: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 60px;

  &:hover {
    background-color: $darkblue;
  }

  &:after {
    @include icon($icon-link-arrow-up);
    @include font-size(15px);
    color: $white;
    height: 100%;
    left: 23px;
    position: absolute;
    top: 10px;
  }
}

@mixin button-tag {
  @include button;
  @include border;
  @include font-size(13px);
  background: $lightsilver;
  border-color: darken($lightsilver, 10%);
  color: $darkgray;
  cursor: default;
  padding: 2px 0.4em;

  // Close button
  a {
    @include font-size(13px);
    color: $darkblue;
    cursor: pointer;
    margin-left: 3px;

    &:after {
      @include icon($icon-remove);
    }
  }

  &:hover a {
    color: lighten($blue, 20%);
  }
}
