@mixin button { //TODO: Use compass for vendor prefixes
	transition-duration: 0.1s;
	transition-property: all;
	background-color: $blue;
	border: none;
	color: $white;
	cursor: pointer;
	display: block;
	line-height: 125%;
	padding: 0.9em 1em;

	&:hover {
		background-color: $darkblue;
		color: $white;
	}
}

@mixin button-accordion {
	@include button;
	background-color: $white;
	border: 2px solid $blue;
	color: $blue;
	display: block;
	line-height: normal;
	overflow: hidden;
	padding-bottom: 0.8em;
	padding-left: 3em;
	padding-right: 0;
	padding-top: 0.8em;
	position: relative;

	&:before {
		@include hy-icon("\EA1B");
		@include vertically-center;
		transition-duration: 0.1s;
		color: $blue;
		left: 1em;
		position: absolute;
	}

	&.is-active {
		background-color: $blue;
		color: $white;

		&:before {
			transform: translateY(-50%) rotate(90deg);
			color: $white;
		}
	}

	&:hover {
		background-color: $blue;
	}

	a:hover &:before,
	&:hover:before {
		color: $white;
	}
}
@mixin button-accordion--dark {
	@include button-accordion;
	background-color: $blue;
	border-color: $blue;
	color: $white;
	
	&:hover {
		background-color: $darkblue;
		border-color: $darkblue;
	}
	&:before {
		color: $white;	
	}
	&.active {
		background-color: $darkblue;
		border-color: $darkblue;
		color: $white;
	}
}

@mixin button-internal {
	@include border-side(bottom);
	@include font-family-main;
	@include font-size(15px);
	display: block;
	line-height: normal;
	overflow: hidden;
	padding-bottom: 0.8em;
	padding-left: 0;
	padding-right: 2em;
	padding-top: 0.8em;
	position: relative;

	&:after {
		@include hy-icon("\EA1B");
		color: inherit;
		font-weight: 200;
		height: 100%;
		margin-top: -0.5em;
		position: absolute;
		right: 0;
		top: 50%;
	}

	a:hover &:after,
	&:hover:after {
		color: $darkblue;
	}
}

@mixin button-internal--dark {
	@include button-internal;
	background: $blue;
	border: none;
	color: $white;
	overflow: visible;
	padding-left: 1em;
	padding-right: 3em;

	&:after {
		transition-duration: 0.1s;
		transition-property: padding;
		background-color: $blue--active;
		color: $white;
		line-height: 2.8em;
		margin-top: 0;
		padding-left: 1em;
		padding-right: 1em;
		top: 0;
	}

	&:hover {
		background-color: $darkblue;
		color: $white;

		a:hover &:after,
		&:after {
			background: $darkblue--active;
			color: $white;
			// padding-right: 0.5em;
		}
	}
}

@mixin button-anchor {
	@include font-size(15px);
	@include font-weight-bold;
	display: block;
	overflow: hidden;
	padding-left: 1.5em;
	position: relative;

	&:before {
		@include hy-icon("\EA1B");
		@include font-size(12px);
        transform: rotate(90deg);
		color: $blue;
		height: 100%;
		left: 0;
		line-height: 1.9em;
		position: absolute;
		top: 0;
	}

	a:hover &:before,
	&:hover:before {
		color: $darkblue;
	}
}

@mixin button-anchor--up {
	@include font-size(13px);
	@include font-weight-medium;
	background: $blue;
	color: $white;
	display: inline-block;
	height: 60px;
	line-height: 1.2em;
	padding-top: 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 60px;

	&:hover {
		background-color: $darkblue;
		color: $white;
	}

	&:after {
		@include hy-icon("\EA02");
		@include font-size(15px);
		color: $white;
		height: 100%;
		left: 23px;
		position: absolute;
		top: 10px;
	}
}
