@mixin tag-label {
  @include arrow($direction: "left", $ball: true);
  @include border;
  border-left: none;
  color: $silver;
  display: block;
  line-height: 27px;
  margin-left: 12px;
  padding: 0 1em 0 1.5em;
  position: relative;

  // "Fugly" selector hack
  a {
    color: inherit;

    &:hover {
      color: $darkblue;
    }
  }
}
