@mixin text-shadow-default {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@mixin text-shadow-outline($color: $black) {
  text-shadow: 1px 1px 0 $color;
}

@mixin text-shadow-outline-bold($color: $black) {
  text-shadow: 0 1px 2px $color;
}

@mixin text-shadow-outline-small($color: $black) {
  text-shadow: 1px 1px 1px $color, 0px 0px 1px rgba(0, 0, 0, 0.6);
}
