// Label rule
@mixin label-rule($direction) {
  @include border-side($direction);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

// Horizontal rule
@mixin horizontal-rule($direction) {
  @include border-side($direction);
  margin-#{$direction}: $vert-spacing-unit;
  padding-#{$direction}: $vert-spacing-unit;
}

// Regional rule bottom
@mixin regional-rule-bottom($border-color) {
  background: transparent url("../images/bg_shadow.png") no-repeat top center;
  background-size: 100% auto;
  border-bottom: 1px solid $border-color;
}

// Regional rule top
@mixin regional-rule-top($border-color) {
  background: transparent url("../images/bg_shadow.png") no-repeat top center;
  background-size: 100% auto;
  border-top: 1px solid $border-color;
  margin-top: $vert-spacing-unit;
  padding-top: $vert-spacing-unit;
}

// Line break with rule on top
@mixin line-break($border-color) {
  border-top: 2px solid $border-color;
}

// Inline element with ball before/after
@mixin tb-ball($position: "before") {
  display: inline-block;
  position: relative;

  &:last-child {
    &:after {
      display: none;
    }
  }

  @if $position == "before" {
    padding-left: 1.5em;

    &:before {
      content: " ";
      left: 0;
    }
  }
  @else if $position == "after" {
    margin-right: 0.5em;
    padding-right: 1.5em;

    &:after {
      content: " ";
      right: 0;
    }
  }

  &:after,
  &:before {
    @include border;
    border-color: $mediumsilver;
    border-radius: 50%;
    height: 6px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 6px;
    z-index: 10;
  }

  // "Fugly" selector hack
  a {
    color: inherit;

    &:hover {
      color: $darkblue;
    }
  }
}
