// TODO: refactoring / streamlining needed for our grid classes

/*
  section: 1.2
  title: Grid
  description: The recommended grid to use is <a href="https://github.com/at-import/Singularity" target="_blank">singularity</a>.
 */

/**
 * Gridder container and box classes
 */
$grid-gutter: $vert-spacing-unit / 2;

.gridder-container-4 {
  &.theme-alt {
    > .gridder-box {
      > * {
        border-bottom: 1px solid $lightsilver;
      }

      &:last-child > * {
        border-bottom: none;
      }

      @include breakpoint($small) {
        margin-bottom: 0;

        &:nth-last-of-type(-n+2) > * {
          border-bottom: none;
        }
      }

      @include breakpoint($small-only) {
        margin-bottom: 30px;
        width: 50%;

        &:nth-of-type(2n) > * {
          border-right: none;
        }
      }

      @include breakpoint($medium) {
        > * {
          border-bottom: none;
          border-right: 1px solid $lightsilver;
          padding-right: 15px;
        }

        &:last-child > * {
          border-right: none;
        }
      }
    }
  }
}

.gridder-parent {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;

  @include breakpoint($small) {
    margin-left: 0;
    margin-right: 0;
  }
}

.gridder-box {
  @include display-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin-bottom: $vert-spacing-unit;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  padding: 0 16px;

  @include breakpoint($small) {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }

  &.theme-compact {
    margin-bottom: 1em;
  }
}

// Different widths
@for $grid-columns from 1 through 4 {
  $gridder-box-width: 100% / $grid-columns;

  .gridder-container-#{$grid-columns} {
    .gridder-parent & {
      margin: 0 (-$grid-gutter);
    }

    @include breakpoint($small) {
      @include display-flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      margin: 0 (-$grid-gutter);
    }

    > .gridder-box {
      @include breakpoint($small) {
        width: $gridder-box-width;

        &.gridder-box-width-#{$grid-columns} {
          width: 100%;
        }

        @for $i from 1 through 4 {
          &.gridder-box-width-#{$i} {
            width: $gridder-box-width * $i;
          }
        }
      }
    }

    > .gridder-parent {
      @include breakpoint($small) {
        @for $i from 1 through 4 {
          &.gridder-box-width-#{$i} {
            width: $gridder-box-width * $i;
          }
        }
      }
    }
  }
}
