/*
 section: 17.1
 title: Overlay
 template: 17_1_overlay
 description: Full screen overlay for menu, etc.
*/

.l-overlay {
  background-color: $black;
  display: none;
  flex-direction: column;
  height: 101%;
  left: 0;
  opacity: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  transition: opacity 0.25s;
  visibility: hidden;
  width: 100%;
  z-index: 300;

  &.is-open {
    display: flex;
    opacity: 1;
    overflow-y: scroll;
    visibility: visible;

    .l-overlay__main {
      animation: fadeIn 0.25s;
    }
  }

  &.is-closing {
    opacity: 0;
  }

  @include breakpoint($medium) {
    opacity: 1;

    body:not(.is-scrolled) & {
      transform: translateY(35px);
    }

    &.is-closing {
      opacity: 1;
      overflow-y: hidden;
    }
  }

  button.overlay-close {
    align-items: center;
    border: none;
    background: none;
    color: $white;
    display: flex;
    font-size: 0;
    height: 40px;
    margin-left: 20px;
    padding: 0 0 0 1em;
    text-transform: uppercase;

    &:hover {
      color: $mediumsilver;
    }

    &:after {
      @include icon($icon-remove);
      @include font-size(14px);
      padding: 0 10px;
    }

    @include breakpoint($medium) {
      @include font-size(14px);
      margin-left: 40px;
    }
  }
}

.l-overlay__top {
  margin-bottom: 40px;
}

.l-overlay__main {
  align-self: center;
  margin: 0 auto;
  max-width: 408px;
  padding: 0 15px;

  @include breakpoint($small) {
    padding: 0 30px;
  }

  @include breakpoint($medium) {
    max-width: 75em;
  }
}

.l-overlay__bottom {
  margin-top: auto;

  @include breakpoint($medium) {
    display: none;
  }
}
