.l-top-bar-wrapper {
	background-color: $white;

	@include breakpoint($small) {
		background-color: $black;
	}
}

.l-top-bar {
	position: relative;

	@include breakpoint($small) {
		height: 110px;
		@include container;
	}
}

.l-region--top-bar {
	position: relative;
}

.l-main,
.l-content-suffix,
.l-action-footer {
	@include container;
}

.l-region {
	@include clearfix;
}

.l-subregion-wrapper {
	@include line-break($lightsilver);
	padding: $vert-spacing-unit 0;

	@include breakpoint($small) {
		padding: $vert-spacing-unit*2 - 10px 0;
	}
}

.l-subregion {
	@include clearfix;
	@include container;
}

.l-subregion__title {
	margin-bottom: 0.4em;
}

.l-main {
	padding-bottom: $vert-spacing-unit;

	@include breakpoint($small) {
		padding-bottom: $vert-spacing-unit*2;
		padding-top: $vert-spacing-unit;
	}
}

.l-navigation {
	display: none;

	@include breakpoint($medium) {
		//@include grid-span(4, 'omega', $gutter: 0);
		display: block;
		margin-left: $gutters;
	}
}

.l-content-prefix {

}

.l-content-sidebar-left {
	@include breakpoint($small) {
		@include grid-span(6, 1);
	}
}

.l-content {
	overflow: hidden;
}

.l-content-sidebar-right {
	@include breakpoint($small) {
		//@include grid-span(4, 'omega', $gutter: 0);
		margin-left: $gutters*2;
	}
}

.l-content-suffix-wrapper {
	@include line-break($lightsilver);
	padding: $vert-spacing-unit*2 - 10px 0;
}

.l-info-footer {
	// Hide Campus-footer when browsing with mobile
	display: none;

	@include breakpoint($small) {
		display: block;
	}

	@include line-break($lightsilver);
	background-color: darken($white, 5%);

	.l-region {
		@include container;
		@extend %grid-3;
		padding-top: 2em;
	}
}

.l-action-footer-wrapper {
	@include line-break($lightsilver);
}

.l-footer {
	background-color: $black;
	padding-bottom: 10px;

	.l-region {
		@include container;
	}
}
