<table class="jobs-listing">
  <thead>
    <tr>
      <th class="">
        Tehtävä
      </th>
      <th class="">
        Hae viimeistään
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="jobs-listing__item">
      <td class="jobs-listing__title">
        <a href="#pienelainkirurgiaan-erikoistuva-elainlaakari">Pieneläinkirurgiaan erikoistuva eläinlääkäri</a>
      </td>
      <td class="jobs-listing__date">
        <span>31.3.2016</span>
      </td>
    </tr>
    <tr class="jobs-listing__item">
      <td class="jobs-listing__title">
        <a href="#johtaja-ymparistotieteiden-laitos">Johtaja, ympäristötieteiden laitos</a>
      </td>
      <td class="jobs-listing__date">
        <span>8.4.2016</span>
      </td>
    </tr>
    <tr class="jobs-listing__item">
      <td class="jobs-listing__title">
        <a href="#tutkijatohtori-kaupunkiakatemia">Tutkijatohtori, Kaupunkiakatemia</a>
      </td>
      <td class="jobs-listing__date">
        <span>18.3.2016</span>
      </td>
    </tr>
    <tr class="jobs-listing__item">
      <td class="jobs-listing__title">
        <a href="#yliopistonlehtori-sosiaalitieteiden-laitos-sosiaali-ja-kulttuuriantropologia">yliopistonlehtori, sosiaalitieteiden laitos, sosiaali- ja kulttuuriantropologia</a>
      </td>
      <td class="jobs-listing__date">
        <span>21.3.2016</span>
      </td>
    </tr>
    <tr class="jobs-listing__item">
      <td class="jobs-listing__title">
        <a href="#tutkijatohtori-postdoctoral-researcher-department-of-geosciences-and-geography">Tutkijatohtori - Postdoctoral Researcher, Department of Geosciences and Geography</a>
      </td>
      <td class="jobs-listing__date">
        <span>31.3.2016</span>
      </td>
    </tr>
  </tbody>
</table>