<div class="jobs-listing">
  <table class="jobs-listing__header">
    <thead>
      <tr>
        <th>Tehtävä</th>
        <th>Hae viimeistään</th>
      </tr>
    </thead>
  </table>
  <div class="jobs-listing__item">
    <div class="jobs-listing__title">
      <a href="/fi/avoimet-tyopaikat#item-1">Laitoksen johtaja kemian laitos</a>
    </div>
    <div class="jobs-listing__date">
      <p>15.10.2015</p>
    </div>
  </div>
  <div class="jobs-listing__item">
    <div class="jobs-listing__title">
      <a href="/fi/avoimet-tyopaikat#item-2">Laitoksen johtaja tietojenkäsittelytieteen laitos</a>
    </div>
    <div class="jobs-listing__date">
      <p>15.10.2015</p>
    </div>
  </div>
  <div class="jobs-listing__item">
    <div class="jobs-listing__title">
      <a href="/fi/avoimet-tyopaikat#item-3">Teoreettisen filosofian yliopistonlehtori</a>
    </div>
    <div class="jobs-listing__date">
      <p>15.10.2015</p>
    </div>
  </div>
  <div class="jobs-listing__item">
    <div class="jobs-listing__title">
      <a href="/fi/avoimet-tyopaikat#item-4">Alkuperäiskansatutkimuksen apulaisprofessori (tenure track) </a>
    </div>
    <div class="jobs-listing__date">
      <p>15.10.2015</p>
    </div>
  </div>
</div>
