<ul>
    <li class="post">
        <div class="post__date">27.6 - 15:20</div>
        <div class="post__content">Lukivaikeus eli lukihäiriö on yleinen oppimisvaikeus, jonka tiedetään olevan hyvin perinnöllinen. Juha Keren johtama tutkimusryhmä on paljastanut ensimmäisenä maailmassa lukivaikeuden taakse kätkeytyviä geenejä.
            Videoidussa haastattelussa Kere kertoo, miten geenit vaikuttavat lukemistaitoihin ja miten lukivaikeuden perinnöllisyyttä tutkitaan.
        </div>
    </li>
    <li class="post">
        <div class="post__date">27.6 - 11:30</div>
        <div class="post__content">Tutkija Henry Pihlström on kahden apulaisensa kanssa käärinyt hihat ja ryhtynyt käymään läpi Luonnontieteellisen museon kellareissa säilytettävää luukokoelmaa.
            Anatomian professori Evert Julius Bonsdorffin kokoelmassa oli laajimmillaan noin 2000 luustoa ja nahkaa. Kokoelman nykyistä laajuutta tai sitä, kuinka moni kokoelmayksilö lopulta päätyi 1960-luvulla eläinmuseolle, ei ole tähän asti tiedetty.
            – Kokoelmissa on paljon yksilöitä, joita ei yksinkertaisesti ole sata vuotta sitten pystytty määrittämään tai ne on määritetty nykykäsityksen mukaan virheellisesti, Pihlström kertoo.
        </div>
    </li>
</ul>