<div class="post">
  <img class="post__image" data-src="https://pbs.twimg.com/profile_images/851407702769250304/dA8NaETZ_normal.jpg" src="https://pbs.twimg.com/profile_images/851407702769250304/dA8NaETZ_normal.jpg">
  <div class="post__content">
    <div class="post__date">1h</div>
    <h5 class="post__author">Hel&shy;sin&shy;ki Uni&shy;ver&shy;si&shy;ty</h5>
    <a class="post__account" href="https://www.twitter.com/helsinkiuni">@helsinkiuni</a>
    <p class="post__message">Morphology archives <a href="https://www.twitter.com/HYhumtdk" title="Humanistinen tdk, HY">@HYhumtdk</a> preserve forms of speech from 50 years ago <a href="https://twitter.com/search?q=%23language&amp;src=hash">#language</a> <a href="https://twitter.com/search?q=%23dialects&amp;src=hash">#dialects</a>
    <a href="https://t.co/p0lHkAdIpl">helsinki.fi/en/news/morpho…</a></p>
    <div class="post__footer">
      <div class="post__action"><span class="is-hidden">Favorites </span><span class="icon icon--heart"></span>2</div>
      <div class="post__action"><span class="is-hidden">Retweets </span><span class="icon icon--retweet"></span>1</div>
    </div>
  </div>
</div>


<div class="post">
  <img class="post__image" data-src="https://pbs.twimg.com/profile_images/903681500029349888/3eVHSAPd_normal.jpg" src="https://pbs.twimg.com/profile_images/903681500029349888/3eVHSAPd_normal.jpg">
  <div class="post__content">
    <div class="post__date">20h</div>
    <h5 class="post__author">Lii­sa Kon­tu­nen</h5>
    <a class="post__account" href="https://www.twitter.com/LiisaKontunen">@LiisaKontunen</a>
    <p class="post__message">Täysi sali <a href="https://twitter.com/search?q=%23DaretoLearn2017&amp;src=hash">#DaretoLearn2017</a>:ssa kuulemassa <a href="https://www.twitter.com/helsinkiuni" title="Helsinki University">@helsinkiuni</a>'n <a href="https://www.twitter.com/KirstiLonka" title="Kirsti Lonka">@KirstiLonka</a>'n näkemyksiä tulevaisuuden koulutuksen taido… <a href="https://t.co/XRULrDhFNp">twitter.com/i/web/status/9…</a></p>
    <div class="post__footer">
      <div class="post__action"><span class="is-hidden">Favorites </span><span class="icon icon--heart"></span>18</div>
      <div class="post__action"><span class="is-hidden">Retweets </span><span class="icon icon--retweet"></span>6</div>
    </div>
  </div>
</div>
