<div class="l-top-bar">
  <div class="l-top-bar__subregion">
    <div class="l-top-bar__main">
      <a class="logo" href="/fi">
        <h1 class="logo__sitename">Helsingin yliopisto</h1>
      </a>
    </div>
    <div class="l-top-bar__sub">
      <div class="l-top-bar__subleft">
        <div class="links">
          <a class="links__link" href="https://flamma.helsinki.fi/portal/home/login" target="_blank">Flamma</a>
          <a class="links__link" href="http://www.hel.fi/www/helsinki/fi" target="_blank">Helsingin kaupunki</a>
        </div>
      </div>
      <div class="l-top-bar__subright">
        <div class="links">
          <span class="links__link theme-language" href="/en" lang="en"><abbr title="English">en</abbr></span>
          <a class="links__link theme-language active" href="/fi" lang="fi"><abbr title="Suomi">fi</abbr></a>
          <a class="links__link theme-language" href="/sv" lang="sv"><abbr title="Svenska">sv</abbr></a>
        </div>
      </div>
    </div>
  </div>
</div>
