<div class="l-top-bar l-top-bar--small">
  <div class="l-top-bar__left">
    <div class="links theme-plain">
      <a class="links__link" href="/">Helsingin yliopisto</a>
    </div>
  </div>
  <div class="l-top-bar__right">
    <div class="links theme-plain">
      <span class="links__link theme-language" href="/en" lang="en">English</span>
      <a class="links__link theme-language active" href="/fi" lang="fi">Suomi</a>
      <a class="links__link theme-language" href="/sv" lang="sv">Svenska</a>
      <a class="links__link theme-button button" href="#">Lahjoita</a>
    </div>
  </div>
</div>
