<div class="l-header-bar">
  <div class="l-header-bar__left">
    <a class="logo" href="/fi">
      <h1 class="logo__sitename">Helsingin yliopisto</h1>
    </a>
  </div>

  <div class="l-header-bar__middle">
    <nav role="navigation" class="quick-menu">
      <ul class="menu">
        <li><a href="#" title="Ajankohtaista">Ajankohtaista</a></li>
        <li><a href="#" title="Tutkimus">Tutkimus</a></li>
        <li class="is-active"><a href="#" title="Opiskelu" class="active">Opiskelu</a></li>
        <li><a href="#" title="Yhteistyö">Yhteistyö</a></li>
        <li><a href="#" title="Yliopisto">Yliopisto</a></li>
      </ul>
    </nav>
  </div>

  <div class="l-header-bar__right">
    <div class="is-hidden--tablet">
      <form class="search-form--new">
        <input class="search-form__input form-text" maxlength="128" name="search_string" placeholder="Hae" size="60" type="text" value="">
        <a class="search-form__search-button"></a>
        <input class="search-form__submit is-hidden" name="op" type="submit" value="">
      </form>
    </div>
  </div>
</div>
