<div class="l-footer">
    <div class="l-footer__subregion">
        <div class="l-footer__column theme-sub">
            <div class="logo-block">
                <div class="logo-block__logo">
                    <a class="logo theme-big" href="/fi"></a>
                </div>
                <div class="logo-block__content">
                    <h4>Hel­sin­gin yli­opis­to</h4>
                    <p>PL 3 (Fabianinkatu 33)<br>
                        00014 Helsingin yliopisto</p>
                    <p>Puhelinvaihde: <a class="is-tel" href="tel:+3582941911">02941 911</a></p>
                </div>
            </div>
        </div>
        <div class="l-footer__column">
            <div class="list-of-links--condensed theme-footer">
                <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="https://www.helsinki.fi/fi/yhteystiedot">Yhteystiedot</a>
                <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="/anna-palautetta">Anna palautetta</a>
                <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="https://www.helsinki.fi/fi/tietoa-sivustosta">Tietoa sivustosta</a>
                <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="http://www.helsinki.fi/kirjasto/fi/etusivu/">Kirjasto</a>
                <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="https://flamma.helsinki.fi/portal/home/login">Flamma</a>
            </div>
        </div>
        <div class="l-footer__column theme-center">
            <div class="button-group">
                <a class="button--icon icon--facebook" href="https://www.facebook.com/helsinginyliopisto" target="_new"></a>
                <a class="button--icon icon--twitter" href="https://www.twitter.com/helsinkiuni" target="_new"></a>
                <a class="button--icon icon--youtube" href="https://www.youtube.com/universityofhelsinki" target="_new"></a>
                <a class="button--icon icon--linkedin" href="https://www.linkedin.com/company/university-of-helsinki" target="_new"></a>
                <a class="button--icon icon--instagram" href="https://www.instagram.com/universityofhelsinki" target="_new"></a>
            </div>
        </div>
    </div>
    <div class="l-footer__copyright">
        <p>© Helsingin yliopisto 2016</p>
    </div>
</div>
