<div class="links">
    <a class="links__link" href="https://flamma.helsinki.fi/portal/home/login" target="_blank">Flamma</a>
    <a class="links__link" href="http://www.hel.fi/www/helsinki/fi" target="_blank">Helsingin kaupunki</a>
</div>
<div class="links">
    <a class="links__link theme-language" href="/en" lang="en"><abbr title="English">en</abbr></a>
    <a class="links__link theme-language active" href="/fi" lang="fi"><abbr title="Suomi">fi</abbr></a>
    <a class="links__link theme-language" href="/sv" lang="sv"><abbr title="Svenska">sv</abbr></a>
</div>
