<div class="hero-big" style="background-image: url(../images/opiskelu_hero.png);">
  <div class="hero-big__top">
    <div class="hero-big__content">
      <div class="hero-big__title__container">
        <h2 class="hero-big__title">
          Ole yksi* parhaista
        </h2>
        <div class="hero-big__overlay--container">
          <div class="hero-big__overlay">
            Ole yksi* parhaista
          </div>
        </div>
      </div>
      <div class="hero-big__ingress__container">
        <div class="hero-big__ingress">
          * Kuulumme maailman tutkimusyliopistojen parhaan 1% joukkoon
        </div>
        <div class="hero-big__overlay--container">
          <div class="hero-big__overlay">
            * Kuulumme maailman tutkimusyliopistojen parhaan 1% joukkoon
          </div>
        </div>
      </div>
      <div class="hero-big__content-bottom">
        <a href="#" class="hero-big__link button">
          Hae opiskelijaksi
        </a>
        <a href="#" class="hero-big__play">
          Katso video
        </a>
      </div>
    </div>
  </div>
  <div class="hero-big__video">
    <video autoplay muted loop width="1920" height="1080" preload="auto">
      <source src="https://upload.wikimedia.org/wikipedia/commons/transcoded/f/f3/Big_Buck_Bunny_first_23_seconds_1080p.ogv/Big_Buck_Bunny_first_23_seconds_1080p.ogv.1080p.webm" type="video/mp4">
    </video>
    <div class="hero-big__video__controls">
      <!--     <button type="button" data-video="play" class="hero-big__video-button icon-2x icon--play-arrow" aria-label="Play"></button> -->
      <button type="button" data-video="pause" class="hero-big__video-button icon-2x icon--pause" aria-label="Pause"></button>
    </div>
  </div>
</div>
