<div class="hero-big hero-big--centered" style="background-image: url(../images/opiskelu_hero.png);">
  <div class="hero-big__corners">
  </div>
  <div class="hero-big__content">
    <h2 class="hero-big__title">
      Lorem est notare nuam littera gothica nonummy dolor
    </h2>
    <div class="hero-big__content-bottom">
      <a href="#" class="hero-big__link">
        Lorem ipsum dolor
      </a>
      <a href="#" class="hero-big__play">
        Katso video
      </a>
    </div>
  </div>

  <div class="hero-big__video">
    <video autoplay muted loop width="1920" height="1080" preload="auto">
      <source src="https://upload.wikimedia.org/wikipedia/commons/transcoded/f/f3/Big_Buck_Bunny_first_23_seconds_1080p.ogv/Big_Buck_Bunny_first_23_seconds_1080p.ogv.1080p.webm" type="video/mp4">
    </video>
  </div>
</div>
