<div class="hero-medium" style="background-image: url(../images/koulutustarjonta.jpg);">
  <div class="hero-medium__top">
    <div class="hero-medium__content">
      <div class="hero-medium__breadcrumbs breadcrumbs theme-hero"><span class="breadcrumbs__item"><a href="/fi/opiskelu" title="Opiskelu" alt="Menu for group">Opiskelu</a> </span><span class="breadcrumbs__divider">/</span><span class="breadcrumbs__item"><a href="/fi/opiskelu/hae-opiskelijaksi">Hae opiskelijaksi</a></span><span class="breadcrumbs__divider">/</span></div>
      <h2 class="hero-medium__title">
        Koulutusohjelmat
      </h2>
      <div class="hero-medium__ingress">
        Syksyn 2017 yhteishaku 6.9.<br/>
        (klo 8) - 20.9. 2017 (klo 15.00)
      </div>
    </div>
  </div>
</div>
