<div class="hero-big" style="background-image: url(../images/opiskelu_hero.png);">
  <div class="hero-big__top">
    <div class="hero-big__content">
      <h2 class="hero-big__title">
        Ole yksi* parhaista
      </h2>
      <div class="hero-big__ingress">
        * Kuulumme maailman tutkimusyliopistojen parhaan 1% joukkoon
      </div>
      <div class="hero-big__content-bottom">
        <a href="#" class="hero-big__link button">
          Hae opiskelijaksi
        </a>
        <a href="#" class="hero-big__play">
          Katso video
        </a>
      </div>
    </div>
  </div>
  <div class="hero-big__video">
    <video autoplay muted loop width="1920" height="1080" preload="auto">
      <source src="https://upload.wikimedia.org/wikipedia/commons/transcoded/f/f3/Big_Buck_Bunny_first_23_seconds_1080p.ogv/Big_Buck_Bunny_first_23_seconds_1080p.ogv.1080p.webm" type="video/mp4">
    </video>
  </div>
</div>
