<div class="l-overlay is-open">
  <div class="l-overlay__top">
    <div class="l-top-bar l-top-bar--small">
      <div class="l-top-bar__subregion">
        <div class="links theme-plain">
          <span class="links__link theme-language" href="/en" lang="en">English</span>
          <a class="links__link theme-language active" href="/fi" lang="fi">Suomi</a>
          <a class="links__link theme-language" href="/sv" lang="sv">Svenska</a>
          <a class="links__link theme-button button" href="#">Lahjoita</a>
        </div>
      </div>
    </div>

    <div class="l-header-bar">
      <div class="l-header-bar__left">
        <a class="logo" href="/fi">
          <h1 class="logo__sitename">Helsingin yliopisto</h1>
        </a>
      </div>

      <div class="l-header-bar__middle">
      </div>

      <div class="l-header-bar__right">
        <form class="search-form--new">
          <input class="search-form__input form-text" maxlength="128" name="search_string" placeholder="Hae" size="60" type="text" value="">
          <a class="search-form__search-button"></a>
          <input class="search-form__submit is-hidden" name="op" type="submit" value="">
        </form>
        <span class="overlay-toggle is-active"><span></span></span>
      </div>
    </div>
  </div>
  <div class="l-overlay__main">
    <nav role="navigation" class="main-menu-v2">
      <ul class="menu">
        <li class="is-lvl1 is-expandable is-open">
          <span class="main-menu-v2__expand"></span>
          <a href="#" title="Ajankohtaista">Ajankohtaista</a>
          <ul class="menu">
            <li class="is-lvl2">
              <a href="#">Uutiset ja tiedotteet</a>
            </li>
            <li class="is-lvl2">
              <a class="active" href="#">Tapahtumat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Teemat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Unitube – Videopalvelu</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Tiedekulma</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Uutiskirjeet</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Yliopisto-lehti</a>
            </li>
          </ul>
        </li>
        <li class="is-lvl1 is-expandable">
          <span class="main-menu-v2__expand"></span>
          <a href="#" title="Tutkimus">Tutkimus</a>
          <ul class="menu">
            <li class="is-lvl2">
              <a href="#">Uutiset ja tiedotteet</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Tapahtumat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Teemat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Unitube – Videopalvelu</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Tiedekulma</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Uutiskirjeet</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Yliopisto-lehti</a>
            </li>
          </ul>
        </li>
        <li class="is-lvl1 is-expandable">
          <span class="main-menu-v2__expand"></span>
          <a href="#" title="Opiskelu">Opiskelu</a>
          <ul class="menu">
            <li class="is-lvl2">
              <a href="#">Uutiset ja tiedotteet</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Tapahtumat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Teemat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Unitube – Videopalvelu</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Tiedekulma</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Uutiskirjeet</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Yliopisto-lehti</a>
            </li>
          </ul>
        </li>
        <li class="is-lvl1 is-expandable">
          <span class="main-menu-v2__expand"></span>
          <a href="#" title="Yhteistyö">Yhteistyö</a>
          <ul class="menu">
            <li class="is-lvl2">
              <a href="#">Uutiset ja tiedotteet</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Tapahtumat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Teemat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Unitube – Videopalvelu</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Tiedekulma</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Uutiskirjeet</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Yliopisto-lehti</a>
            </li>
          </ul>
        </li>
        <li class="is-lvl1 is-expandable">
          <span class="main-menu-v2__expand"></span>
          <a href="#" title="Yliopisto">Yliopisto</a>
          <ul class="menu">
            <li class="is-lvl2">
              <a href="#">Uutiset ja tiedotteet</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Tapahtumat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Teemat</a>
            </li>
            <li class="is-lvl2">
              <a href="#">Unitube – Videopalvelu</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Tiedekulma</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Uutiskirjeet</a>
            </li>
            <li class="is-lvl2 theme-minor">
              <a href="#">Yliopisto-lehti</a>
            </li>
          </ul>
        </li>

        <li class="is-lvl1 theme-quicklinks is-hidden--tablet">
          <a href="#" title="Pikalinkit">Pikalinkit</a>
          <ul>
            <li>
              <a href="#">Yhteystiedot</a>
            </li>
            <li>
              <a href="#">Loremipsum</a>
            </li>
            <li>
              <a href="#">Doloremus</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <div class="l-overlay__bottom">
    <div class="links theme-plain">
      <span class="links__link theme-language" href="/en" lang="en">English</span>
      <a class="links__link theme-language active" href="/fi" lang="fi">Suomi</a>
      <a class="links__link theme-language" href="/sv" lang="sv">Svenska</a>
    </div>
  </div>
</div>
