<div class="liftup-grid">
  <a class="liftup-grid__item" href="#" style="background-color: #0098d0">
    <div class="liftup-grid__content">
      <h4 class="liftup-grid__title">
        Tohtorikoulutus
      </h4>
      <div class="liftup-grid__ingress">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </div>
    </div>
    <div class="liftup-grid__image"><img src="../images/squarepic.png"></div>
  </a>
  <a class="liftup-grid__item" href="#" style="background-color: #222">
    <div class="liftup-grid__content">
      <h4 class="liftup-grid__title">
        Tule tutustumaan yliopistoon
      </h4>
      <div class="liftup-grid__ingress">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </div>
    </div>
  </a>
  <a class="liftup-grid__item" href="#" style="background-color: #0098d0">
    <div class="liftup-grid__content">
      <h4 class="liftup-grid__title">
        Tutkimuksenhuiput
      </h4>
      <div class="liftup-grid__ingress">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </div>
    </div>
  </a>
</div>
