<div class="liftup-mosaic">
  <a class="liftup-mosaic__item" href="#" style="background-image: url('../images/squarepic.png');">
    <div class="liftup-mosaic__label">
      Tutkijan ääni
    </div>
    <h4 class="liftup-mosaic__title">
      B-vitamiinien liikakäyttö voi jopa nelinkertaistaa keuhkosyövän riskin miehillä – suomalaisprofessori pitää tulosta yllättävänä
    </h4>
  </a>
  <a class="liftup-mosaic__item theme-video" href="#" style="background-image: url('../images/squarepic.png');">
    <div class="liftup-mosaic__label">
      Tutkijan ääni
    </div>
    <h4 class="liftup-mosaic__title">
      Dinosaurukset kuolivat kylmässä ja pimeässä – uusi tutkimus valaisee asteroidin törmäyksen kaameita vaikutuksia
    </h4>
  </a>
  <a class="liftup-mosaic__item theme-plain" href="#">
    <div class="liftup-mosaic__label">
      Tutkijan ääni
    </div>
    <h4 class="liftup-mosaic__title">
      Kaksi Pirate Bayn perustajajäsentä tuomittiin lähes puolen miljoonan euron korvauksiin Helsingissä
    </h4>
  </a>
  <a class="liftup-mosaic__item" href="#" style="background-image: url('../images/squarepic.png');">
    <div class="liftup-mosaic__label">
      Tutkijan ääni
    </div>
    <h4 class="liftup-mosaic__title">
      Muumien sensuroidut jaksot tulevat nähtäväksi Suomessa – mukana puukkoja ja demoni
    </h4>
  </a>
  <a class="liftup-mosaic__item" href="#" style="background-image: url('../images/squarepic.png');">
    <div class="liftup-mosaic__label">
      Tutkijan ääni
    </div>
    <h4 class="liftup-mosaic__title">
      B-vitamiinien liikakäyttö voi jopa nelinkertaistaa keuhkosyövän riskin miehillä – suomalaisprofessori pitää tulosta yllättävänä
    </h4>
  </a>
</div>
