<a class="highlight" href="#">
  <div class="highlight__content">
    <h4 class="highlight__title">
      Helsinki opiskelijakaupunkina
    </h4>
    <div class="highlight__ingress">
      Helsinki on toimiva ja turvallinen opiskelukaupunki. Opiskelijalle se tarjoaa monenlaisia vapaa-ajanviettomahdollisuuksia sekä vilkkaan opiskelijaelämän. Tutustu yliopistoon, opiskeluun ja Helsinkiin.
    </div>
  </div>
  <div class="highlight__bgoverlay" style="background-image: url(../images/test-image.jpg);"></div>
</a>

<a class="highlight" href="#" style="background-color: #0098d0;">
  <div class="highlight__content">
    <h4 class="highlight__title">
      Helsinki opiskelijakaupunkina
    </h4>
    <div class="highlight__ingress">
      Helsinki on toimiva ja turvallinen opiskelukaupunki. Opiskelijalle se tarjoaa monenlaisia vapaa-ajanviettomahdollisuuksia sekä vilkkaan opiskelijaelämän. Tutustu yliopistoon, opiskeluun ja Helsinkiin.
    </div>
  </div>
</a>

<a class="highlight" href="#" style="background-color: #222222;">
  <div class="highlight__content">
    <h4 class="highlight__title">
      Helsinki opiskelijakaupunkina
    </h4>
    <div class="highlight__ingress">
      Helsinki on toimiva ja turvallinen opiskelukaupunki. Opiskelijalle se tarjoaa monenlaisia vapaa-ajanviettomahdollisuuksia sekä vilkkaan opiskelijaelämän. Tutustu yliopistoon, opiskeluun ja Helsinkiin.
    </div>
  </div>
</a>
