<div class="link-grid">
  <a class="link-grid__item theme-prominent" href="#">
    <div class="link-grid__content">
      <div class="link-grid__figure">
        Paras 1%
      </div>
      <h4 class="link-grid__title">
        Helsingin yliopisto kuuluu maailman tutkimusyliopistojen parhaan 1% joukkoon
      </h4>
    </div>
  </a>
</div>

<div class="link-grid">
  <a class="link-grid__item" href="#">
    <div class="link-grid__content">
      <div class="link-grid__figure">
        15/29
      </div>
      <h4 class="link-grid__title">
        Suomen akatemian huippuyksikköä
      </h4>
    </div>
  </a>
<!--   <a class="link-grid__item" href="#">
    <div class="link-grid__content">
      <div class="link-grid__figure">
        19/41
      </div>
      <h4 class="link-grid__title">
        Akatemiaprofessoria
      </h4>
    </div>
  </a> -->
  <a class="link-grid__item" href="#">
    <div class="link-grid__content">
      <div class="link-grid__figure">
        10 500
      </div>
      <h4 class="link-grid__title">
        Julkaisua vuodessa
      </h4>
    </div>
  </a>
</div>

<div class="link-grid">
  <a class="link-grid__item" href="#">
    <div class="link-grid__content">
      <div class="link-grid__figure">
        4 621
      </div>
      <h4 class="link-grid__title">
        Henkilöä opetuksessa ja tutkimuksessa
      </h4>
    </div>
  </a>
  <a class="link-grid__item" href="#">
    <div class="link-grid__content">
      <div class="link-grid__figure">
        22%
      </div>
      <h4 class="link-grid__title">
        Opettajista ja tutkijoista muualta kuin Suomesta
      </h4>
    </div>
  </a>
  <a class="link-grid__item" href="#">
    <div class="link-grid__content">
      <div class="link-grid__figure">
        1 992
      </div>
      <h4 class="link-grid__title">
        Kansainvälistä maisteri- ja tohtoriopiskelijaa
      </h4>
    </div>
  </a>
</div>
