<div class="video-player">
  <a class="video-player__play" href="#">Katso video</a>
  <div class="video-player__content">
    <div class="video-player__image" style="background-image: url('http://local.uusiwww.helsinki.fi/sites/default/files/opiskelijoita_2608-13_1_photo_hy_ari_aalto_testi_0.jpg');">
      <!-- <img typeof="foaf:Image" src="http://local.uusiwww.helsinki.fi/sites/default/files/opiskelijoita_2608-13_1_photo_hy_ari_aalto_testi_0.jpg" width="1920" height="620" alt=""> -->
    </div>
    <div class="video-player__video"><iframe class="" src="//www.youtube.com/embed/ukWiKrTlMzQ?width=640&amp;height=360&amp;autoplay=0&amp;vq=large&amp;rel=0&amp;controls=1&amp;autohide=2&amp;showinfo=1&amp;modestbranding=0&amp;theme=dark&amp;iv_load_policy=1&amp;wmode=opaque" width="640" height="360" frameborder="0" allowfullscreen=""></iframe></div>
  </div>
</div>
