<div class="media-item">
  <div class="media-item__image">
  </div>
  <div class="media-item__middle">
    <div class="media-item__content">
      <h4 class="media-item__heading">Mikael Foigelholm </h4>
      <div class="media-item__subheading">Professor of nutrition science </div>
      <div class="media-item__link"><a href="#" target="_blank">mikael.folgelholm@helsinki.fi</a></div>
      <div class="media-item__sublink"><a href="#" target="_blank">Link text</a></div>
    </div>
    <div class="media-item__action"><a href="#" class="label">Follow</a></div>
  </div>
</div>
<div class="media-item">
  <div class="media-item__image"><img src="images/square_250x250.jpg">
  </div>
  <div class="media-item__middle">
    <div class="media-item__content">
      <h4 class="media-item__heading">Mikael Foigelholm </h4>
      <div class="media-item__subheading">Professor of nutrition science  / Vice President Professor Life Coach Student Manager of nutrition science</div>
      <div class="media-item__link"><a href="#" target="_blank">mikael.folgelholm@helsinki.fi</a></div>
      <div class="media-item__sublink"><a href="#" target="_blank">Link text</a></div>
    </div>
  </div>
</div>
<div class="media-item">
  <div class="media-item__image"><img src="images/square_250x250.jpg">
  </div>
  <div class="media-item__middle">
    <div class="media-item__content">
      <h4 class="media-item__heading">Mikael Foigelholm </h4>
      <div class="media-item__subheading">Professor of nutrition science </div>
      <div class="media-item__link"><a href="#" target="_blank">mikael.folgelholm@helsinki.fi</a></div>
      <div class="media-item__sublink"><a href="#" target="_blank">Link text</a></div>
    </div>
    <div class="media-item__action"><a href="#" class="label">Follow</a></div>
  </div>
</div>
