

<div>
    <span class="icon--add-to-todo-list"></span>
    <span class="icon--arrow-down"></span>
    <span class="icon--arrow-left"></span>
    <span class="icon--arrow-up"></span>
    <span class="icon--arrow-offsite"></span>
    <span class="icon--arrow-right"></span>
    <span class="icon--avatar-group"></span>
    <span class="icon--avatar"></span>
    <span class="icon--bachelor"></span>
    <span class="icon--bullet-list"></span>
    <span class="icon--camera"></span>
    <span class="icon--caret-down"></span>
    <span class="icon--caret-left"></span>
    <span class="icon--caret-right"></span>
    <span class="icon--caret-up"></span>
    <span class="icon--chat"></span>
    <span class="icon--code-fork"></span>
    <span class="icon--cogs"></span>
    <span class="icon--contentlink"></span>
    <span class="icon--customlink"></span>
    <span class="icon--date"></span>
    <span class="icon--discover"></span>
    <span class="icon--done"></span>
    <span class="icon--dot"></span>
    <span class="icon--download"></span>
    <span class="icon--drag"></span>
    <span class="icon--dragbutton"></span>
    <span class="icon--drop-down"></span>
    <span class="icon--edit-event"></span>
    <span class="icon--edit"></span>
    <span class="icon--embed"></span>
    <span class="icon--events"></span>
    <span class="icon--eye-slash"></span>
    <span class="icon--facebook"></span>
    <span class="icon--favorites"></span>
    <span class="icon--feed"></span>
    <span class="icon--file-text"></span>
    <span class="icon--full-screen"></span>
    <span class="icon--grid"></span>
    <span class="icon--oogle-plusd"></span>
    <span class="icon--hamburger"></span>
    <span class="icon--helsinginyliopisto"></span>
    <span class="icon--heart"></span>
    <span class="icon--home"></span>
    <span class="icon--horizontal-resize"></span>
    <span class="icon--hy-logo"></span>
    <span class="icon--id-number"></span>
    <span class="icon--image-gallery"></span>
    <span class="icon--images"></span>
    <span class="icon--image"></span>
    <span class="icon--info"></span>
    <span class="icon--info-stroke"></span>
    <span class="icon--instagram"></span>
    <span class="icon--leiki-list"></span>
    <span class="icon--linkedin"></span>
    <span class="icon--list"></span>
    <span class="icon--list-as-blocks"></span>
    <span class="icon--listoflinks"></span>
    <span class="icon--location"></span>
    <span class="icon--log"></span>
    <span class="icon--login"></span>
    <span class="icon--logout"></span>
    <span class="icon--magnify-minus"></span>
    <span class="icon--magnify-plus"></span>
    <span class="icon--mail"></span>
    <span class="icon--master"></span>
    <span class="icon--minus"></span>
    <span class="icon--mobile"></span>
    <span class="icon--modify"></span>
    <span class="icon--navi-triangle"></span>
    <span class="icon--new-group"></span>
    <span class="icon--new-person"></span>
    <span class="icon--notification"></span>
    <span class="icon--opinder-logo-new"></span>
    <span class="icon--opinder-logo"></span>
    <span class="icon--pdf"></span>
    <span class="icon--people"></span>
    <span class="icon--person"></span>
    <span class="icon--person-outline"></span>
    <span class="icon--permission-all"></span>
    <span class="icon--permission-group"></span>
    <span class="icon--permission-private"></span>
    <span class="icon--phone"></span>
    <span class="icon--play"></span>
    <span class="icon--plus"></span>
    <span class="icon--preview"></span>
    <span class="icon--profile"></span>
    <span class="icon--question"></span>
    <span class="icon--remove"></span>
    <span class="icon--retweet"></span>
    <span class="icon--rotate-left"></span>
    <span class="icon--rotate-right"></span>
    <span class="icon--search"></span>
    <span class="icon--share"></span>
    <span class="icon--spinner"></span>
    <span class="icon--social-media"></span>
    <span class="icon--square"></span>
    <span class="icon--square-checked"></span>
    <span class="icon--time"></span>
    <span class="icon--todo-list"></span>
    <span class="icon--tour"></span>
    <span class="icon--twitter"></span>
    <span class="icon--units-and-faculties"></span>
    <span class="icon--url"></span>
    <span class="icon--video"></span>
    <span class="icon--warning"></span>
    <span class="icon--wrench"></span>
    <span class="icon--youtube"></span>
</div><br><br>

<div>
    <span class="icon-2x icon--add-to-todo-list"></span>
    <span class="icon-2x icon--arrow-down"></span>
    <span class="icon-2x icon--arrow-left"></span>
    <span class="icon-2x icon--arrow-up"></span>
    <span class="icon-2x icon--arrow-offsite"></span>
    <span class="icon-2x icon--arrow-right"></span>
    <span class="icon-2x icon--avatar-group"></span>
    <span class="icon-2x icon--avatar"></span>
    <span class="icon-2x icon--bachelor"></span>
    <span class="icon-2x icon--bullet-list"></span>
    <span class="icon-2x icon--camera"></span>
    <span class="icon-2x icon--caret-down"></span>
    <span class="icon-2x icon--caret-left"></span>
    <span class="icon-2x icon--caret-right"></span>
    <span class="icon-2x icon--caret-up"></span>
    <span class="icon-2x icon--chat"></span>
    <span class="icon-2x icon--code-fork"></span>
    <span class="icon-2x icon--cogs"></span>
    <span class="icon-2x icon--contentlink"></span>
    <span class="icon-2x icon--customlink"></span>
    <span class="icon-2x icon--date"></span>
    <span class="icon-2x icon--discover"></span>
    <span class="icon-2x icon--done"></span>
    <span class="icon-2x icon--dot"></span>
    <span class="icon-2x icon--download"></span>
    <span class="icon-2x icon--drag"></span>
    <span class="icon-2x icon--dragbutton"></span>
    <span class="icon-2x icon--drop-down"></span>
    <span class="icon-2x icon--edit-event"></span>
    <span class="icon-2x icon--edit"></span>
    <span class="icon-2x icon--embed"></span>
    <span class="icon-2x icon--events"></span>
    <span class="icon-2x icon--eye-slash"></span>
    <span class="icon-2x icon--facebook"></span>
    <span class="icon-2x icon--favorites"></span>
    <span class="icon-2x icon--feed"></span>
    <span class="icon-2x icon--file-text"></span>
    <span class="icon-2x icon--full-screen"></span>
    <span class="icon-2x icon--grid"></span>
    <span class="icon-2x icon--google-plus"></span>
    <span class="icon-2x icon--hamburger"></span>
    <span class="icon-2x icon--helsinginyliopisto"></span>
    <span class="icon-2x icon--heart"></span>
    <span class="icon-2x icon--home"></span>
    <span class="icon-2x icon--horizontal-resize"></span>
    <span class="icon-2x icon--hy-logo"></span>
    <span class="icon-2x icon--id-number"></span>
    <span class="icon-2x icon--image-gallery"></span>
    <span class="icon-2x icon--images"></span>
    <span class="icon-2x icon--image"></span>
    <span class="icon-2x icon--info"></span>
    <span class="icon-2x icon--info-stroke"></span>
    <span class="icon-2x icon--instagram"></span>
    <span class="icon-2x icon--leiki-list"></span>
    <span class="icon-2x icon--linkedin"></span>
    <span class="icon-2x icon--list"></span>
    <span class="icon-2x icon--list-as-blocks"></span>
    <span class="icon-2x icon--listoflinks"></span>
    <span class="icon-2x icon--location"></span>
    <span class="icon-2x icon--log"></span>
    <span class="icon-2x icon--login"></span>
    <span class="icon-2x icon--logout"></span>
    <span class="icon-2x icon--magnify-minus"></span>
    <span class="icon-2x icon--magnify-plus"></span>
    <span class="icon-2x icon--mail"></span>
    <span class="icon-2x icon--master"></span>
    <span class="icon-2x icon--minus"></span>
    <span class="icon-2x icon--mobile"></span>
    <span class="icon-2x icon--modify"></span>
    <span class="icon-2x icon--navi-triangle"></span>
    <span class="icon-2x icon--new-group"></span>
    <span class="icon-2x icon--new-person"></span>
    <span class="icon-2x icon--notification"></span>
    <span class="icon-2x icon--opinder-logo-new"></span>
    <span class="icon-2x icon--opinder-logo"></span>
    <span class="icon-2x icon--pdf"></span>
    <span class="icon-2x icon--people"></span>
    <span class="icon-2x icon--person"></span>
    <span class="icon-2x icon--person-outline"></span>
    <span class="icon-2x icon--permission-all"></span>
    <span class="icon-2x icon--permission-group"></span>
    <span class="icon-2x icon--permission-private"></span>
    <span class="icon-2x icon--phone"></span>
    <span class="icon-2x icon--play"></span>
    <span class="icon-2x icon--plus"></span>
    <span class="icon-2x icon--preview"></span>
    <span class="icon-2x icon--profile"></span>
    <span class="icon-2x icon--question"></span>
    <span class="icon-2x icon--remove"></span>
    <span class="icon-2x icon--retweet"></span>
    <span class="icon-2x icon--rotate-left"></span>
    <span class="icon-2x icon--rotate-right"></span>
    <span class="icon-2x icon--search"></span>
    <span class="icon-2x icon--share"></span>
    <span class="icon-2x icon--social-media"></span>
    <span class="icon-2x icon--square"></span>
    <span class="icon-2x icon--square-checked"></span>
    <span class="icon-2x icon--spinner"></span>
    <span class="icon-2x icon--time"></span>
    <span class="icon-2x icon--todo-list"></span>
    <span class="icon-2x icon--tour"></span>
    <span class="icon-2x icon--twitter"></span>
    <span class="icon-2x icon--units-and-faculties"></span>
    <span class="icon-2x icon--url"></span>
    <span class="icon-2x icon--video"></span>
    <span class="icon-2x icon--warning"></span>
    <span class="icon-2x icon--wrench"></span>
    <span class="icon-2x icon--youtube"></span>

</div>
<div>
    <span class="icon-2x icon--twitter icon-rotate-90"></span>
    <span class="icon-2x icon--twitter icon-rotate-180"></span>
    <span class="icon-2x icon--twitter icon-rotate-270"></span>
</div>
<div>
    <span class="icon-2x icon--spinner icon-spin"></span>
</div>