<div style="font-size: 30px;">
    <span class="icon icon-hy-Icons_add-to-todo-list"></span>
    <span class="icon icon-hy-Icons_arrow-up"></span>
    <span class="icon icon-hy-Icons_arrow"></span>
    <span class="icon icon-hy-Icons_avatar-group"></span>
    <span class="icon icon-hy-Icons_avatar"></span>
    <span class="icon icon-hy-Icons_bachelor"></span>
    <span class="icon icon-hy-Icons_camera"></span>
    <span class="icon icon-hy-Icons_chat"></span>
    <span class="icon icon-hy-Icons_date"></span>
    <span class="icon icon-hy-Icons_discover"></span>
    <span class="icon icon-hy-Icons_done"></span>
    <span class="icon icon-hy-Icons_download"></span>
    <span class="icon icon-hy-Icons_drag"></span>
    <span class="icon icon-hy-Icons_drop-down"></span>
    <span class="icon icon-hy-Icons_edit-event"></span>
    <span class="icon icon-hy-Icons_edit"></span>
    <span class="icon icon-hy-Icons_events"></span>
    <span class="icon icon-hy-Icons_facebook"></span>
    <span class="icon icon-hy-Icons_favorites"></span>
    <span class="icon icon-hy-Icons_grid"></span>
    <span class="icon icon-hy-Icons_hamburger"></span>
    <span class="icon icon-hy-Icons_home"></span>
    <span class="icon icon-hy-Icons_hy-logo"></span>
    <span class="icon icon-hy-Icons_info"></span>
    <span class="icon icon-hy-Icons_link-arrow-offsite"></span>
    <span class="icon icon-hy-Icons_link-arrow"></span>
    <span class="icon icon-hy-Icons_linkedin"></span>
    <span class="icon icon-hy-Icons_list"></span>
    <span class="icon icon-hy-Icons_location"></span>
    <span class="icon icon-hy-Icons_log"></span>
    <span class="icon icon-hy-Icons_magnify-minus"></span>
    <span class="icon icon-hy-Icons_magnify-plus"></span>
    <span class="icon icon-hy-Icons_master"></span>
    <span class="icon icon-hy-Icons_minus"></span>
    <span class="icon icon-hy-Icons_modify"></span>
    <span class="icon icon-hy-Icons_navi-triangle"></span>
    <span class="icon icon-hy-Icons_new-group"></span>
    <span class="icon icon-hy-Icons_new-person"></span>
    <span class="icon icon-hy-Icons_notification"></span>
    <span class="icon icon-hy-Icons_opinder-logo-new"></span>
    <span class="icon icon-hy-Icons_opinder-logo"></span>
    <span class="icon icon-hy-Icons_pdf"></span>
    <span class="icon icon-hy-Icons_people"></span>
    <span class="icon icon-hy-Icons_person-outline"></span>
    <span class="icon icon-hy-Icons_person"></span>
    <span class="icon icon-hy-Icons_plus"></span>
    <span class="icon icon-hy-Icons_profile"></span>
    <span class="icon icon-hy-Icons_question"></span>
    <span class="icon icon-hy-Icons_remove"></span>
    <span class="icon icon-hy-Icons_search"></span>
    <span class="icon icon-hy-Icons_time"></span>
    <span class="icon icon-hy-Icons_todo-list"></span>
    <span class="icon icon-hy-Icons_twitter"></span>
    <span class="icon icon-hy-Icons_units-and-faculties"></span>
    <span class="icon icon-hy-Icons_video"></span>
    <span class="icon icon-hy-Icons_warning"></span>
    <span class="icon icon-hy-Icons_you-tube"></span>
    <span class="icon icon-hy-icons_tour"></span>
</div>