

<div>
    <span class="icon icon-add-to-todo-list"></span>
    <span class="icon icon-arrow-up"></span>
    <span class="icon icon-arrow"></span>
    <span class="icon icon-avatar-group"></span>
    <span class="icon icon-avatar"></span>
    <span class="icon icon-bachelor"></span>
    <span class="icon icon-camera"></span>
    <span class="icon icon-chat"></span>
    <span class="icon icon-date"></span>
    <span class="icon icon-discover"></span>
    <span class="icon icon-done"></span>
    <span class="icon icon--download"></span>
    <span class="icon icon-drag"></span>
    <span class="icon icon-drop-down"></span>
    <span class="icon icon-edit-event"></span>
    <span class="icon icon-edit"></span>
    <span class="icon icon-events"></span>
    <span class="icon icon-facebook"></span>
    <span class="icon icon-favorites"></span>
    <span class="icon icon-grid"></span>
    <span class="icon icon-hamburger"></span>
    <span class="icon icon--home"></span>
    <span class="icon icon-hy-logo"></span>
    <span class="icon icon-info"></span>
    <span class="icon icon-link-arrow-offsite"></span>
    <span class="icon icon-link-arrow"></span>
    <span class="icon icon-linkedin"></span>
    <span class="icon icon-list"></span>
    <span class="icon icon-location"></span>
    <span class="icon icon-log"></span>
    <span class="icon icon-magnify-minus"></span>
    <span class="icon icon-magnify-plus"></span>
    <span class="icon icon-master"></span>
    <span class="icon icon-minus"></span>
    <span class="icon icon-modify"></span>
    <span class="icon icon-navi-triangle"></span>
    <span class="icon icon-new-group"></span>
    <span class="icon icon-new-person"></span>
    <span class="icon icon-notification"></span>
    <span class="icon icon-opinder-logo-new"></span>
    <span class="icon icon-opinder-logo"></span>
    <span class="icon icon-pdf"></span>
    <span class="icon icon-people"></span>
    <span class="icon icon-person-outline"></span>
    <span class="icon icon-person"></span>
    <span class="icon icon-plus"></span>
    <span class="icon icon-profile"></span>
    <span class="icon icon-question"></span>
    <span class="icon icon-remove"></span>
    <span class="icon icon-search"></span>
    <span class="icon icon-time"></span>
    <span class="icon icon-todo-list"></span>
    <span class="icon icon-twitter"></span>
    <span class="icon icon-units-and-faculties"></span>
    <span class="icon icon--video"></span>
    <span class="icon icon-warning"></span>
    <span class="icon icon-you-tube"></span>
    <span class="icon icon-tour"></span>
    <span class="icon icon-rotate-left"></span>
    <span class="icon icon-rotate-right"></span>
    <span class="icon icon-id-number"></span>
    <span class="icon icon-info-stroke"></span>
    <span class="icon icon-logout"></span>
    <span class="icon icon-mail"></span>
    <span class="icon icon-mobile"></span>
    <span class="icon icon-modify"></span>
    <span class="icon icon-permission-all"></span>
    <span class="icon icon-permission-group"></span>
    <span class="icon icon-permission-private"></span>
    <span class="icon icon-phone"></span>
    <span class="icon icon--preview"></span>
    <span class="icon icon-url"></span>
</div><br><br>

<div>
    <span class="icon icon-2x icon-add-to-todo-list"></span>
    <span class="icon icon-2x icon-arrow-up"></span>
    <span class="icon icon-2x icon-arrow"></span>
    <span class="icon icon-2x icon-avatar-group"></span>
    <span class="icon icon-2x icon-avatar"></span>
    <span class="icon icon-2x icon-bachelor"></span>
    <span class="icon icon-2x icon-camera"></span>
    <span class="icon icon-2x icon-chat"></span>
    <span class="icon icon-2x icon-date"></span>
    <span class="icon icon-2x icon-discover"></span>
    <span class="icon icon-2x icon-done"></span>
    <span class="icon icon-2x icon--download"></span>
    <span class="icon icon-2x icon-drag"></span>
    <span class="icon icon-2x icon-drop-down"></span>
    <span class="icon icon-2x icon-edit-event"></span>
    <span class="icon icon-2x icon-edit"></span>
    <span class="icon icon-2x icon-events"></span>
    <span class="icon icon-2x icon-facebook"></span>
    <span class="icon icon-2x icon-favorites"></span>
    <span class="icon icon-2x icon-grid"></span>
    <span class="icon icon-2x icon-hamburger"></span>
    <span class="icon icon-2x icon--home"></span>
    <span class="icon icon-2x icon-hy-logo"></span>
    <span class="icon icon-2x icon-info"></span>
    <span class="icon icon-2x icon-link-arrow-offsite"></span>
    <span class="icon icon-2x icon-link-arrow"></span>
    <span class="icon icon-2x icon-linkedin"></span>
    <span class="icon icon-2x icon-list"></span>
    <span class="icon icon-2x icon-location"></span>
    <span class="icon icon-2x icon-log"></span>
    <span class="icon icon-2x icon-magnify-minus"></span>
    <span class="icon icon-2x icon-magnify-plus"></span>
    <span class="icon icon-2x icon-master"></span>
    <span class="icon icon-2x icon-minus"></span>
    <span class="icon icon-2x icon-modify"></span>
    <span class="icon icon-2x icon-navi-triangle"></span>
    <span class="icon icon-2x icon-new-group"></span>
    <span class="icon icon-2x icon-new-person"></span>
    <span class="icon icon-2x icon-notification"></span>
    <span class="icon icon-2x icon-opinder-logo-new"></span>
    <span class="icon icon-2x icon-opinder-logo"></span>
    <span class="icon icon-2x icon-pdf"></span>
    <span class="icon icon-2x icon-people"></span>
    <span class="icon icon-2x icon-person-outline"></span>
    <span class="icon icon-2x icon-person"></span>
    <span class="icon icon-2x icon-plus"></span>
    <span class="icon icon-2x icon-profile"></span>
    <span class="icon icon-2x icon-question"></span>
    <span class="icon icon-2x icon-remove"></span>
    <span class="icon icon-2x icon-search"></span>
    <span class="icon icon-2x icon-time"></span>
    <span class="icon icon-2x icon-todo-list"></span>
    <span class="icon icon-2x icon-twitter"></span>
    <span class="icon icon-2x icon-units-and-faculties"></span>
    <span class="icon icon-2x icon--video"></span>
    <span class="icon icon-2x icon-warning"></span>
    <span class="icon icon-2x icon-you-tube"></span>
    <span class="icon icon-2x icon-tour"></span>
    <span class="icon icon-2x icon-rotate-left"></span>
    <span class="icon icon-2x icon-rotate-right"></span>
    <span class="icon icon-2x icon-id-number"></span>
    <span class="icon icon-2x icon-info-stroke"></span>
    <span class="icon icon-2x icon-logout"></span>
    <span class="icon icon-2x icon-mail"></span>
    <span class="icon icon-2x icon-mobile"></span>
    <span class="icon icon-2x icon-modify"></span>
    <span class="icon icon-2x icon-permission-all"></span>
    <span class="icon icon-2x icon-permission-group"></span>
    <span class="icon icon-2x icon-permission-private"></span>
    <span class="icon icon-2x icon-phone"></span>
    <span class="icon icon-2x icon--preview"></span>
    <span class="icon icon-2x icon-url"></span>
</div>
<div>
    <span class="icon icon-2x icon-twitter icon-rotate-90"></span>
    <span class="icon icon-2x icon-twitter icon-rotate-180"></span>
    <span class="icon icon-2x icon-twitter icon-rotate-270"></span>
</div>
<div>
    <span class="icon icon-2x icon-twitter icon-spin"></span>
    <span class="icon icon-2x icon-twitter icon-spin"></span>
    <span class="icon icon-2x icon-twitter icon-spin"></span>
</div>