<div style="font-size: 30px;">
    <span class="icon icon-hy-add-to-todo-list"></span>
    <span class="icon icon-hy-arrow-up"></span>
    <span class="icon icon-hy-arrow"></span>
    <span class="icon icon-hy-avatar-group"></span>
    <span class="icon icon-hy-avatar"></span>
    <span class="icon icon-hy-bachelor"></span>
    <span class="icon icon-hy-camera"></span>
    <span class="icon icon-hy-chat"></span>
    <span class="icon icon-hy-date"></span>
    <span class="icon icon-hy-discover"></span>
    <span class="icon icon-hy-done"></span>
    <span class="icon icon-hy-download"></span>
    <span class="icon icon-hy-drag"></span>
    <span class="icon icon-hy-drop-down"></span>
    <span class="icon icon-hy-edit-event"></span>
    <span class="icon icon-hy-edit"></span>
    <span class="icon icon-hy-events"></span>
    <span class="icon icon-hy-facebook"></span>
    <span class="icon icon-hy-favorites"></span>
    <span class="icon icon-hy-grid"></span>
    <span class="icon icon-hy-hamburger"></span>
    <span class="icon icon-hy-home"></span>
    <span class="icon icon-hy-hy-logo"></span>
    <span class="icon icon-hy-info"></span>
    <span class="icon icon-hy-link-arrow-offsite"></span>
    <span class="icon icon-hy-link-arrow"></span>
    <span class="icon icon-hy-linkedin"></span>
    <span class="icon icon-hy-list"></span>
    <span class="icon icon-hy-location"></span>
    <span class="icon icon-hy-log"></span>
    <span class="icon icon-hy-magnify-minus"></span>
    <span class="icon icon-hy-magnify-plus"></span>
    <span class="icon icon-hy-master"></span>
    <span class="icon icon-hy-minus"></span>
    <span class="icon icon-hy-modify"></span>
    <span class="icon icon-hy-navi-triangle"></span>
    <span class="icon icon-hy-new-group"></span>
    <span class="icon icon-hy-new-person"></span>
    <span class="icon icon-hy-notification"></span>
    <span class="icon icon-hy-opinder-logo-new"></span>
    <span class="icon icon-hy-opinder-logo"></span>
    <span class="icon icon-hy-pdf"></span>
    <span class="icon icon-hy-people"></span>
    <span class="icon icon-hy-person-outline"></span>
    <span class="icon icon-hy-person"></span>
    <span class="icon icon-hy-plus"></span>
    <span class="icon icon-hy-profile"></span>
    <span class="icon icon-hy-question"></span>
    <span class="icon icon-hy-remove"></span>
    <span class="icon icon-hy-search"></span>
    <span class="icon icon-hy-time"></span>
    <span class="icon icon-hy-todo-list"></span>
    <span class="icon icon-hy-twitter"></span>
    <span class="icon icon-hy-units-and-faculties"></span>
    <span class="icon icon-hy-video"></span>
    <span class="icon icon-hy-warning"></span>
    <span class="icon icon-hy-you-tube"></span>
    <span class="icon icon-hy-tour"></span>
</div>