<fieldset>
	<legend>The legend element</legend>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate tempus mollis.Vivamus arcu ante, semper sed lacus at, pretium porta lorem. Duis molestie vitae mi ut varius. Aenean ligula augue, efficitur sed mollis eget, mollis sed lacus.
</fieldset>

<fieldset>
    <legend>The legend element</legend>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate tempus mollis.Vivamus arcu ante, semper sed lacus at, pretium porta lorem. Duis molestie vitae mi ut varius. Aenean ligula augue, efficitur sed mollis eget, mollis sed lacus.
</fieldset>