<p>
  <label>Choose one: </label>
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </select>
</p>

<p>
  <textarea></textarea>
</p>

<p>
  <label for="textdemo">
    Teksti
    <span class="is-required">*</span>
  </label>
  <input id="textdemo" type="text" name="Text">
</p>

<div>
  <input required="required" id="radiodemo" type="radio" name="name" value="value">
  <label for="radiodemo">Option 1</label>
</div>

<div>
  <input required="required" id="radiodemo2" type="radio" name="name" value="value">
  <label for="radiodemo2">Option 2</label>
</div>

<div>
  <input required="required" id="checkboxdemo" type="checkbox" name="name" value="value">
  <label for="checkboxdemo">Checkbox 1</label>
</div>

<div>
  <input required="required" id="checkboxdemo2" type="checkbox" name="name" value="value">
  <label for="checkboxdemo2">Checkbox 2</label>
</div>

<div>
  <input type="submit" value="Lähetä">
</div>
