<p>
  <label>Select</label>
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </select>
</p>

<p>
  <label>Select multiple</label>
  <select multiple="multiple">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </select>
</p>

<p>
  <label>Select disabled</label>
  <select disabled="disabled">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </select>
</p>

<p>
  <label for="textareademo">
    Textarea
  </label>
  <textarea id="textareademo"></textarea>
</p>

<p>
  <label for="textdemo">
    Input text
    <span class="is-required" title="Kenttä on pakollinen.">*</span>
  </label>
  <input id="textdemo" type="text" name="Text">
</p>

<p>
  <label for="textdisableddemo">
    Input text disabled
  </label>
  <input id="textdisableddemo" type="text" name="Disabled text" disabled="disabled">
</p>

<p>
  <div>
    <input required="required" id="radiodemo" type="radio" name="name" value="value">
    <label for="radiodemo">Radio 1</label>
  </div>

  <div>
    <input required="required" id="radiodemo2" type="radio" name="name" value="value">
    <label for="radiodemo2">Radio 2</label>
  </div>

  <div>
    <input required="required" id="checkboxdemo" type="checkbox" name="name" value="value">
    <label for="checkboxdemo">Checkbox 1</label>
  </div>

  <div>
    <input required="required" id="checkboxdemo2" type="checkbox" name="name" value="value">
    <label for="checkboxdemo2">Checkbox 2</label>
  </div>

  <div>
    <input disabled="disabled" required="required" id="radiodisableddemo" type="radio" name="name" value="value">
    <label for="radiodisableddemo">Radio disabled</label>
  </div>

  <div>
    <input disabled="disabled" required="required" id="checkboxdisableddemo" type="checkbox" name="name" value="value">
    <label for="checkboxdisableddemo">Checkbox disabled</label>
  </div>

</p>

<p>
  <div>
    <input type="submit" value="Lähetä">
  </div>
</p>

<p>
  <div>
    <input disabled="disabled" type="submit" value="Disabled">
  </div>
</p>
