<a class="button--action icon--arrow-right" href="#">Button next</a><br/>
<a class="button--action icon--video" href="#">Button video</a><br/>
<a class="button--action icon--arrow-left" href="#">Button prev</a><br/>
<a class="button--action icon--arrow-right theme-transparent" href="#">Button next (transparent)</a><br/>
<a class="button--action icon--video theme-transparent" href="#">Button video (transparent)</a><br/>
<a class="button--action icon--arrow-left theme-transparent" href="#">Button prev (transparent)</a><br/>
<a class="button--action icon--arrow-right theme-transparent-alt" href="#">Button next (transparent-alt)</a><br/>
<a class="button--action icon--video theme-transparent-alt" href="#">Button video (transparent-alt)</a><br/>
<a class="button--action icon--arrow-left theme-transparent-alt" href="#">Button prev (transparent-alt)</a><br/>
