<nav class="main-menu">
	<div id="nav" class="navigation">
		<ul class="responsive-navigation">
			<li class="menu-path-front first odd  level-1">
				<span class="triangle"></span><a href="#" title="">Etusivu</a>
			</li>
			<li class="menuparent  even  level-1">
				<span class="triangle"></span><a href="#" title="Ajankohtaista" alt="Menu for group">Ajankohtaista</a>
				<ul>
					<li class="first odd  level-2">
						<span class="triangle"></span><a href="#">Uutiset</a>
					</li>
					<li class=" even  level-2">
						<span class="triangle"></span><a href="#" title="">Tapahtumat</a>
					</li>
					<li class="menuparent  odd  level-2">
						<span class="triangle"></span><a href="#" title="">Medialle</a>
						<ul>
							<li class="first odd  level-3">
								<span class="triangle"></span><a href="#" title="">Contact us</a>
							</li>
							<li class="even  level-3">
								<span class="triangle"></span><a href="#" title="">Kuvat</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#" title="">Perustietoja yliopistosta</a>
							</li>
						</ul>
					</li>
					<li class="menuparent even level-2">
						<span class="triangle"></span><a href="#" title="">Tiedekulma</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Yhteystiedot ja aukioloajat</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#" title="">Järjestä tapahtuma Tiedekulmassa</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#" title="">Mikä Tiedekulma?</a>
							</li>
							<li class="even last level-3">
								<span class="triangle"></span><a href="#" title="">Tiedekulman ohjelma 2015</a>
							</li>
						</ul>
					</li>
					<li class="odd level-2">
						<span class="triangle"></span><a href="#">Uutiskirjeet</a>
					</li>
					<li class="menuparent even level-2">
						<span class="triangle"></span><a href="#">Yliopisto-lehti</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Tilaus &amp; osoitteenmuutos</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Artikkelit</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#" title="">Toimitus</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#" title="Yliopistolainen: Helsingin yliopiston yhteisölehti">Yliopistolainen</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#" title="Yliopisto-lehden lukijatutkimus 2014">Lukijatutkimus 2014</a>
							</li>
							<li class="even last level-3">
								<span class="triangle"></span><a href="#" title="">Mediatiedot</a>
							</li>
						</ul>
					</li>
					<li class="menuparent odd level-2">
						<span class="triangle"></span><a href="#">Helsingin yliopisto 375 vuotta</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#">Helsingin yliopisto kansakuntaa rakentamassa</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Juhlavuoden päätapahtumat</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#">Yhteystiedot</a>
							</li>
						</ul>
					</li>
					<li class="even last level-2">
						<span class="triangle"></span><a href="#">Ilmasto muuttaa kaiken 4.5-24.5.2015</a>
					</li>
				</ul>
			</li>
			<li class="menuparent odd level-1">
				<span class="triangle"></span><a href="#" title="Tutkimus" alt="Menu for group">Tutkimus</a>
				<ul>
					<li class="menuparent first odd  level-2">
						<span class="triangle"></span><a href="#">Tohtorikoulutus</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#">Tutkijakoulut ja tohtoriohjelmat</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Hae tohtorikoulutukseen</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#">Uusille tohtorikoulutettaville</a>
							</li>
						</ul>
					</li>
					<li class="even level-2">
						<span class="triangle"></span><a href="#" title="">Tutkimusaineistot</a>
					</li>
					<li class="odd level-2">
						<span class="triangle"></span><a href="#" title="">Tutkimusrahoitus</a>
					</li>
					<li class="even level-2">
						<span class="triangle"></span><a href="#" title="">Tutkijan palvelut</a>
					</li>
					<li class="menuparent odd level-2">
						<span class="triangle"></span><a href="#" title="">Tutkimusinfrastruktuurit</a>
						<ul>
							<li class="first odd last level-3">
								<span class="triangle"></span><a href="#">Tutkimusinfrastruktuurien kehittäminen</a>
							</li>
						</ul>
					</li>
					<li class="even level-2">
						<span class="triangle"></span><a href="#" title="">Tutkimusetiikka</a>
					</li>
					<li class="odd last level-2">
						<span class="triangle"></span><a href="#" title="">Tutkimustietokanta</a>
					</li>
				</ul>
			</li>
			<li class="menuparent even level-1">
				<span class="triangle"></span><a href="#" title="Opiskelu" alt="Menu for group">Opiskelu</a>
				<ul>
					<li class="first odd  level-2">
						<span class="triangle"></span><a href="#">Etsi koulutuksia</a>
					</li>
					<li class="menuparent even level-2">
						<span class="triangle"></span><a href="#" title="">Hae opiskelijaksi</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Yhteishaku</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Erillishaut</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#">Maisteriksi</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#" title="">Tohtoriksi</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#">Muut opiskelumahdollisuudet</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#" title="">Tutustu yliopistoon</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#">Opinto-ohjaajille</a>
							</li>
						</ul>
					</li>
					<li class="menuparent odd level-2">
						<span class="triangle"></span><a href="#" title="">Opiskelun aloittaminen</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Opiskelupaikan vastaanotto ja ilmoittautuminen</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#" title="">Suunnittele opintosi</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#" title="">Opiskelijaelämää</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#" title="">Opiskeluympäristö</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#" title="">Opiskelijan vanhemmille</a>
							</li>
						</ul>
					</li>
					<li class="menuparent even level-2">
						<span class="triangle"></span><a href="#" title="">Opintojen aikana</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#">Tietoa tutkinnosta</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#" title="">Räätälöi tutkintosi</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#" title="">Hae apurahaa</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Tilaa opintosuoritusote</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#" title="">Lukuvuosi ja opetusperiodit</a>
							</li>
						</ul>
					</li>
					<li class="menuparent odd  level-2">
						<span class="triangle"></span><a href="#" title="">Työelämään</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Urapolkuja</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Tutkinto työllistää</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#" title="">Urapalvelut</a>
							</li>
						</ul>
					</li>
					<li class="even  level-2">
						<span class="triangle"></span><a href="#">Opintojen jatkaminen ja ilmoittautuminen</a>
					</li>
					<li class="menuparent odd last level-2">
						<span class="triangle"></span><a href="#">Yhteystiedot</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#">Hakijapalvelut</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Kansainvälisen vaihdon palvelut</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#" title="">Opiskelijarekisteri</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Opiskelijaneuvonta</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#" title="">Urapalvelut</a>
							</li>
							<li class="even last level-3">
								<span class="triangle"></span><a href="#">Tiedekunnat</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="menuparentodd level-1">
				<span class="triangle"></span><a href="#" title="Yhteistyö" alt="Menu for group">Yhteistyö</a>
				<ul>
					<li class="first odd level-2">
						<span class="triangle"></span><a href="#" title="">Alumnille</a>
					</li>
					<li class="menuparent even level-2">
						<span class="triangle"></span><a href="#">Yrityksille ja yhteisöille</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Hyödynnä työnantajapalveluja</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Tilaa täydennys- tai lisäkoulutusta</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#">Verkostoidu ja kehitä yhdessä</a>
							</li>
							<li class="even last level-3">
								<span class="triangle"></span><a href="#">Varaa tila ja järjestä tapahtuma</a>
							</li>
						</ul>
					</li>
					<li class="menuparent odd level-2">
						<span class="triangle"></span><a href="#" title="">Tutkimusyhteistyö</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#">Näin tutkimusyhteistyö toimii</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Tutkimusinfrastruktuurien hyödyntäminen</a>
							</li>
							<li class="odd last level-3">
								<span class="triangle"></span><a href="#" title="">Innovaatiot ja kaupallistaminen</a>
							</li>
						</ul>
					</li>
					<li class="menuparent even level-2">
						<span class="triangle"></span><a href="#" title="">Säätiöille ja rahoittajille</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Palvelut säätiöille ja yhteystiedot</a>
							</li>
							<li class="even last level-3">
								<span class="triangle"></span><a href="#" title="">Säätiöt rahoittajina</a>
							</li>
						</ul>
					</li>
					<li class="odd level-2">
						<span class="triangle"></span><a href="#">Lahjoittajalle</a>
					</li>
					<li class="even last level-2">
						<span class="triangle"></span><a href="#" title="">Ota yhteyttå</a>
					</li>
				</ul>
			</li>
			<li class="menuparent even last level-1">
				<span class="triangle"></span><a href="#" title="Yliopisto" alt="Menu for group">Yliopisto</a>
				<ul>
					<li class="menuparent first odd  level-2">
						<span class="triangle"></span><a href="#" title="">Strategia ja johtaminen</a>
						<ul>
							<li class="first odd  level-3">
								<span class="triangle"></span><a href="#" title="">Yliopiston tehtävät</a>
							</li>
							<li class="even  level-3">
								<span class="triangle"></span><a href="#" title="">Strategia</a>
							</li>
							<li class="odd  level-3">
								<span class="triangle"></span><a href="#" title="">Johto</a>
							</li>
							<li class="even  level-3">
								<span class="triangle"></span><a href="#">Organisaatio</a>
							</li>
							<li class="odd  level-3">
								<span class="triangle"></span><a href="#" title="">Laatu</a>
							</li>
							<li class="even last level-3">
								<span class="triangle"></span><a href="#" title="">Helsingin yliopiston talous</a>
							</li>
						</ul>
					</li>
					<li class="menuparent even level-2">
						<span class="triangle"></span><a href="#" title="">Töihin yliopistoon?</a>
						<ul>
							<li class="first odd level-3">
								<span class="triangle"></span><a href="#" title="">Avoimet työpaikat</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Kansainväliset henkilöstöpalvelut</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#">Kelpoisuusvaatimukset opetus- ja tutkimustehtäviin</a>
							</li>
							<li class="even level-3">
								<span class="triangle"></span><a href="#">Näin haet meille töihin</a>
							</li>
							<li class="odd level-3">
								<span class="triangle"></span><a href="#">Ura Helsingin yliopistossa</a>
							</li>
							<li class="even last level-3">
								<span class="triangle"></span><a href="#">Yliopisto työnantajana</a>
							</li>
						</ul>
					</li>
					<li class="odd level-2">
						<span class="triangle"></span><a href="#">Tiedekunnat ja yksiköt</a>
					</li>
					<li class="even level-2">
						<span class="triangle"></span><a href="#" title="">Kaksikielinen yliopisto</a>
					</li>
					<li class="odd last level-2">
						<span class="triangle"></span><a href="#" title="">Yhteystiedot ja kartat</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>