<nav role="navigation" class="main-menu">
  <ul class="main-menu__lvl1">
    <li class="is-active main-menu__front" data-mlid="8272">
      <span class="main-menu__home"></span>
      <a href="#" title="" class="active">Etusivu</a>
    </li>
    <li class="is-expandable is-open" data-mlid="3197">
      <span class="main-menu__expand"></span>
      <a href="#" title="Ajankohtaista" alt="Menu for group">Ajankohtaista</a>
      <ul class="main-menu__lvl2">
        <li data-mlid="9260">
          <a href="#">Uutiset ja tiedotteet</a>
        </li>
        <li data-mlid="5059">
          <a href="#" title="">Tapahtumat</a>
        </li>
        <li class="is-expandable" data-mlid="4665">
          <span class="main-menu__expand"></span>
          <a href="#" title="">Medialle</a>
          <ul class="main-menu__lvl3" style="display: none;">
            <li data-mlid="9149">
              <a href="#">Viestinnän yhteystiedot</a>
            </li>
          </ul>
        </li>
        <li data-mlid="5320">
          <a href="/fi/uutiskirjeet">Uutiskirjeet</a>
        </li>
        <li data-mlid="5564">
          <a href="/fi/yliopisto-lehti">Yliopisto-lehti</a>
        </li>
        <li data-mlid="9402">
          <span class="main-menu__expand"></span>
          <a href="/fi/ajankohtaista/unitube" title="">Unitube – Suoria lähetyksiä ja videotallenteita</a>
        </li>
        <li class="is-expandable is-open" data-mlid="10891">
          <span class="main-menu__expand"></span>
          <a href="/fi/ajankohtaista/tiedekulma" title="">Tiedekulma</a>
          <ul class="main-menu__lvl3">
            <li data-mlid="4655">
              <a href="/fi/ajankohtaista/tiedekulma/yhteystiedot-ja-aukioloajat" title="">Yhteystiedot ja aukioloajat</a>
            </li>
            <li data-mlid="4656">
              <a href="/fi/yliopisto/vierailukohteet/tiedekulma/jarjesta-tapahtuma">Järjestä tapahtuma Tiedekulmassa</a>
            </li>
            <li data-mlid="4653">
              <a href="/fi/ajankohtaista/tiedekulma/mika-tiedekulma" title="">Mikä Tiedekulma?</a>
            </li>
            <li data-mlid="9440">
              <a href="/fi/ajankohtaista/tiedekulma/tiedekulman-ohjelma-2016" title="">Tiedekulman ohjelma 2016</a>
            </li>
          </ul>
        </li>
        <li data-mlid="9980">
          <a href="/fi/ajankohtaista/tiedeteema-ihme-elama">Tiedeteema: "Ihme elämä"</a>
        </li>
        <li data-mlid="9083">
          <a href="/fi/ilmasto-muuttaa-kaiken" title="">Tiedeteema: "Ilmasto muuttaa kaiken"</a>
        </li>
        <li data-mlid="8716">
          <a href="/fi/biotalous">Tiedeteema: "Näkökulmana biotalous"</a>
        </li>
        <li data-mlid="8072">
          <a href="/fi/tarpeeksi-terve" title="">Tiedeteema: "Tarpeeksi terve"</a>
        </li>
        <li data-mlid="9148">
          <a href="/fi/ajankohtaista/tulevaisuuden-oppiminen" title="">Tiedeteema: "Tulevaisuuden oppiminen"</a>
        </li>
        <li data-mlid="10970">
          <a href="/fi/ajankohtaista/tutkijoiden-yo-30.9.2016">Tutkijoiden yö 30.9.2016</a>
        </li>
      </ul>
    </li>
    <li class="is-expandable" data-mlid="3195">
      <span class="main-menu__expand"></span>
      <a href="/fi/tutkimus" title="Tutkimus" alt="Menu for group">Tutkimus</a>
    </li>
    <li class="is-expandable" data-mlid="3194">
      <span class="main-menu__expand"></span>
      <a href="/fi/opiskelu" title="Opiskelu" alt="Menu for group">Opiskelu</a>
    </li>
    <li class="is-expandable" data-mlid="3192">
      <span class="main-menu__expand"></span>
      <a href="/fi/yhteistyo" title="Yhteistyö" alt="Menu for group">Yhteistyö</a>
    </li>
    <li class="is-expandable" data-mlid="3193">
      <span class="main-menu__expand"></span>
      <a href="/fi/yliopisto" title="Yliopisto" alt="Menu for group">Yliopisto</a>
    </li>
  </ul>
</nav>