<nav role="navigation" class="fatmenu">
  <ul class="menu" style="height: 515px; opacity: 1;">
    <li class="is-lvl1 is-active fatmenu__front">
      <span class="fatmenu__home"></span>
      <a href="#" class="active">Etusivu</a>
    </li>
    <li class="is-lvl1 is-expandable is-open">
      <h3 class="fatmenu__title"><a href="#" title="Ajankohtaista">Ajankohtaista</a></h3>
      <ul class="menu" style="position: relative; height: 388.781px; display: block;">
        <li class="is-lvl2">
          <a href="#">Uutiset ja tiedotteet</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Tapahtumat</a>
        </li>
        <li class="is-lvl2 is-expandable">
          <a href="#">Medialle</a>
          <ul class="menu">
            <li class="is-lvl3">
              <a href="#">Viestinnän yhteystiedot</a>
            </li>
          </ul>
        </li>
        <li class="is-lvl2">
          <a href="#">Uutiskirjeet</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Yliopisto-lehti</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Unitube – Suoria lähetyksiä ja videotallenteita</a>
        </li>
        <li class="is-lvl2 is-expandable is-open">
          <a href="#">Tiedekulma</a>
          <ul class="menu">
            <li class="is-lvl3">
              <a href="#">Yhteystiedot ja aukioloajat</a>
            </li>
            <li class="is-lvl3">
              <a href="#">Järjestä tapahtuma Tiedekulmassa</a>
            </li>
            <li class="is-lvl3">
              <a href="#">Mikä Tiedekulma?</a>
            </li>
            <li class="is-lvl3">
              <a href="#">Tiedekulman ohjelma 2016</a>
            </li>
          </ul>
        </li>
        <li class="is-lvl2">
          <a href="#">Tiedeteema: "Ihme elämä"</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Tiedeteema: "Ilmasto muuttaa kaiken"</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Tiedeteema: "Näkökulmana biotalous"</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Tiedeteema: "Tarpeeksi terve"</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Tiedeteema: "Tulevaisuuden oppiminen"</a>
        </li>
        <li class="is-lvl2">
          <a href="#">Tutkijoiden yö 30.9.2016</a>
        </li>
      </ul>
    </li>
    <li class="is-lvl1 is-expandable">
      <a href="#" title="Tutkimus">Tutkimus</a>
    </li>
    <li class="is-lvl1 is-expandable">
      <a href="#" title="Opiskelu">Opiskelu</a>
    </li>
    <li class="is-lvl1 is-expandable">
      <a href="#" title="Yhteistyö">Yhteistyö</a>
    </li>
    <li class="is-lvl1 is-expandable">
      <a href="#" title="Yliopisto">Yliopisto</a>
    </li>
    <span class="fatmenu__collapse"></span>
  </ul>
</nav>
