<ul class="side-menu">
	<li>
		<a href="#">Side menu 1.</a>
	</li>
	<li>
		<a href="#" class="active-trail">Side menu 2.</a>
		<ul class="side-menu level-2">
			<li>
				<a href="#">Side menu 2.1.</a>
			</li>
			<li>
				<a href="#">Side menu 2.2.</a>
			</li>
			<li>
				<a href="#" class="active-trail">Side menu 2.3.</a>
				<ul class="side-menu level-3">
					<li>
						<a href="#">Side menu 2.3.1.</a>
					</li>
					<li>
						<a href="#">Side menu 2.3.2.</a>
					</li>
					<li>
						<a href="#" class="active-trail">Side menu 2.3.3.</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Side menu 2.4.</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Side menu 3.</a>
	</li>
	<li>
		<a href="#">Side menu 4.</a>
	</li>
	<li>
		<a href="#">Side menu 5.</a>
	</li>
</ul>