<article about="#" role="article" class="box-story box-story--constrained">
  <h4 class="box-story__title">
    <a href="#">Hyötypelit hiipivät kouluihin</a>
  </h4>
  <div class="box-story__meta">
    <span class="box-story__date">13.10.2015</span>
    <a href="#" class="box-story__tag"><span>Ympäristö &amp; luonnontiede</span></a>
  </div>
  <div class="box-story__content">
    <a href="#">Tuoreet tiedot sekä mikrobien vaikutuksesta radionuklidien käyttäytymiseen pohjoisessa suoympäristössä että bakteerien kyvystä poistaa...</a>
  </div>
</article>

<article about="#" role="article" class="box-story box-story--constrained">
  <h4 class="box-story__title">
    <a href="#">Hyötypelit hiipivät kouluihin</a>
  </h4>
  <div class="box-story__meta">
    <span class="box-story__date">13.10.2015</span>
    <a href="#" class="box-story__tag"><span>Ympäristö &amp; luonnontiede</span></a>
  </div>
  <div class="box-story__content">
    <a href="#">Tuoreet tiedot sekä mikrobien vaikutuksesta radionuklidien käyttäytymiseen pohjoisessa suoympäristössä että bakteerien kyvystä poistaa...</a>
  </div>
</article>
