<div class="box-data">
  <div class="box-data__left"><span class="box-data__date">28.6. 2016</span></div>
  <div class="box-data__container">
    <div class="box-data__title"><a href="#">Gianluca Paolini: Independence in Model Theory and Team Semantics</a></div>
    <span class="box-data__content">ti 28.6.2016   12:00-14:00 Exactum, Auditorio CK112, Gustaf Hällströmin katu 2 BM....</span>
  </div>
</div>

<div class="box-data theme-orange">
  <div class="box-data__left"><span class="box-data__icon"></span></div>
  <div class="box-data__container">
    <div class="box-data__title"><a href="#">Väitös: Oma etu menee kaavoitukseen osallistumisessa helposti yhteisen hyvän edelle</a></div>
  </div>
</div>

<div class="box-data theme-black">
  <div class="box-data__left"><span class="box-data__icon"></span></div>
  <div class="box-data__container">
    <div class="box-data__title"><a href="#">Teoreettisten ja laskennallisten menetelmien maisteriohjelma, filosofian maisteri (2 v)</a></div>
  </div>
</div>