<article class="box-story-constrained">
	<h4 class="box-story__title">
		<a href="#">Ukrainan tilanne paikallisen ulkopuolisen silmin</a>        
	</h4>
	<div class="box-story__topical">
		<span class="box-story-date">11.5.2015</span>
		<a href="#" class="box-story-tag"><span>Language & culture</span></a>
	</div>
	<div class="box-story__content">
		<a href="#">Anna Kutkinan tutkimusaihe muuttui viime vuonna surullisella tapaa ajankohtaiseksi. H&auml;nen Ukrainassa havainnoimistaan kulttuurieroista tuli &auml;kki&auml;...</a>        
	</div>
</article>
