<div class="box-ingress">
	<div class="box-ingress__image">
		<!-- scald=1191:square_tiny_image_sc -->
		<div about="/en/atom/1191" typeof="">
			<picture title="square 250x250">
				<!--[if IE 9]>
				<video style="display: none;">
					<![endif]-->
					<source srcset="images/square_250x250.jpg 1x" media="screen and (max-width: 48em)">
					<source srcset="" media="screen and (min-width: 75em)">
					<source srcset="" media="screen and (min-width: 62.5em)">
					<source srcset="images/square_250x250.jpg 1x" media="screen and (min-width: 48em)">
					<!--[if IE 9]>
				</video>
				<![endif]-->
				<!--[if lt IE 9]>
				<img typeof="foaf:Image" src="images/square_250x250.jpg 1x" />
				<![endif]-->
				<!--[if !lt IE 9]><!-->
				<img srcset="images/square_250x250.jpg 1x 125w" alt="maailmanpyora_poika2_veikkosomerpuro_250x250.jpg">
				<!-- <![endif]-->
			</picture>
		</div>
		<!-- END scald=1191 -->
	</div>
	<div class="box-ingress__content">
		Wondering how your studies and degree are structured? Find out about the degree and credit system, courses, grading and the recognition of previous studies as well as regulations on duration of studies.         
	</div>
</div>