<article class="box-application theme-darkred">
  <a class="box-application__wrapper-link" href="#">
    <div class="box-application__title">Sosiologia, valtiotieteiden kandidaatti ja maisteri</div>
    <div class="box-application__content theme-big">
      <div class="box-application__longfield">Haku avoimessa yliopistossa opintoja suorittaneille (Helsingin yliopisto, valtiotieteellinen tiedekunta)</div>
      <span>Hakuaika: </span>
      <span class="date-display-start" property="dc:date" datatype="xsd:dateTime" content="2015-02-03T09:00:27+02:00">3.2.2015, 09:00</span> – <span class="date-display-end" property="dc:date" datatype="xsd:dateTime" content="2015-03-02T23:59:17+02:00">2.3.2015, 23:59</span>
    </div>
  </a>
</article>
