<div class="box-story-liftup">
	<a href="#">
		<div class="box-story-image">
			<div about="/en/atom/1641" typeof="">
				<img src="images/wide_322x190.jpg" alt="" title="" />
			</div>       
		</div>
		<h3 class="box-story-title">
			Become a doctor?        
		</h3>
		<div class="box-story-content">
			Want to become a Doctor? Would you like to contribute to the academic community? Apply for the doctorate programme and 
			participate in top research at the University of Helsinki.
		</div>
		<div class="box-story-link">
			Doctoral schools and programmes        
		</div>
	</a>
</div>