<div  class="box-subsection">
	<div class="box-subsection__title">Helsingin yliopiston hakijapalvelut</div>
	<div class="box-subsection__content">
    <div class="box-subsection__row">
      <div class="street-block">
        PL 3
      </div>
      <div><span>00014</span> <span>HELSINGIN YLIOPISTO</span></div>
    </div>
    <div class="box-subsection__row">
      <div>
        Käyntiosoite:
      </div>
      <div>Fabianinkatu 33, 1. krs</div>
      <div><span>00014</span> <span>HELSINGIN YLIOPISTO</span></div>
    </div>
    <div class="box-subsection__row">
      <span>Puhelin:</span>
      02941 24140
    </div>
    <div class="box-subsection__row">
      <a href="#">hakijapalvelut@helsinki.fi</a>
    </div>
    <div class="box-subsection__row">
      <a href="#" target="_blank">http://www.helsinki.fi/opiskelijaksi</a>
    </div>
  </div>
</div>
