<article about="#" role="article" class="box-story box-story--constrained">
  <div class="box-story__meta">
    <span class="box-story__meta-item">13.10.2015</span>
    <a href="#" class="box-story__meta-item"><span>Ympäristö &amp; luonnontiede</span></a>
  </div>
  <h4 class="box-story__title">
    <a href="#">Hyötypelit hiipivät kouluihin</a>
  </h4>
</article>

<article about="#" role="article" class="box-story box-story--constrained">
  <div class="box-story__meta">
    <span class="box-story__meta-item">13.10.2015</span>
    <a href="#" class="box-story__meta-item"><span>Ympäristö &amp; luonnontiede</span></a>
  </div>
  <h4 class="box-story__title">
    <a href="#">Hyötypelit hiipivät kouluihin</a>
  </h4>
</article>
