<div class="gridder-container-3 clearfix">
	<!-- example one -->
	<div class="gridder-box gridder-box-width-1 gridder-box-height-1 odd">
		<div class="box-story" about="/en/atom/1643" typeof="">
			<a href="#" class="link-wrapper">
				<div class="box-story__image">
					<picture>
						<!--[if IE 9]>
						<video style="display: none;">
							<![endif]-->
							<source srcset="images/wide_322x190.jpg 1x" media="screen and (max-width: 48em)">
							<source srcset="images/wide_322x190.jpg 1x" media="screen and (min-width: 48em)">
							<!--[if IE 9]>
						</video>
						<![endif]-->
						<!--[if lt IE 9]>
						<img typeof="foaf:Image" src="images/wide_322x190.jpg" alt="" title="" />
						<![endif]-->
						<!--[if !lt IE 9]><!-->
						<img srcset="images/wide_322x190.jpg 322w" alt="" title="">
						<!-- <![endif]-->
					</picture>
				</div>
				<h4 class="box-story__title">
					Research funding        
				</h4>
				<div class="box-story__content">
					The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.         
				</div>
				<div class="box-story__link">
					Read more        
				</div>
			</a>
		</div>
	</div>
	<!-- example two -->
	<div class="gridder-box gridder-box-width-1 gridder-box-height-1 odd">
		<div class="box-story" about="/en/atom/1643" typeof="">
			<a href="#" class="link-wrapper">
				<div class="box-story__image">
					<picture>
						<!--[if IE 9]>
						<video style="display: none;">
							<![endif]-->
							<source srcset="images/wide_322x190.jpg 1x" media="screen and (max-width: 48em)">
							<source srcset="images/wide_322x190.jpg 1x" media="screen and (min-width: 48em)">
							<!--[if IE 9]>
						</video>
						<![endif]-->
						<!--[if lt IE 9]>
						<img typeof="foaf:Image" src="images/wide_322x190.jpg" alt="" title="" />
						<![endif]-->
						<!--[if !lt IE 9]><!-->
						<img srcset="images/wide_322x190.jpg 322w" alt="" title="">
						<!-- <![endif]-->
					</picture>
				</div>
				<h4 class="box-story__title">
					Research funding        
				</h4>
				<div class="box-story__content">
					The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.         
				</div>
				<div class="box-story__link">
					Read more        
				</div>
			</a>
		</div>
	</div>
	<!-- example three -->
	<div class="gridder-box gridder-box-width-1 gridder-box-height-1 odd">
		<div class="box-story" about="/en/atom/1643" typeof="">
			<a href="#" class="link-wrapper">
				<div class="box-story__image">
					<picture>
						<!--[if IE 9]>
						<video style="display: none;">
							<![endif]-->
							<source srcset="images/wide_322x190.jpg 1x" media="screen and (max-width: 48em)">
							<source srcset="images/wide_322x190.jpg 1x" media="screen and (min-width: 48em)">
							<!--[if IE 9]>
						</video>
						<![endif]-->
						<!--[if lt IE 9]>
						<img typeof="foaf:Image" src="images/wide_322x190.jpg" alt="" title="" />
						<![endif]-->
						<!--[if !lt IE 9]><!-->
						<img srcset="images/wide_322x190.jpg 322w" alt="" title="">
						<!-- <![endif]-->
					</picture>
				</div>
				<h4 class="box-story__title">
					Research funding        
				</h4>
				<div class="box-story__content">
					The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.         
				</div>
				<div class="box-story__link">
					Read more        
				</div>
			</a>
		</div>
	</div>
</div>