<article about="#" class="box-story box-story--topical" role="article" typeof="sioc:Item foaf:Document">
  <div class="box-story__label">
    Tutkijan ääni
  </div>
  <div class="box-story__image">
    <a href="#">
      <img alt="Alt text" src="images/wide_322x190.jpg" title="Title text">
    </a>
  </div>
  <div class="box-story__meta">
    <span class="box-story__date">23.2.2017</span> <a class="box-story__tag" datatype="" href="#" property="rdfs:label skos:prefLabel" typeof="skos:Concept"><span>Ympäristö &amp; luonnontiede</span></a>
  </div>
  <a class="box-story__link-wrapper" href="#">
    <h4 class="box-story__title">Min­ne ovat me­hi­läi­set men­neet?</h4>
    <div class="box-story__content">
      Jos luonnon monimuotoisuus heikkenee entisestään, olemme vaarassa menettää viimeiset mehiläisemme. Emmekä me ehkä pärjää ilman heitä.
    </div>
  </a>
</article>

<br/>
<br/>

<article about="#" class="box-story box-story--topical theme-plain" role="article" typeof="sioc:Item foaf:Document">
  <div class="box-story__label">
    Tutkijan ääni
  </div>
  <div class="box-story__meta">
    <span class="box-story__date">23.2.2017</span> <a class="box-story__tag" datatype="" href="#" property="rdfs:label skos:prefLabel" typeof="skos:Concept"><span>Ympäristö &amp; luonnontiede</span></a>
  </div>
  <a href="#" class="box-story__link-wrapper">
    <h4 class="box-story__title">Min­ne ovat me­hi­läi­set men­neet?</h4>
    <div class="box-story__content">
      Jos luonnon monimuotoisuus heikkenee entisestään, olemme vaarassa menettää viimeiset mehiläisemme. Emmekä me ehkä pärjää ilman heitä.
    </div>
  </a>
</article>
