<div class="box-subtitle box-subtitle--icon">
  <div class="box-subtitle__icon"><span class="icon--time"></span></div>
  <div class="box-subtitle__title">
    Tänään avoinna 10-17
  </div>
  <a href="#" class="box-subtitle__link">Aukioloajat</a>
</div>
<div class="box-subtitle box-subtitle--icon">
  <div class="box-subtitle__icon"><span class="icon--location"></span></div>
  <div class="box-subtitle__title">
    Aleksanterinkatu 7, Helsinki
  </div>
  <a href="#" class="box-subtitle__link">Sijainti kartalla</a>
</div>
<div class="box-subtitle box-subtitle--icon">
  <div class="box-subtitle__icon"><span class="icon--mail"></span></div>
  <a href="#" class="box-subtitle__link">Tilaa uutiskirje</a>
</div>
