<div class="box-story">
  <a href="#" class="box-story__link-wrapper">
    <div class="box-story__image">
      <img src="images/wide_322x190.jpg" alt="" title="" />
    </div>
    <h4 class="box-story__title">
      Research funding
    </h4>
    <div class="box-story__content">
      The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.
    </div>
  </a>
</div>

<br/>
<br/>

<div class="box-story theme-plain-alt">
  <a href="#" class="box-story__link-wrapper">
    <h4 class="box-story__title">
      Research funding
    </h4>
    <div class="box-story__content">
      The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.
    </div>
  </a>
</div>

<br/>
<br/>

<div class="box-story theme-black">
  <a href="#" class="box-story__link-wrapper">
    <div class="box-story__image">
      <img src="images/wide_322x190.jpg" alt="" title="" />
    </div>
    <h4 class="box-story__title">
      Research funding
    </h4>
    <div class="box-story__content">
      The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.
    </div>
  </a>
</div>
