<div id="node_landing_page_default_group_landing_ingress_wrapper" class="box-story--liftup">
	<a href="#" class="group-landing-link">
		<div class="box-story__image">
			<!-- scald=1641:liftup_picture_sc -->
			<div about="/en/atom/1641" typeof="">
				<picture title="tohtoriksi_322x190.jpg">
					<!--[if IE 9]>
					<video style="display: none;">
						<![endif]-->
						<source srcset="images/wide_322x190.jpg 1x" media="screen and (max-width: 48em)">
						<source srcset="" media="screen and (min-width: 75em)">
						<source srcset="" media="screen and (min-width: 62.5em)">
						<source srcset="images/wide_322x190.jpg 1x" media="screen and (min-width: 48em)">
						<!--[if IE 9]>
					</video>
					<![endif]-->
					<!--[if lt IE 9]>
					<img typeof="foaf:Image" src="images/wide_322x190.jpg" alt="tohtoriksi_322x190.jpg" title="tohtoriksi_322x190.jpg" />
					<![endif]-->
					<!--[if !lt IE 9]><!-->
					<img srcset="images/wide_322x190.jpg 720w" alt="tohtoriksi_322x190.jpg" title="tohtoriksi_322x190.jpg">
					<!-- <![endif]-->
				</picture>
			</div>
			<!-- END scald=1641 -->        
		</div>
		<h3 class="box-story__title">
			Become a doctor?        
		</h3>
		<div class="box-story__content">
			Want to become a Doctor? Would you like to contribute to the academic community? Apply for the doctorate programme and 
			participate in top research at the University of Helsinki.
		</div>
		<div class="box-story__link">
			Doctoral schools and programmes        
		</div>
	</a>
</div>