<div class="box-data">
	<div class="box-data-date"><span>22.5. 2015</span></div>
	<div class="box-data-title"><a href="#" target="_new">Tânia Keiko Shishido Joutsen: Cyanobacterial bioactive compounds: biosynthesis, evolution, structure and bioactivity</a></div>
	<span class="box-data-content">Fri 22.5.2015   12:00-14:00 auditorium B2 (A109), Viikki B-Building,...</span>
</div>

<div class="box-data">
    <div class="box-data-grade"><span>3</span></div>
    <div class="box-data-title"><a href="#" target="_new">Tânia Keiko Shishido Joutsen: Cyanobacterial bioactive compounds: biosynthesis, evolution, structure and bioactivity</a></div>
    <span class="box-data-content">Fri 22.5.2015   12:00-14:00 auditorium B2 (A109), Viikki B-Building,...</span>
</div>