<div class="box-card">
  <a href="#" class="box-card__header">
    Matti Meikäläinen
  </a>
  <div class="required-fields box-card__content">
    <div class="box-card__item">
      <div class="box-card__section">
        <div class="box-card__field icon--units-and-faculties">
          professori
        </div>
        <div class="box-card__fieldset">
          <a href="#" class="active">Maatalous-metsätieteellinen tiedekunta</a>
          <a href="#" class="active">Maataloustieteiden laitos</a>
          <a href="#" class="active">Agroteknologia</a>
          <a href="#" class="active">Maatalouden ympäristöteknologia</a>
        </div>
      </div>
      <div class="box-card__section theme-secondary">
        <div class="box-card__field icon--mail">
          <a href="#">matti.meikalainen@helsinki.fi</a>
        </div>
        <div class="box-card__field icon--phone">
          <a href="tel:02941 12345" class="is-tel">02941 12345</a>
        </div>
      </div>
    </div>
    <div class="box-card__item">
      <div class="box-card__section">
        <div class="box-card__field icon--units-and-faculties">
          professori
        </div>
        <div class="box-card__fieldset">
          <a href="#" class="active">Maatalous-metsätieteellinen tiedekunta</a>
          <a href="#" class="active">Maataloustieteiden laitos</a>
        </div>
      </div>
      <div class="box-card__section theme-secondary">
        <div class="box-card__field icon--mail">
          <a href="mailto:#">matti.meikalainen@helsinki.fi</a>
        </div>
        <div class="box-card__field icon--phone">
          <a href="tel:02941 12345" class="is-tel">02941 12345</a>
        </div>
      </div>
    </div>
  </div>
</div>
