<div class="box-story box-story--liftup">
  <a href="#" class="box-story__link-wrapper">
    <div class="box-story__image">
      <img src="images/wide_322x190.jpg" alt="" title="" />
    </div>
    <h3 class="box-story__title">
      Become a doctor?
    </h3>
    <div class="box-story__content">
      Want to become a Doctor? Would you like to contribute to the academic community? Apply for the doctorate programme and
      participate in top research at the University of Helsinki.
    </div>
    <div class="box-story__link button--action icon--arrow-right theme-transparent">
      Doctoral schools and programmes
    </div>
  </a>
</div>
