<article role="article" class="box-application theme-turquoise">
	<a href="#" class="box-application__wrapper-link">
		<div class="box-application__title">
			Environment and Natural Resources, Master of Science (Agriculture and Forestry)        
		</div>
		<div class="box-application__content">
			<div class="box-application__field box-application__field--title">
				Faculty of Agriculture and Forestry        
			</div>
			<div class="box-application__field float-right">
				120 op        
			</div>
			<div class="box-application__field float-left">
				2015 Autumn        
			</div>
			<div class="box-application__field box-application__link--concealed clearfix">
				English        
			</div>
		</div>
	</a>
</article>