<div class="box-story">
  <a href="#" class="box-story__link-wrapper">
    <div class="box-story__image">
      <img src="images/wide_322x190.jpg" alt="" title="" />
    </div>
    <h4 class="box-story__title">
      Research funding
    </h4>
    <div class="box-story__content">
      The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.
    </div>
  </a>
</div>

<div class="box-story theme-plain">
  <div class="box-story__label">
    Uutinen
  </div>
  <div class="box-story__topical">
    <span class="box-story__date">2.6.2016</span>
    <a href="#" class="box-story__tag"><span>Terveys &amp; hyvinvointi</span></a>
  </div>
  <a href="#" class="box-story__link-wrapper">
    <h4 class="box-story__title">
      Research funding
    </h4>
    <div class="box-story__content">
      The University of Helsinki receives the largest amount of competitive research funding of all Finnish universities.
    </div>
  </a>
  <div class="box-story__link">
    <a href="" class="button--action icon--next theme-transparent">
      Read more
    </a>
  </div>
</div>
