<div class="box-application">
  <div class="box-application__title"><a href="#">Aasian tutkimus, humanististen tieteiden kandidaatti</a></div>
  <div class="box-application__table is-responsive">
    <div class="box-application__tr">
      <div class="box-application__td">Application</div>
      <div class="box-application__td">Haku avoimessa yliopistossa opintoja suorittaneille (Helsingin yliopisto, humanistinen tiedekunta)</div>
    </div>
    <div class="box-application__tr">
      <div class="box-application__td">Hakuaika</div>
      <div class="box-application__td">13.4.2015, 00:01– 29.4.2015, 16:15</div>
    </div>
    <div class="box-application__tr">
      <div class="box-application__td">Study places</div>
      <div class="box-application__td">1</div>
    </div>
  </div>
  <div class="box-application__link"><a class="button--action icon--arrow-right theme-transparent" href="#">Read application instructions</a></div>
</div>