<div id="node_landing_page_default_group_landing_ingress_wrapper" class="box-story--liftup">
	<a href="#" class="group-landing-link">
		<div class="box-story__image">
			<div about="/en/atom/1641" typeof="">
				<img src="images/wide_322x190.jpg" alt="" title="" />
			</div>       
		</div>
		<h3 class="box-story__title">
			Become a doctor?        
		</h3>
		<div class="box-story__content">
			Want to become a Doctor? Would you like to contribute to the academic community? Apply for the doctorate programme and 
			participate in top research at the University of Helsinki.
		</div>
		<div class="box-story__link">
			Doctoral schools and programmes        
		</div>
	</a>
</div>