<div class="ui-component favorites-container" role="article">
	<div class="tube">
		<h2 class="ui-component__title border-bottom">
			favorites
		</h2>
	</div>
	
	<div class="dropzone">
		<ul class="itemlist">
			<li>
				<section class="favorites-list__item rss-feed island">
					<article>
						<a href="#" target="_blank"><img class="favorite-img" src="http://blogs.helsinki.fi/opettajienakatemia/files/2015/05/IMG_Murola.jpg"></a>
						<h4 class="rss-feed__item-title"><a href="#">Opettajien akatemia - Lärarakademin - Teachers' Academy</a></h4>
						<div class="rss-feed__date"></div>
					</article>
					<a class="favorites-list__remove" href=""><i class="fa fa-close"></i></a>
				</section>
			</li>
			
			<li>
				<section class="favorites-list__item rss-feed island">
					<article class="rss-feed__item">
						<h4 class="rss-feed__item-title"><a href="#">Joulumakeisten loppuunmyynti &amp; Ystävänpäivä 14.2!</a></h4>
						<div class="rss-feed__date">Suomikauppa.fi - Ajankohtaista 15.1.2015</div>
					</article>
					<article class="rss-feed__item">
						<h4 class="rss-feed__item-title"><a href="#">Joulun tärkeät päivämäärät!</a></h4>
						<div class="rss-feed__date">Suomikauppa.fi - Ajankohtaista 29.10.2014</div>
					</article>
					<article class="rss-feed__item">
						<h4 class="rss-feed__item-title"><a href="#">Ostoetukampanja 22.9-28.9</a></h4>
						<div class="rss-feed__date">Suomikauppa.fi - Ajankohtaista 22.9.2014</div>
					</article>
					<a class="favorites-list__remove" href=""><i class="fa fa-close"></i></a>
				</section>
			</li>
			
			<li class="favorites-list__item-wrapper">
				<article class="favorites-list__item add-new">
					<a class="add-favorite-button island" role="button" aria-label="add new" href="" tabindex="0">
						<h4 class="add-favorite-button__title hide-mobile-only">add new</h4>
						<span class="add-favorite-button__plus">+</span>
					</a>
				</article>
			</li>
		</ul>
	</div>
</div>

<div style="position: absolute; display: block;" >
	<div class="add-favorite-container">
		<div class="add-favorite-arrow"></div>
		<div class="add-favorite">
			<div class="add-favorite-step add-favorite-step-type">
				<ul role="list">
					<li role="listitem" class="bar">
						<a href="#" tabindex="0">RSS feed</a>
					</li>
					<li role="listitem" class="bar">
						<a href="#" tabindex="0">Website link</a>
					</li>
					<li role="listitem" class="bar">
						<a href="#" tabindex="0">Unicafe lunch menu</a>
					</li>
				</ul>
			</div>
			<div class="add-favorite-step add-favorite-step-details"aria-hidden="true">
				<form name="newFavoriteForm">
					<div></div>
				</form>
			</div>
		</div>
	</div>
</div>