<div class="ui-component favorites-container" role="article">
	<div class="tube">
		<h2 class="ui-component__title border-bottom">
			favorites
		</h2>
	</div>
	
	<div class="dropzone">
		<ul class="itemlist">
			<li class="favorites-list__item-wrapper">
				<article class="favorites-list__item add-new">
					<a class="add-favorite-button island" role="button" aria-label="add new" href="" tabindex="0">
						<h4 class="add-favorite-button__title hide-mobile-only">add new</h4>
						<span class="add-favorite-button__plus">+</span>
					</a>
				</article>
			</li>
		</ul>
	</div>
</div>
