<div>
	<ul class="global-messages" >
		<li>
			<div class="message error">
				<span class="message__icon"></span>
				<span>THIS IS A MESSAGE.</span>
				<a href="#" class="message__close"></a>
			</div>
		</li>
		<li>
			<div class="message error">
				<span class="message__icon"></span>
				<span>THIS IS ANOTHER MESSAGE.</span>
				<a href="#" class="message__close"></a>
			</div>
		</li>
		<li>
			<div class="message error">
				<span class="message__icon"></span>
				<span>AND A THIRD MESSAGE.</span>
				<a href="#" class="message__close"></a>
			</div>
		</li>
	</ul>
</div>