<div class="todo-items">
		<ul>
				<li class="todo-item done">
						Should do this.
						<span class="todo-action fa fa-check"></span>
						<span class="todo-action fa fa-close"></span>
				</li>
				<li class="todo-item">
						Lorem ipsum dolor sit amet
						<span class="todo-action fa fa-check"></span>
						<span class="todo-action fa fa-close"></span>
				</li>
				<li class="todo-item done">
						Dolor sit amet.
						<span class="todo-action fa fa-check"></span>
						<span class="todo-action fa fa-close"></span>
				</li>
		</ul>

		<div class="new-todo-item">
				<div class="input-container">
						<input type="text" placeholder="Add new" aria-label="Add new"/>
				</div>
				<button class="btn add-icon fa fa-plus" aria-label="Add"></button>
		</div>
</div>
