<div class="useful-links">
	<h3 class="ui-component__title">Useful information</h3>
	<a class="useful-links__edit" href="">
		<span class="hide-mobile-only">Done</span>
		<i class="fa fa-gear"></i>
	</a>
	<ul role="list" class="list-of-links theme-dark">
		<li class="useful-links__link" role="listitem">
			<span>
				<div>
					<a class="list-of-links__link edit editable">
						<i class="fa fa-bars hide-mobile-only"></i>
						<span>Bing <i class="fa fa-pencil"></i></span>
					</a>
				</div>
			</span>
			<a href="#" class="useful-links__delete-link"><i class="fa fa-close"></i></a>
		</li>
		<li class="useful-links__link" role="listitem">
			<span>
				<div>
					<div class="useful-links__edit-link-url">
						<input value="http://www.google.com">
						<a href=""><i class="fa fa-check"></i></a>
					</div>
				</div>
			</span>
		</li>
	</ul>
	<div class="new-useful-link-container">
		<div class="new-useful-link">
			<form name="newLinkUrlForm">
				<input type="url" placeholder="Add new link" value="">
			</form>
			<a class="btn new-useful-link__add-button" href="#"><i class="fa fa-plus"></i></a>
		</div>
	</div>
</div>
