<div class="accordion-content-item table-three-columns">
	<div>
		<h2 class="element-invisible block__title">Toistuvat tapahtumat</h2>
		<div>
			<div class="view-course-event-references ds-teaser-accordion--content--indented">
				<div class="view-header">
					<p><span class="ds-material-block--content"><span class="field accordion-content-item--label">Päivä</span><span class="field accordion-content-item--label">Aika</span><span class="field hide-from-three-column-tables accordion-content-item--label">Otsikko</span><span class="field remove-styles accordion-content-item--label">Tila</span></span></p>
				</div>
				<div class="view-content">
					<div class="views-row-odd views-row-first">
						<div class="ds-grid-container box-data border-bottom clearfix">
							<div class="ds-material-block">
								<div class="ds-material-block--content">
									<div class="field">Ti 10.3.2015</div>
									<div class="field">10:15 - 11:45</div>
									<div class="field hide-from-three-column-tables">Teatterin arkistot -praktikum (TTE250E)</div>
									<div class="field remove-styles">Päärakennus, sali 19</div>
								</div>
							</div>
						</div>
					</div>
					<div class="views-row-even">
						<div class="ds-grid-container box-data border-bottom clearfix">
							<div class="ds-material-block">
								<div class="ds-material-block--content">
									<div class="field">Ti 17.3.2015</div>
									<div class="field">10:15 - 11:45</div>
									<div class="field hide-from-three-column-tables">Teatterin arkistot -praktikum (TTE250E)</div>
									<div class="field remove-styles"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="views-row-odd">
						<div class="ds-grid-container box-data border-bottom clearfix">
							<div class="ds-material-block">
								<div class="ds-material-block--content">
									<div class="field">Ti 24.3.2015</div>
									<div class="field">10:15 - 11:45</div>
									<div class="field hide-from-three-column-tables">Teatterin arkistot -praktikum (TTE250E)</div>
									<div class="field remove-styles"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="views-row-even">
						<div class="ds-grid-container box-data border-bottom clearfix">
							<div class="ds-material-block">
								<div class="ds-material-block--content">
									<div class="field">Ti 31.3.2015</div>
									<div class="field">10:15 - 11:45</div>
									<div class="field hide-from-three-column-tables">Teatterin arkistot -praktikum (TTE250E)</div>
									<div class="field remove-styles"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="views-row-odd">
						<div class="ds-grid-container box-data border-bottom clearfix">
							<div class="ds-material-block">
								<div class="ds-material-block--content">
									<div class="field">Ti 14.4.2015</div>
									<div class="field">10:15 - 11:45</div>
									<div class="field hide-from-three-column-tables">Teatterin arkistot -praktikum (TTE250E)</div>
									<div class="field remove-styles"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="views-row-even">
						<div class="ds-grid-container box-data border-bottom clearfix">
							<div class="ds-material-block">
								<div class="ds-material-block--content">
									<div class="field">Ti 21.4.2015</div>
									<div class="field">10:15 - 11:45</div>
									<div class="field hide-from-three-column-tables">Teatterin arkistot -praktikum (TTE250E)</div>
									<div class="field remove-styles">Päärakennus, sali 19</div>
								</div>
							</div>
						</div>
					</div>
					<div class="views-row-odd views-row-last">
						<div class="ds-grid-container box-data border-bottom clearfix">
							<div class="ds-material-block">
								<div class="ds-material-block--content">
									<div class="field">Ma 27.4.2015</div>
									<div class="field">14:15 - 15:45</div>
									<div class="field hide-from-three-column-tables">Teatterin arkistot -praktikum (TTE250E)</div>
									<div class="field remove-styles">aud I, Päärakennus; Unioninkatu 34 (vanha puoli)</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>