<div class="is-table-wrapped">
	<div class="is-table-pinned">
		<table class="table-simple">
			<tr>
				<th>First row/column</th>
			</tr>
			<tr>
				<th>Second row</th>
			</tr>
			<tr>
				<th>Third row</th>
			</tr>
			<tr>
				<th>Fourth row</th>
			</tr>
			<tr>
				<th>Fifth row</th>
			</tr>
		</table>
	</div>
	<div class="is-table-scrollable">
		<table class="table-simple">
			<tr>
				<th>First column</th>
				<th>Second column</th>
				<th>Third column</th>
				<th>Fourth column</th>
				<th>Fifth column</th>
				<th>Sixth column</th>
			</tr>
			<tr>
				<td>First column</td>
				<td>Second column</td>
				<td>Third column</td>
				<td>Fourth column</td>
				<td>Fifth column</td>
				<td>Sixth column</td>
			</tr>
			<tr>
				<td>First column</td>
				<td>Second column</td>
				<td>Third column</td>
				<td>Fourth column</td>
				<td>Fifth column</td>
				<td>Sixth column</td>
			</tr>
			<tr>
				<td>First column</td>
				<td>Second column</td>
				<td>Third column</td>
				<td>Fourth column</td>
				<td>Fifth column</td>
				<td>Sixth column</td>
			</tr>
			<tr>
				<td>First column</td>
				<td>Second column</td>
				<td>Third column</td>
				<td>Fourth column</td>
				<td>Fifth column</td>
				<td>Sixth column</td>
			</tr>
		</table>
	</div>
</div>
