<ul class="list-of-links">
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent" href="#">Kaikki yksiköt</a></li>
</ul>
<ul class="list-of-links">
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
</ul>
