<ul class="list-of-links">
  <div class="list-of-links__title">Title</div>
  <div class="list-of-links__subtitle">Subtitle</div>
  <li><a class="list-of-links__link button--action icon--arrow-right" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right" href="#">Kaikki yksiköt</a></li>
</ul>
