<ul style="background: #222;" class="list-of-links--condensed theme-footer">
  <li><a class="list-of-links__link button--action icon--link-arrow theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--link-arrow theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--link-arrow theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--link-arrow theme-transparent" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--link-arrow theme-transparent" href="#">Kaikki yksiköt</a></li>
</ul>
