<ul class="list-of-links">
    <li><a class="button--action icon-next theme-transparent" href="#">Kaikki yksiköt</a></li>
    <li><a class="button--action icon-next theme-transparent" href="#">Kaikki yksiköt</a></li>
    <li><a class="button--action icon-next theme-transparent" href="#">Kaikki yksiköt</a></li>
    <li><a class="button--action icon-next theme-transparent" href="#">Kaikki yksiköt</a></li>
    <li><a class="button--action icon-next theme-transparent" href="#">Kaikki yksiköt</a></li>
</ul>
