<ul style="background: #222;" class="list-of-links--condensed theme-footer">
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
</ul>

<ul style="background: #f2f2f2;" class="list-of-links--condensed theme-info-footer">
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
  <li><a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt" href="#">Kaikki yksiköt</a></li>
</ul>
