<div class="accordion-alternative">
	<!-- Active tab -->
	<h3 class="accordion-item is-active"><a href="#">Material</a></h3>
	<div class="field-group-format-wrapper group-course-task-material field-group-accordion-item" style="display: block; overflow: hidden;">
		<div class="accordion-help accordion-content-item">
			<p>Help text.</p>
		</div>

		<div class="field">
			<div class="ds-teaser-accordion clearfix">
				<div class="ds-teaser-accordion--title">
					<div class="field field-name-title">
						<h4 class="ds-teaser-accordion--title_header">Nested</h4>
					</div>
				</div>
				<div class="ds-teaser-accordion--content" style="display: none;"></div>
			</div>
		</div>

		<div class="field">
			<div class="ds-teaser-accordion clearfix">
				<div class="ds-teaser-accordion--title is-active">
					<div class="field field-name-title">
						<h4 class="ds-teaser-accordion--title_header">Nested</h4>
					</div>
				</div>
				<div class="ds-teaser-accordion--content" style="display: none;"></div>
			</div>
		</div>

		<!-- Active tab -->
		<div class="field">
			<div class="ds-teaser-accordion clearfix">
				<div class="ds-teaser-accordion--title is-active">
					<div class="field field-name-title">
						<h4 class="ds-teaser-accordion--title_header">Nested</h4>
					</div>
				</div>
				<div class="ds-teaser-accordion--content" style="display: block;">
					<p>Tarkastelkaa teatterihistoriallisen tutkimuksen lähdeviitteitä ja lähdeluetteloa.</p>
					<p>Millaiselle aineistolle tutkimuksen esittämä tieto perustuu? Miten tähän aineistoon viitataan?</p>
				</div>
			</div>
		</div>
	</div>

	<h3 class="accordion-item"><a href="#">Assignments</a></h3>
	<div class="field-group-accordion-item" style="display: none;">
		<div class="accordion-content-item tighten">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed mattis orci. Fusce commodo diam eu turpis rhoncus, eu bibendum leo efficitur. Donec quis laoreet leo, non dapibus dui. Curabitur dui massa, sagittis eu erat ut, tincidunt pulvinar magna. Integer eget faucibus purus. Donec maximus pulvinar tellus, eu faucibus neque mattis eget. Proin ultricies auctor varius.
			</p>
		</div>
	</div>
</div>