<div class="accordion-alternative">
	<h3 class="accordion-item"><a href="#">Messages</a></h3>
	<div class="field-group-accordion-item" style="display: none;">
		<div class="accordion-content-item tighten">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed mattis orci. Fusce commodo diam eu turpis rhoncus, eu bibendum leo efficitur. Donec quis laoreet leo, non dapibus dui. Curabitur dui massa, sagittis eu erat ut, tincidunt pulvinar magna. Integer eget faucibus purus. Donec maximus pulvinar tellus, eu faucibus neque mattis eget. Proin ultricies auctor varius.
			</p>
		</div>
	</div>

	<h3 class="accordion-item"><a href="#">Schedule</a></h3>
	<div class="field-group-accordion-item" style="display: none;">
		<div class="accordion-content-item tighten">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed mattis orci. Fusce commodo diam eu turpis rhoncus, eu bibendum leo efficitur. Donec quis laoreet leo, non dapibus dui. Curabitur dui massa, sagittis eu erat ut, tincidunt pulvinar magna. Integer eget faucibus purus. Donec maximus pulvinar tellus, eu faucibus neque mattis eget. Proin ultricies auctor varius.
			</p>
		</div>
	</div>
	<!-- Active tab -->
	<h3 class="accordion-item is-active"><a href="#">Material</a></h3>
	<div class="field-group-accordion-item">
		<div class="accordion-content-item tighten">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed mattis orci. Fusce commodo diam eu turpis rhoncus, eu bibendum leo efficitur. Donec quis laoreet leo, non dapibus dui. Curabitur dui massa, sagittis eu erat ut, tincidunt pulvinar magna. Integer eget faucibus purus. Donec maximus pulvinar tellus, eu faucibus neque mattis eget. Proin ultricies auctor varius.
			</p>
		</div>
	</div>

	<h3 class="accordion-item"><a href="#">Assignments</a></h3>
	<div class="field-group-accordion-item" style="display: none;">
		<div class="accordion-content-item tighten">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed mattis orci. Fusce commodo diam eu turpis rhoncus, eu bibendum leo efficitur. Donec quis laoreet leo, non dapibus dui. Curabitur dui massa, sagittis eu erat ut, tincidunt pulvinar magna. Integer eget faucibus purus. Donec maximus pulvinar tellus, eu faucibus neque mattis eget. Proin ultricies auctor varius.
			</p>
		</div>
	</div>
</div>