<div class="horizontal-tabs clearfix">
  <ul class="horizontal-tabs-list">
    <li class="horizontal-tab-button horizontal-tab-button-0 first selected" tabindex="-1"><a href="#undefined"><strong>Koulutus</strong><span class="summary"></span><span id="active-horizontal-tab" class="element-invisible">(active tab)</span></a></li><li class="horizontal-tab-button horizontal-tab-button-1" tabindex="-1"><a href="#undefined"><strong>Hakeminen</strong><span class="summary"></span></a></li><li class="horizontal-tab-button horizontal-tab-button-2 last" tabindex="-1"><a href="#undefined"><strong>Humanistinen tiedekunta</strong><span class="summary"></span></a></li>
  </ul>
</div>