<ul class="pager">
  <li class="pager__prev"><a href="#" class="button--action-before icon--arrow-left">Edellinen</a></li>
  <li class="pager__page"><a title="Go to page 1" class="button" href="#">1</a></li>
  <li class="pager__page button is-active">2</li>
  <li class="pager__page"><a title="Go to page 3" class="button" href="#">3</a></li>
  <li class="pager__page"><a title="Go to page 4" class="button" href="#">4</a></li>
  <li class="pager__page"><a title="Go to page 5" class="button" href="#">5</a></li>
  <li class="pager__page"><a title="Go to page 6" class="button" href="#">6</a></li>
  <li class="pager__page"><a title="Go to page 7" class="button" href="#">7</a></li>
  <li class="pager__page"><a title="Go to page 8" class="button" href="#">8</a></li>
  <li class="pager__page"><a title="Go to page 9" class="button" href="#">9</a></li>
  <li class="pager__ellipsis">…</li>
  <li class="pager__next"><a href="#" class="button--action icon--arrow-right">Seuraava</a></li>
</ul>
