<div class="carousel-unwrapped">
  <ul class="carousel-unwrapped__slides">
    <li class="carousel-unwrapped__slide is-active-slide">
      <div class="carousel-unwrapped__content">
        <div class="l-subregion-wrapper">
          <div class="l-subregion">
            <div class="box-hero">
              <h2 class="box-hero__title">
                <span class="box-hero__shadow">          Suo. Kuok­ka. Jus­si.        </span>
              </h2>
              <div class="box-hero__content">
                <span class="box-hero__shadow">          Feature-julkaisu kertoo ja näyttää: #ilmastomuuttaa suot, kuokat ja jussit.        </span>
              </div>
              <div class="box-hero__link">
                <a class="button--action icon--arrow-right" href="http://features.helsinki.fi/suokuokkajussi/">Lue artikkeli</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-unwrapped__image">
        <img src="images/wide_322x190.jpg">
      </div>
    </li>
  </ul>
  <ul class="carousel-unwrapped__direction-nav">
    <li><a class="carousel-unwrapped__prev" href="#"></a></li>
    <li><a class="carousel-unwrapped__next" href="#"></a></li>
  </ul>
</div>
<br/>
<p>With raster theme:</p>

<div class="carousel-unwrapped">
  <div class="carousel-unwrapped__content theme-raster">
    <div class="l-subregion-wrapper">
      <div class="l-subregion">
        <div class="box-hero theme-prominent">
          <h1 class="box-hero__title">
            Va­rieng
          </h1>
          <h2 class="box-hero__alt-title">
            Alt title
          </h2>
          <div class="box-hero__link">
            <a class="button--action icon--arrow-right" href="#">Testilinkki</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-unwrapped__image">
    <img src="images/wide_322x190.jpg">
  </div>
</div>