<div class="carousel is-resized">
    <ul class="carousel__slides">
      <li>
        <div class="carousel__slide">
          <div class="carousel__image">
            <img src="images/wide_322x190.jpg" alt="test" title="test">
          </div>
          <div class="carousel__content">Kuvateksti</div>
        </div>
        <div class="carousel__credits">    Photo:     Matti Meikäläinen  </div>
      </li>
    </ul>
    <ul class="carousel__direction-nav">
      <li class="carousel__nav-prev"><a class="carousel__prev" href="#"></a></li>
      <li class="carousel__nav-next"><a class="carousel__next" href="#"></a></li>
    </ul>
  </div>
</div>