<div class="carousel-unwrapped--teaser">
  <div class="carousel-unwrapped__content theme-raster">
    <div class="l-subregion-wrapper">
      <div class="l-subregion">
        <div class="box-hero theme-small">
          <h1 class="box-hero__title">
            Va­rieng
          </h1>
          <h2 class="box-hero__alt-title">
            Alt title
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-unwrapped__image">
    <img src="images/wide_322x190.jpg">
  </div>
</div>