<!-- <div class="carousel is-resized">
  <ul class="carousel__slides">
    <li class="carousel__active-slide">
      <div class="carousel__slide">
        <div class="carousel__trigger">
          <a href="#">&nbsp;</a>
        </div>
        <div class="carousel__image">
          <img src="images/wide_322x190.jpg">
        </div>
        <div class="carousel__content">Italialiaiset testasivat Pohjolassa myös saunomista. Pohjolan asukkaiden yleinen flegmaattisuus selitti senkin, että naiset ja miehet saattoivat saunoa yhdessä, he päättelivät.</div>
      </div>
      <div class="carousel__credits">Wikimedia Commons</div>
    </li>
  </ul>
  <ol class="carousel__control-nav carousel__control-paging"></ol>
  <ul class="carousel__direction-nav" style="display: none;">
    <li><a class="carousel__prev carousel__disabled" href="#" tabindex="-1"></a></li>
    <li><a class="carousel__next carousel__disabled" href="#" tabindex="-1"></a></li>
  </ul>
</div> -->


<div class="carousel is-resized">
    <ul class="carousel__slides">
      <li>
        <div class="carousel__slide" data-module="views_fieldsets">
          <div class="carousel__image">
            <img src="images/wide_322x190.jpg" alt="test" title="test" draggable="false">
          </div>
          <div class="carousel__content">Ökökö</div>
        </div>
        <div class="carousel__credits">    Photo:     Kääkkä Blasterd  </div>
      </li>
    </ul>
    <ul class="carousel__direction-nav">
      <li class="carousel__nav-prev"><a class="carousel__prev" href="#"></a></li>
      <li class="carousel__nav-next"><a class="carousel__next" href="#"></a></li>
    </ul>
  </div>
</div>