<div class="feed-listing">
  <div class="feed-listing__item">
    <div class="feed-listing__title"><a href="http://tuhat.halvi.helsinki.fi/portal/fi/publications/ways-of-agreeing-wi(355326f3-119d-474a-a386-74f484eb493a).html" target="_new">Ways of agreeing with negative stancetaking</a></div>
    <div class="feed-listing__date">1.1.2011</div>
    <div class="feed-listing__content">
      <div class="rendering rendering_publication  rendering_publication_short rendering_contribtobookanthology rendering_short rendering_contribtobookanthology_short">
        <a rel="Person" href="http://tuhat.halvi.helsinki.fi/portal/fi/persons/auli-hakulinen(7eb84f0f-ce77-43fd-bc47-d2cb71edd87b).html" class="link person">Hakulinen, A.</a> &amp; <a rel="Person" href="http://tuhat.halvi.helsinki.fi/portal/fi/persons/marjaleena-sorjonen(90f422bd-b7e3-42e8-abc2-01ee5b32bb43).html" class="link person">Sorjonen, M-L.</a> 2011 <em>The morality of knowledge in conversation.</em> Stivers, T., Mondada, L. &amp; Steensig, J. (toim.). 1. toim. Cambridge, UK: Cambridge University Press, Vuosikerta 2011, s. 235-256 21 Sivumäärä<br>
        <p class="type">Julkaisu: Julkaisu kirjassa/kokoomateoksessa › A3 Kirjan tai muun kokoomateoksen osa (vertaisarvioitu)</p>
      </div>
    </div>
  </div>
  <div class="feed-listing__item">
    <div class="feed-listing__title"><a href="http://tuhat.halvi.helsinki.fi/portal/fi/publications/ways-of-agreeing-wi(355326f3-119d-474a-a386-74f484eb493a).html" target="_new">Ways of agreeing with negative stancetaking</a></div>
    <div class="feed-listing__date">1.1.2011</div>
    <div class="feed-listing__content">
      <div class="rendering rendering_publication  rendering_publication_short rendering_contribtobookanthology rendering_short rendering_contribtobookanthology_short">
        <a rel="Person" href="http://tuhat.halvi.helsinki.fi/portal/fi/persons/auli-hakulinen(7eb84f0f-ce77-43fd-bc47-d2cb71edd87b).html" class="link person">Hakulinen, A.</a> &amp; <a rel="Person" href="http://tuhat.halvi.helsinki.fi/portal/fi/persons/marjaleena-sorjonen(90f422bd-b7e3-42e8-abc2-01ee5b32bb43).html" class="link person">Sorjonen, M-L.</a> 2011 <em>The morality of knowledge in conversation.</em> Stivers, T., Mondada, L. &amp; Steensig, J. (toim.). 1. toim. Cambridge, UK: Cambridge University Press, Vuosikerta 2011, s. 235-256 21 Sivumäärä<br>
        <p class="type">Julkaisu: Julkaisu kirjassa/kokoomateoksessa › A3 Kirjan tai muun kokoomateoksen osa (vertaisarvioitu)</p>
      </div>
    </div>
  </div>
</div>