<div class="index-alpha">
  <div class="index-alpha__group">
    <div class="index-alpha__initial">      K    </div>
    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last index-alpha__row">
      <div class="index-alpha__title">
        <a href="#kissamaisteri">Kissamaisteri</a>
      </div>
    </div>
  </div>
  <div class="index-alpha__group">
    <div class="index-alpha__initial">      Ö    </div>
    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last index-alpha__row">
      <div class="index-alpha__title">
        <a href="#kandi-of-the-perpeprbeoprbop">Ökandi</a>
      </div>
      <div class="index-alpha__subtitle">
        Ingressiteksti
      </div>
    </div>
  </div>
  <div class="index-alpha__group">
    <div class="index-alpha__initial">      U    </div>
    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last index-alpha__row">
      <div class="index-alpha__title">
        <a href="#ugaatti-bugaatti">Ugaattibugaatti</a>
      </div>
    </div>
  </div>
</div>