<div class="index-topical">
  <div class="index-topical__title">
    <a href="#">Aasian tutkimus, humanististen tieteiden kandidaatti</a>
  </div>
  <div class="index-topical__content">
    <div class="index-topical__field">
      Humanistinen tiedekunta
    </div>
    <div class="index-topical__field">
      180 ECTS
    </div>
    <div class="index-topical__field">
      2015 Syksy
    </div>
    <div class="index-topical__field">
      suomi
    </div>
  </div>
</div>
<div class="index-topical">
  <div class="index-topical__title">
    <a href="#">Aasian tutkimus, humanististen tieteiden kandidaatti</a>
  </div>
  <div class="index-topical__content">
    <div class="index-topical__field">
      Humanistinen tiedekunta
    </div>
    <div class="index-topical__field">
      180 ECTS
    </div>
    <div class="index-topical__field">
      2015 Syksy
    </div>
    <div class="index-topical__field">
      suomi
    </div>
  </div>
</div>
<div class="index-topical">
  <div class="index-topical__title">
    <a href="#">Aasian tutkimus, humanististen tieteiden kandidaatti</a>
  </div>
  <div class="index-topical__content">
    <div class="index-topical__field">
      Humanistinen tiedekunta
    </div>
    <div class="index-topical__field">
      180 ECTS
    </div>
    <div class="index-topical__field">
      2015 Syksy
    </div>
    <div class="index-topical__field">
      suomi
    </div>
  </div>
</div>

<br/>
<br/>
Theme prominent
<br/>
<br/>
<br/>
<br/>

<div class="index-topical theme-prominent">
  <div class="index-topical__title">
    <a href="#">Aasian tutkimus, humanististen tieteiden kandidaatti</a>
  </div>
  <div class="index-topical__content">
    <div class="index-topical__field">
      Humanistinen tiedekunta
    </div>
    <div class="index-topical__field">
      180 ECTS
    </div>
    <div class="index-topical__field">
      2015 Syksy
    </div>
    <div class="index-topical__field">
      suomi
    </div>
  </div>
</div>
<div class="index-topical theme-prominent">
  <div class="index-topical__title">
    <a href="#">Aasian tutkimus, humanististen tieteiden kandidaatti</a>
  </div>
  <div class="index-topical__content">
    <div class="index-topical__field">
      Humanistinen tiedekunta
    </div>
    <div class="index-topical__field">
      180 ECTS
    </div>
    <div class="index-topical__field">
      2015 Syksy
    </div>
    <div class="index-topical__field">
      suomi
    </div>
  </div>
</div>
<div class="index-topical theme-prominent">
  <div class="index-topical__title">
    <a href="#">Aasian tutkimus, humanististen tieteiden kandidaatti</a>
  </div>
  <div class="index-topical__content">
    <div class="index-topical__field">
      Humanistinen tiedekunta
    </div>
    <div class="index-topical__field">
      180 ECTS
    </div>
    <div class="index-topical__field">
      2015 Syksy
    </div>
    <div class="index-topical__field">
      suomi
    </div>
  </div>
</div>
