/*
	section: 5
	title: Navigation
	description: Description about navigation.
 */
 
 /*
	section: 5.1
	title: Main navigation
	template: 5_1_main_navigation
	description: The main navigation is built up by two components. The "Main menu" which also acts as the responsive menu, and a sub menu (called the fat menu).
 */
 @import '_main-menu';
 @import '_fat-menu';
 
 @import '_side-menu';