/*
 section: 5.2
 title: Side menu
 template: 5_2_side-menu
 description: The side menu.
*/
.side-menu {
	margin: 1em 0;
	padding-left: 1.25em;

	li {
		padding-bottom: 0.75em;
		padding-top: 0.75em;
	}

	a {
		@include font-size(15px);
		@include font-weight-bold;
		color: $blue;
		display: block;
		line-height: 1.25em;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			color: $darkblue;
		}

		&.active-trail {
			color: $darkblue;
		}
	}

	.level-2 {
		border-bottom: 1px solid $lightsilver;

		> .menu {
			display: none;
			border-left: 1px solid $lightsilver;
			margin: 1em 0;
			padding: 0;
		}

		&.active-trail {
			 > .menu {
				display: block;
			}
		}

		&.last {
			border-bottom: 0 none;
		}
	}

	.level-3 {
		a {
			@include font-weight-book;
			color: $lightgray;
			padding-left: 1.25em;
			position: relative;
			text-transform: none;

			&:hover,
			&.active-trail {
				color: $darkblue;
			}

			&.active-trail {
				&:before {
					@include font-awesome("\f0da");
					@include font-size(22px);
					left: 0;
					top: 1px;
					position: absolute;
				}
			}
		}
	}
}
