$icon-path : '/assets/fonts/';

@font-face {
	font-family: "hy-icons";
	src: url($icon-path + 'hy-icons.eot');
	src: url($icon-path + 'hy-icons.eot?#iefix') format('eot'),
		url($icon-path + 'hy-icons.woff') format('woff'),
		url($icon-path + 'hy-icons.ttf') format('truetype'),
		url($icon-path + 'hy-icons.svg#hy-icons') format('svg');
}

.icon:before {
	font-family: "hy-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-hy-Icons_add-to-todo-list:before {
	content: "\E001";
}

.icon-hy-Icons_arrow-up:before {
	content: "\E002";
}

.icon-hy-Icons_arrow:before {
	content: "\E003";
}

.icon-hy-Icons_avatar-group:before {
	content: "\E004";
}

.icon-hy-Icons_avatar:before {
	content: "\E005";
}

.icon-hy-Icons_bachelor:before {
	content: "\E006";
}

.icon-hy-Icons_camera:before {
	content: "\E007";
}

.icon-hy-Icons_chat:before {
	content: "\E008";
}

.icon-hy-Icons_date:before {
	content: "\E009";
}

.icon-hy-Icons_discover:before {
	content: "\E00A";
}

.icon-hy-Icons_done:before {
	content: "\E00B";
}

.icon-hy-Icons_download:before {
	content: "\E00C";
}

.icon-hy-Icons_drag:before {
	content: "\E00D";
}

.icon-hy-Icons_drop-down:before {
	content: "\E00E";
}

.icon-hy-Icons_edit-event:before {
	content: "\E00F";
}

.icon-hy-Icons_edit:before {
	content: "\E010";
}

.icon-hy-Icons_events:before {
	content: "\E011";
}

.icon-hy-Icons_facebook:before {
	content: "\E012";
}

.icon-hy-Icons_favorites:before {
	content: "\E013";
}

.icon-hy-Icons_grid:before {
	content: "\E014";
}

.icon-hy-Icons_hamburger:before {
	content: "\E015";
}

.icon-hy-Icons_home:before {
	content: "\E016";
}

.icon-hy-Icons_hy-logo:before {
	content: "\E017";
}

.icon-hy-Icons_info:before {
	content: "\E018";
}

.icon-hy-Icons_link-arrow-offsite:before {
	content: "\E019";
}

.icon-hy-Icons_link-arrow:before {
	content: "\E01A";
}

.icon-hy-Icons_linkedin:before {
	content: "\E01B";
}

.icon-hy-Icons_list:before {
	content: "\E01C";
}

.icon-hy-Icons_location:before {
	content: "\E01D";
}

.icon-hy-Icons_log:before {
	content: "\E01E";
}

.icon-hy-Icons_magnify-minus:before {
	content: "\E01F";
}

.icon-hy-Icons_magnify-plus:before {
	content: "\E020";
}

.icon-hy-Icons_master:before {
	content: "\E021";
}

.icon-hy-Icons_minus:before {
	content: "\E022";
}

.icon-hy-Icons_modify:before {
	content: "\E023";
}

.icon-hy-Icons_navi-triangle:before {
	content: "\E024";
}

.icon-hy-Icons_new-group:before {
	content: "\E025";
}

.icon-hy-Icons_new-person:before {
	content: "\E026";
}

.icon-hy-Icons_notification:before {
	content: "\E027";
}

.icon-hy-Icons_opinder-logo-new:before {
	content: "\E028";
}

.icon-hy-Icons_opinder-logo:before {
	content: "\E029";
}

.icon-hy-Icons_pdf:before {
	content: "\E02A";
}

.icon-hy-Icons_people:before {
	content: "\E02B";
}

.icon-hy-Icons_person-outline:before {
	content: "\E02C";
}

.icon-hy-Icons_person:before {
	content: "\E02D";
}

.icon-hy-Icons_plus:before {
	content: "\E02E";
}

.icon-hy-Icons_profile:before {
	content: "\E02F";
}

.icon-hy-Icons_question:before {
	content: "\E030";
}

.icon-hy-Icons_remove:before {
	content: "\E031";
}

.icon-hy-Icons_search:before {
	content: "\E032";
}

.icon-hy-Icons_time:before {
	content: "\E033";
}

.icon-hy-Icons_todo-list:before {
	content: "\E034";
}

.icon-hy-Icons_twitter:before {
	content: "\E035";
}

.icon-hy-Icons_units-and-faculties:before {
	content: "\E036";
}

.icon-hy-Icons_video:before {
	content: "\E037";
}

.icon-hy-Icons_warning:before {
	content: "\E038";
}

.icon-hy-Icons_you-tube:before {
	content: "\E039";
}
